<!-- <div class="ts-travel-style mt-5 py-5">
    <div class="container">
        <div class="ts-category-list">
            <h3>CHOOSE YOUR<i>Travel</i>&nbsp;&nbsp; Style</h3>
            <div class="col-sm-12 gap-4 d-flex align-items-center justify-content-center">
                <a href="#" class="offer-me">
                    <img src="../../assets/slider/package-1.png">
                </a>
                <a href="#">
                    <img src="../../assets/slider/package-2.png">
                </a>
                <a href="#">
                    <img src="../../assets/slider/package-3.png">
                </a>
                <a href="#">
                    <img src="../../assets/slider/package-4.png">
                </a>
                <a href="#">
                    <img src="../../assets/slider/package-5.png">
                </a>
            </div>
        </div>
    </div>
</div> -->

<div class="ts-travel-style mt-4 mt-sm-5 py-4 py-sm-5 d-none d-sm-flex">
    <div class="container">
        <div class="destination-page__row row mb-4 mb-sm-5">
            <div class="col-xl-3 col-md-6 mt-4">
                <div class="sec-title text-left">
                    <p class="sec-title__tagline">Destination list</p>
                    <h3 class="sec-title__title">Choose <br> your <i>travel</i> Style</h3>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mt-4">
                <div class="destination-one__card">
                    <div class="destination-one__card-img-box destination-one__card-img-box--round">
                        <img decoding="async" src="../../assets/travel-1.jpg" alt="alt" title="destination-1-2"
                            class="destination-one__card-img destination-one__card-img--round">
                        <div class="destination-one__card-overlay destination-one__card-overlay--round">
                            <div class="destination-one__card-content destination-one__card-content--round">
                                <a href="#"
                                    class="destination-one__card-btn destination-one__card-btn--round trevlo-btn trevlo-btn--base trevlo-btn--base-three">
                                    <span>8 TOURS</span>
                                </a>
                                <h4 class="destination-one__card-title"><a href="#">Couple</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-8 mt-4">
                <div class="destination-one__card">
                    <div class="destination-one__card-img-box destination-one__card-img-box--round">
                        <img decoding="async" src="../../assets/travel-5.webp" alt="alt" title="destination-1-3"
                            class="destination-one__card-img destination-one__card-img--round">
                        <div class="destination-one__card-overlay destination-one__card-overlay--round">
                            <div class="destination-one__card-content destination-one__card-content--round">
                                <a href="#"
                                    class="destination-one__card-btn destination-one__card-btn--round trevlo-btn trevlo-btn--base trevlo-btn--base-three">
                                    <span>7 TOURS</span>
                                </a>
                                <h4 class="destination-one__card-title"><a href="#">Family</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-md-6 mt-4">
                <div class="destination-one__card">
                    <div class="destination-one__card-img-box destination-one__card-img-box--circle">
                        <img decoding="async" src="../../assets/travel-5.jpeg" alt="alt" title="destination-1-4"
                            class="destination-one__card-img destination-one__card-img--circle">
                        <div class="destination-one__card-overlay destination-one__card-overlay--circle">
                            <div class="destination-one__card-content destination-one__card-content--circle">
                                <a href="#"
                                    class="destination-one__card-btn destination-one__card-btn--circle trevlo-btn trevlo-btn--base trevlo-btn--base-three">
                                    <span>8 TOURS</span>
                                </a>
                                <h4 class="destination-one__card-title"><a href="#">Solo</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mt-4">
                <div class="destination-one__card">
                    <div class="destination-one__card-img-box destination-one__card-img-box--round">
                        <img decoding="async" src="../../assets/travel-4.webp" alt="alt" title="destination-1-3"
                            class="destination-one__card-img destination-one__card-img--round">
                        <div class="destination-one__card-overlay destination-one__card-overlay--round">
                            <div class="destination-one__card-content destination-one__card-content--round">
                                <a href="#"
                                    class="destination-one__card-btn destination-one__card-btn--round trevlo-btn trevlo-btn--base trevlo-btn--base-three">
                                    <span>8 TOURS</span>
                                </a>
                                <h4 class="destination-one__card-title"><a href="#">honeymoon</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-8 mt-4">
                <div class="destination-one__card">
                    <div class="destination-one__card-img-box destination-one__card-img-box--round">
                        <img decoding="async" src="../../assets/travel-5.jpeg" alt="alt" title="destination-1-3"
                            class="destination-one__card-img destination-one__card-img--round">
                        <div class="destination-one__card-overlay destination-one__card-overlay--round">
                            <div class="destination-one__card-content destination-one__card-content--round">
                                <a href="#"
                                    class="destination-one__card-btn destination-one__card-btn--round trevlo-btn trevlo-btn--base trevlo-btn--base-three">
                                    <span>7 TOURS</span>
                                </a>
                                <h4 class="destination-one__card-title"><a href="#">Corporate</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ts-travel-style mt-4 mt-sm-5 py-4 py-sm-5 d-flex d-sm-none">
    <div class="container">
        <div class="destination-page__row mb-0 mb-sm-5">
            <div class="col-xl-12 mt-0 mt-sm-4">
                <div class="sec-title text-left">
                    <p class="sec-title__tagline">Destination list</p>
                    <h3 class="sec-title__title">Choose <br> your <i>travel</i> Style</h3>
                </div>
            </div>
            <div class="destination-travel-wrap grid-container">
                <div class="col destination-box grid-item">
                    <img decoding="async" src="../../assets/travel-1.jpg" alt="alt">
                    <div class="overlay-text">
                        <a href="#"
                        class="destination-one__card-btn destination-one__card-btn--round trevlo-btn trevlo-btn--base trevlo-btn--base-three">
                        <span>7 TOURS</span>
                    </a>
                    <h4 class="destination-one__card-title"><a href="#">Couple</a>
                    </h4>
                    </div>
                </div>
                <div class="col destination-box grid-item">
                    <img decoding="async" src="../../assets/travel-2.jpg" alt="alt">
                    <div class="overlay-text">
                        <a href="#"
                        class="destination-one__card-btn destination-one__card-btn--round trevlo-btn trevlo-btn--base trevlo-btn--base-three">
                        <span>7 TOURS</span>
                    </a>
                    <h4 class="destination-one__card-title"><a href="#">Family</a>
                    </h4>
                    </div>
                </div>
                <div class="col destination-box grid-item grid-item-full">
                    <img decoding="async" src="../../assets/travel-5.jpeg" alt="alt">
                    <div class="overlay-text">
                        <a href="#"
                        class="destination-one__card-btn destination-one__card-btn--round trevlo-btn trevlo-btn--base trevlo-btn--base-three">
                        <span>7 TOURS</span>
                    </a>
                    <h4 class="destination-one__card-title"><a href="#">Solo</a>
                    </h4>
                    </div>
                </div>
                <div class="col destination-box grid-item">
                    <img decoding="async" src="../../assets/travel-4.webp" alt="alt">
                    <div class="overlay-text">
                        <a href="#"
                        class="destination-one__card-btn destination-one__card-btn--round trevlo-btn trevlo-btn--base trevlo-btn--base-three">
                        <span>7 TOURS</span>
                    </a>
                    <h4 class="destination-one__card-title"><a href="#">Honeymoon</a>
                    </h4>
                    </div>
                </div>
                <div class="col destination-box grid-item">
                    <img decoding="async" src="../../assets/travel-1.jpg" alt="alt">
                    <div class="overlay-text">
                        <a href="#"
                        class="destination-one__card-btn destination-one__card-btn--round trevlo-btn trevlo-btn--base trevlo-btn--base-three">
                        <span>7 TOURS</span>
                    </a>
                    <h4 class="destination-one__card-title"><a href="#">Groups</a>
                    </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>