<app-header></app-header>
<div class="container-fluid px-0 top-70">
    <div class="guides-wrap">
        <div class="container align-items-center justify-content-center d-flex flex-column px-3">
            <h4>The World is a book, and those who
                do not travel read only a page</h4>
            <ul id="breadcrumb-list" class="breadcrumb-list">
                <li class="breadcrumb-item"><a href="https://triprex.egenslab.com"> Home </a></li>
                <li class="active">Guides</li>
            </ul>
            <input type="text" placeholder="enter guide">
        </div>
    </div>
    <div class="container mt-3 mt-sm-5">
        <div class="category-bx">
            <a class="landing-cards-section-image" href="#" routerLink="/guide-details"><img class="landing__img" alt="Bali-image"
                    src="../../assets/menu-banner.avif">
                <div class="landing-cards-icon effect-lily"><i class="icon_1"></i>
                    <h2>Asia</h2>
                </div>
            </a>
            <a class="landing-cards-section-image" href="#" routerLink="/guide-details"><img class="landing__img" alt="Bali-image"
                    src="../../assets/desktop_1.avif">
                <div class="landing-cards-icon effect-lily"><i class="icon_1"></i>
                    <h2>Australia</h2>
                </div>
            </a>
            <a class="landing-cards-section-image" href="#" routerLink="/guide-details"><img class="landing__img" alt="Bali-image"
                    src="../../assets/desktop1.webp">
                <div class="landing-cards-icon effect-lily"><i class="icon_1"></i>
                    <h2>europe</h2>
                </div>
            </a>
            <a class="landing-cards-section-image" href="#" routerLink="/guide-details"><img class="landing__img" alt="Bali-image"
                    src="../../assets/desktop.jpg">
                <div class="landing-cards-icon effect-lily"><i class="icon_1"></i>
                    <h2>island</h2>
                </div>
            </a>
            <a class="landing-cards-section-image" href="#" routerLink="/guide-details"><img class="landing__img" alt="Bali-image"
                    src="../../assets/offer-4.avif">
                <div class="landing-cards-icon effect-lily"><i class="icon_1"></i>
                    <h2>New zealand</h2>
                </div>
            </a>
            <a class="landing-cards-section-image" href="#" routerLink="/guide-details"><img class="landing__img" alt="Bali-image"
                    src="../../assets/offer-3.avif">
                <div class="landing-cards-icon effect-lily"><i class="icon_1"></i>
                    <h2>Asia</h2>
                </div>
            </a>
        </div>

        <div class="col-sm-12 mt-4">
            <div class="col-xs-12">
                <h1 title="World Travel Destination Guides" class="h4">World Travel Guides</h1>
                <p class="small">To most travellers, an international destination becomes fairly familiar before they
                    embark on
                    their trip. Thanks to the internet. However, many searches, multiple sites and a lot of headaches.
                    Presenting,
                    the World’s Best Travel Guides from TravelSukham - your one stop destination for the most updated
                    information
                    on international destinations.</p>
                <p class="small bold">How our travel guide is helpful?</p>
                <ul class="small">
                    <li>The World Travel Guides aims at providing everything for travellers about a destination, before
                        they
                        actually head out.</li>
                    <li>Be it honeymooners, budget travellers, family trippers, these country guides will give
                        travellers a peep
                        into the destination’s culture, etiquette, cuisine and more.</li>
                    <li>These Guides give the traveller a well rounded idea of the type of destination they have chosen.
                    </li>
                    <li>There are also tips on what to eat, how to go around, best places to stay and the key
                        attractions to be
                        covered in the country.</li>
                    <li>On every travellers mind is the constant question of how much should a vacation be budgeted at,
                        and our
                        Guides solves that with cost of living tips and advise.</li>
                    <li>Also read interesting articles on the destination and travel experiences written by travellers
                        themselves.
                    </li>
                </ul>
                <p class="small">World Travel Guides takes travellers through a visual journey through destinations such
                    as<a href=""> New Zealand</a>,<a href=""> Bali</a>,<a href="">
                        France</a>,<a href=""> Italy </a> and more. Read about places, how you can<a href=""
                        target="_blank"> plan a trip</a> and even book your
                    vacation, all
                    at one go.</p>
            </div>
        </div>
    </div>
</div>

<!-- <app-footer></app-footer> -->