<div class="checkout-header col-sm-12">
    <div class="row d-flex justify-content-center align-items-center w-100">
        <div class="col-6 col-sm-4 align-items-start justify-content-start d-flex gap-1 gap-sm-3 order-1 order-sm-2" routerLink="/hotel-detail">
            <span class="material-symbols-outlined">
                chevron_left
            </span> Back
        </div>
        <div class="col-6 col-sm-4 travel-logo align-items-center justify-content-end justify-sm-content-center d-flex order-1 order-sm-2">
            <div class="logo">
                <img src="../../assets/ts-logo.png" alt="">
            </div>
        </div>
        <div class="col-12 col-sm-4 need-help align-items-end justify-content-end d-flex gap-3 mt-3 mt-sm-0 order-3 order-sm-1">
            <strong>Need Help</strong>
            <span class="material-symbols-outlined">
                call
            </span>
            +91 - 94262683050
        </div>
    </div>
</div>

<div class="container-fluid final-choose-package-detail my-3 mt-sm-5">
    <div class="container">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-8">
                    <div class="selected-package">
                        <h4 class="mb-3 mb-sm-4">Let’s review your escape
                        </h4>
                        <div class="col-sm-12 choose-package">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img src="../../assets/img2.webp" class="fluid-img h-100 w-100">
                                </div>
                                <div class="col-sm-8 mt-3 mt-sm-0">
                                    <label class="start-place-label"><svg viewBox="0 0 24 24" fill="none"
                                            class="SvgIcon__StyledSvgIcon-sc-ks6tpc-0 eIuNbC">
                                            <path fill="currentColor"
                                                d="M12 2a8 8 0 0 0-8 8c0 5.4 7.05 11.5 7.35 11.76a1 1 0 0 0 1.3 0C13 21.5 20 15.4 20 10a8.0003 8.0003 0 0 0-8-8Zm0 17.65c-2.13-2-6-6.31-6-9.65a6 6 0 1 1 12 0c0 3.34-3.87 7.66-6 9.65ZM12 6a4 4 0 1 0 0 8.0001A4 4 0 0 0 12 6Zm0 6a2 2 0 0 1-1.9616-2.3902 2.0003 2.0003 0 0 1 2.727-1.4576A1.9998 1.9998 0 0 1 14 10a2 2 0 0 1-2 2Z">
                                            </path>
                                        </svg> Starts and ends in <b>Istanbul</b></label>
                                    <h4>Turkiye Highlights with Hot Springs Visit & Bosphorus Cruise</h4>
                                    <div class="d-flex flex-row justify-content-between mt-3 mb-3">
                                        <div class="operated-by">Operated by<span>Mapping Journeys</span> </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div
                                            class="start-from d-flex flex-row justify-content-start align-items-center gap-4">
                                            <div class="d-flex flex-column">
                                                <label>Start date</label>
                                                <span><strong>Sun, 03 Nov 2024
                                                    </strong></span>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <span class="material-symbols-outlined">
                                                    east
                                                </span>
                                            </div>
                                            <div class="d-flex flex-column">
                                                <label>End date</label>
                                                <span><strong>Sun, 10 Nov 2024
                                                    </strong></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hight-light-include mt-4">
                                    <h5>Hightlights include</h5>
                                    <div class="col-sm-12">
                                        <span>
                                            <svg viewBox="0 0 24 24" fill="none"
                                                class="SvgIcon__StyledSvgIcon-sc-ks6tpc-0 eIuNbC">
                                                <path fill="currentColor"
                                                    d="M12 2a8 8 0 0 0-8 8c0 5.4 7.05 11.5 7.35 11.76a1 1 0 0 0 1.3 0C13 21.5 20 15.4 20 10a8.0003 8.0003 0 0 0-8-8Zm0 17.65c-2.13-2-6-6.31-6-9.65a6 6 0 1 1 12 0c0 3.34-3.87 7.66-6 9.65ZM12 6a4 4 0 1 0 0 8.0001A4 4 0 0 0 12 6Zm0 6a2 2 0 0 1-1.9616-2.3902 2.0003 2.0003 0 0 1 2.727-1.4576A1.9998 1.9998 0 0 1 14 10a2 2 0 0 1-2 2Z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span>Destinations Istanbul, Cappadocia, Konya, Pamukkale Natural Park, Izmir,
                                            Ephesus Ruins
                                        </span>
                                    </div>
                                    <div class="col-sm-12">
                                        <span>
                                            <svg viewBox="0 0 24 24" fill="none"
                                                class="SvgIcon__StyledSvgIcon-sc-ks6tpc-0 eIuNbC">
                                                <path fill="currentColor"
                                                    d="M7 12.5a2.9996 2.9996 0 0 0 2.7716-1.8519 3.0003 3.0003 0 0 0-.6503-3.2694A3 3 0 1 0 7 12.5Zm0-4a1 1 0 1 1 0 2 1 1 0 0 1 0-2Zm13-2h-8a1 1 0 0 0-1 1v6H3v-8a1 1 0 0 0-2 0v13a1 1 0 1 0 2 0v-3h18v3a1.0001 1.0001 0 0 0 2 0v-9a3 3 0 0 0-3-3Zm1 7h-8v-5h7a1 1 0 0 1 1 1v4Z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span>7 nights of handpicked accommodation

                                        </span>
                                    </div>
                                    <div class="col-sm-12">
                                        <span>
                                            <svg viewBox="0 0 24 24" fill="none"
                                                class="SvgIcon__StyledSvgIcon-sc-ks6tpc-0 eIuNbC">
                                                <path fill="currentColor"
                                                    d="M19 2a1 1 0 0 0-1 1v5.46l-1 .67V3a1.0002 1.0002 0 0 0-1.7071-.7071A1.0002 1.0002 0 0 0 15 3v6.13l-1-.67V3a1.0002 1.0002 0 0 0-1.7071-.7071A1.0002 1.0002 0 0 0 12 3v6a1.0006 1.0006 0 0 0 .45.83L15 11.54V21a1.0001 1.0001 0 0 0 2 0v-9.46l2.55-1.71A.9996.9996 0 0 0 20 9V3a1.0002 1.0002 0 0 0-1-1ZM9 2a5 5 0 0 0-5 5v6a1 1 0 0 0 1 1h3v7a1 1 0 1 0 2 0V3a1 1 0 0 0-1-1ZM8 12H6V7a2.9999 2.9999 0 0 1 2-2.83V12Z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span>14 meals included – seven breakfasts, one lunch and six dinners
                                        </span>
                                    </div>
                                    <div class="col-sm-12">
                                        <span>
                                            <svg viewBox="0 0 24 24" fill="none"
                                                class="SvgIcon__StyledSvgIcon-sc-ks6tpc-0 eIuNbC">
                                                <path fill="currentColor"
                                                    d="M21 10a1.0003 1.0003 0 0 0 .7072-.2928A.9999.9999 0 0 0 22 9V6a.9988.9988 0 0 0-.6836-.9482l-9-3a1.002 1.002 0 0 0-.6328 0l-9 3A.9989.9989 0 0 0 2 6v3a.9998.9998 0 0 0 1 1h1v7.1843A2.995 2.995 0 0 0 2 20v2a.9997.9997 0 0 0 1 1h18a.9992.9992 0 0 0 .7072-.2928A.9998.9998 0 0 0 22 22v-2a2.9952 2.9952 0 0 0-2-2.8157V10h1Zm-1 11H4v-1a1.001 1.001 0 0 1 1-1h14a1.0011 1.0011 0 0 1 1 1v1ZM6 17v-7h2v7H6Zm4 0v-7h4v7h-4Zm6 0v-7h2v7h-2ZM4 8V6.7207l8-2.667 8 2.667V8H4Z">
                                                </path>
                                            </svg>
                                        </span>
                                        <span>Discover the Blue Mosque and Hagia Sophia in Istanbul
                                        </span>
                                    </div>
                                    <div class="col-ms-12 more-option">
                                        <a href="#" class="text-black">+6 more</a>
                                    </div>
                                    <div class="col-ms-12 more-option mt-3">
                                        <a href="#" class="text-black">View Itinerary</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="select-category-package py-3 py-sm-4 border-lightgray border-bottom">
                            <h4>Classis Package</h4>
                            <div class="d-flex flex-aligns-item gap-2">
                                <span>2 Travellers </span><span class="material-symbols-outlined">
                                    fiber_smart_record
                                </span>1 Room
                            </div>
                        </div>
                        <div class="insurance-plan mt-4">
                            <div class="">
                                <h4>Want to add travel insurance?</h4>
                                <p>Travel protection is mandatory for all tours booked on TravelSukham. We've
                                    partnered with XCover to offer
                                    comprehensive cover tailored for your escape, so you can enjoy your tour worry-free.
                                </p>
                            </div>
                            <div class="col-sm-12 mt-5">
                                <div class="row gap-3 gap-sm-0">
                                    <div class="col-sm-6">
                                        <div class="insurance-option">
                                            <span class="special-choice">Populare Choice</span>
                                            <h5>Full Protection</h5>
                                            <ul>
                                                <li>
                                                    <span class="material-symbols-outlined">
                                                        check
                                                    </span>
                                                    Emergency medical and dental costs
                                                </li>
                                                <li>
                                                    <span class="material-symbols-outlined">
                                                        check
                                                    </span>
                                                    24/7 emergency medical assistance
                                                </li>
                                                <li>
                                                    <span class="material-symbols-outlined">
                                                        check
                                                    </span>
                                                    Flight and other prepaid trip costs if you have to cancel or cut
                                                    your trip short
                                                </li>
                                                <li>
                                                    <span class="material-symbols-outlined">
                                                        check
                                                    </span>
                                                    Baggage loss, delay or theft
                                                </li>
                                            </ul>
                                            <div>
                                                <a href="#" class="text-black">View all Details</a>
                                            </div>
                                            <div class="col-sm-12 mt-3">
                                                <div class="d-flex flex-row justify-content-between align-items-center">
                                                    <div class="d-flex flex-column w-auto align-items-start">
                                                        <label><b>+₹11,921.42</b> /person</label>
                                                        <span>₹23,842.83 total
                                                        </span>
                                                    </div>
                                                    <button class="add-protection-btn">Add Protection</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="insurance-option">
                                            <h5>Medical Protection only</h5>
                                            <ul>
                                                <li>
                                                    <span class="material-symbols-outlined">
                                                        check
                                                    </span>
                                                    Emergency medical and dental costs
                                                </li>
                                                <li>
                                                    <span class="material-symbols-outlined">
                                                        check
                                                    </span>
                                                    24/7 emergency medical assistance
                                                </li>
                                                <li class="disabled">
                                                    <span class="material-symbols-outlined">
                                                        close
                                                    </span>
                                                    Flight and other prepaid trip costs if you have to cancel or cut
                                                    your trip short
                                                </li>
                                                <li class="disabled">
                                                    <span class="material-symbols-outlined">
                                                        close
                                                    </span>
                                                    Baggage loss, delay or theft
                                                </li>
                                            </ul>
                                            <div>
                                                <a href="#" class="text-black">View all Details</a>
                                            </div>
                                            <div class="col-sm-12 mt-3">
                                                <div class="d-flex flex-row justify-content-between align-items-center">
                                                    <div class="d-flex flex-column w-auto align-items-start">
                                                        <label><b>+₹11,921.42</b> /person</label>
                                                        <span>₹23,842.83 total
                                                        </span>
                                                    </div>
                                                    <button class="add-protection-btn">Add Protection</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dont-want-protection mt-3 mt-sm-4">
                            <h4>I don't want protection</h4>
                            <button>Don't add protection</button>
                        </div>
                    </div>

                    <div class="who-going-traval mt-3 mt-sm-5">
                        <h4>Who's Going?</h4>

                        <div class="instruction-must mt-3">
                            <div>
                                <span class="material-symbols-outlined">
                                    info
                                </span>
                            </div>
                            <div class="">
                                <span><strong class="fw-semibold">Traveller names must match passport</strong></span>
                                <p class="fw-light">Please ensure that traveller information matches the passport or ID
                                    that will be
                                    shown at the airport.
                                </p>
                            </div>
                        </div>

                        <div class="room-collect-infor">
                            <div class="categories mt-4 mb-3 gap-3 d-flex">
                                <span>Room 1</span>
                                <span>Primary contact</span>
                            </div>
                            <div class="traveller-heading">
                                <span><strong>Traveller 1</strong></span>
                                <p>All communications about the booking will be sent to this person.
                                </p>
                            </div>
                            <div class="contact-form">
                                <div class="input-field-column">
                                    <div class="InputLabelWrap four">
                                        <label>Title</label>
                                        <span><input type="text"></span>
                                    </div>
                                    <div class="InputLabelWrap seven">
                                        <label>First Name</label>
                                        <span><input type="text"></span>
                                    </div>
                                    <div class="InputLabelWrap seven">
                                        <label>Last Name</label>
                                        <span><input type="text"></span>
                                    </div>
                                    <div class="InputLabelWrap six">
                                        <label>Middle Name (Optional)</label>
                                        <span><input type="text"></span>
                                    </div>
                                    <div class="InputLabelWrap seventeen">
                                        <label>Email</label>
                                        <span><input type="text"></span>
                                    </div>
                                    <div class="InputLabelWrap eighten">
                                        <label>Phone Number</label>
                                        <span><input type="text"></span>
                                    </div>
                                    <div class="InputLabelWrap seven">
                                        <label>Date of birth</label>
                                        <span><input type="text"></span>
                                    </div>
                                    <div class="InputLabelWrap eight">
                                        <label>PAN</label>
                                        <span><input type="text"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <button class="save-details-btn">Save Details for Traveller 1</button>
                            </div>
                        </div>
                        <div class="how-to-do-pay my-4 my-sm-5 py-4 py-sm-5 pb-0">
                            <h4>How would you like to pay?</h4>
                            <div class="d-flex flex-row gap-5">
                                <div class="add-more add-more-promo-code">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>Add a promo code
                                </div>
                                <div class="add-more use-gift-card">
                                    <span class="material-symbols-outlined">
                                        redeem
                                    </span>Use a gift card
                                </div>
                            </div>
                        </div>

                        <div class="payment-type-wrap">
                            <app-payment-itegration></app-payment-itegration>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="summary-detail">
                        <h5>Summary</h5>
                        <div class="d-flex flex-row justify-content-between w-100 mt-3">
                            <span>Tour</span><strong>₹3,33,488.80</strong>
                        </div>
                        <div class="mt-2">
                            03 Nov 2024 - 10 Nov 2024
                        </div>
                        <div class="mt-2">
                            8 days (1 room • 2 guests)
                        </div>

                        <div class="mt-2">
                            <label><strong>Room1</strong></label>
                            <div class="select-category-package">
                                <span>Classic Package</span>
                                <div class="d-flex flex-aligns-item gap-2">
                                    <span>2 Travellers </span><span class="material-symbols-outlined">
                                        fiber_smart_record
                                    </span>Twin Rooms
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="package-subtotal">
                            <div class="d-flex flex-row align-items-center justify-content-between">
                                <span>Subtotal</span>
                                <span>₹3,33,488.80</span>
                            </div>
                            <div class="d-flex flex-row align-items-start justify-content-between mt-4">
                                <div><strong>Total</strong></div>
                                <div class="d-flex flex-column justify-content-end align-items-end">
                                    <strong>₹3,33,488.80</strong>
                                    <label>Includes taxes & fees</label>
                                    <span>Value of ₹3,33,488.80</span>
                                </div>
                            </div>
                            <div class="offer-saving mt-5">
                                You’re saving up to ₹66,052.80 with TravelSukham
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>