<p>view-policy-modal works!</p>
<div class="side-panel-controller">
    <div class="side-panel-wrapper">
        <div class="side-panel-top-section">
            <h5 class="mb-0">View Policy
                <button class="close-icon" (click)="closeViewPolicyModal()">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </button>
            </h5>
        </div>
        <div class="view-policy-wrap-modal">
            <div class="flight-details">
                <div class="flight-details-head">
                    <div class="policy-tab">
                        <div class="perfect-center">
                            <span class="append-right-10">
                                <span class="single-airline"></span>
                            </span>
                            Cancellation Charges
                        </div>
                    </div>

                    <div class="policy-tab">
                        <div class="perfect-center">
                            <span class="append-right-10">
                                <span class="single-airline"></span>
                            </span>
                            Date change charges
                        </div>
                    </div>
                </div>

                <div class="accordion-item mt-3">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <span class="flight-air-icon"
                                style="background-image: url('https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/6E.png?v=19');"></span>
                            BOM-MAA
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="flight-details font14 mt-0 p-0">
                                <div class="date-change-info">
                                    <div class="flight-details-info-left">
                                        <p class="font14 text-black mb-0 fw-medium">Time frame</p>
                                        <p class="mb-0 font12">(From Scheduled flight departure)</p>
                                    </div>
                                    <div class="flight-details-info-left">
                                        <p class="font14 text-black mb-0 fw-medium">Airline Fee + MMT Fee + Fare
                                            difference
                                        </p>
                                        <p class="mb-0 font14">(Per passenger)</p>
                                    </div>
                                </div>
                                <div class="date-change-info">
                                    <div class="flight-details-info-left">
                                        <p class="mb-0">0 hours to 4 hours*</p>
                                    </div>
                                    <div class="flight-details-info-right">
                                        <p class="mb-0 font14">ADULT : <b class="fw-medium">Non Refundable</b><br></p>
                                    </div>
                                </div>
                                <div class="date-change-info">
                                    <div class="flight-details-info-left">
                                        <p class="mb-0">4 hours to 4 days*</p>
                                    </div>
                                    <div class="flight-details-info-right">
                                        <p class="mb-0 font14">ADULT : <b class="fw-medium">₹ 4,279 + ₹ 300 + Fare
                                                difference</b><br></p>
                                    </div>
                                </div>
                                <div class="date-change-info">
                                    <div class="flight-details-info-left">
                                        <p class="mb-0">4 days to 365 days*</p>
                                    </div>
                                    <div class="flight-details-info-right">
                                        <p class="mb-0 font14">ADULT : <b class="fw-medium">₹ 3,209 + ₹ 300 + Fare
                                                difference</b><br></p>
                                    </div>
                                </div>
                            </div>
                            <p class="font14 mt-2">
                                *From the Time of Departure
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item mt-3">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="flight-air-icon"
                                style="background-image: url('https://imgak.mmtcdn.com/flights/assets/media/dt/common/icons/6E.png?v=19');"></span>
                            MAA-BOM
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="flight-details font14 mt-0 p-0">
                                <div class="date-change-info">
                                    <div class="flight-details-info-left">
                                        <p class="font14 text-black mb-0 fw-medium">Time frame</p>
                                        <p class="mb-0 font12">(From Scheduled flight departure)</p>
                                    </div>
                                    <div class="flight-details-info-left">
                                        <p class="font14 text-black mb-0 fw-medium">Airline Fee + MMT Fee + Fare
                                            difference
                                        </p>
                                        <p class="mb-0 font14">(Per passenger)</p>
                                    </div>
                                </div>
                                <div class="date-change-info">
                                    <div class="flight-details-info-left">
                                        <p class="mb-0">0 hours to 4 hours*</p>
                                    </div>
                                    <div class="flight-details-info-right">
                                        <p class="mb-0 font14">ADULT : <b class="fw-medium">Non Refundable</b><br></p>
                                    </div>
                                </div>
                                <div class="date-change-info">
                                    <div class="flight-details-info-left">
                                        <p class="mb-0">4 hours to 4 days*</p>
                                    </div>
                                    <div class="flight-details-info-right">
                                        <p class="mb-0 font14">ADULT : <b class="fw-medium">₹ 4,279 + ₹ 300 + Fare
                                                difference</b><br></p>
                                    </div>
                                </div>
                                <div class="date-change-info">
                                    <div class="flight-details-info-left">
                                        <p class="mb-0">4 days to 365 days*</p>
                                    </div>
                                    <div class="flight-details-info-right">
                                        <p class="mb-0 font14">ADULT : <b class="fw-medium">₹ 3,209 + ₹ 300 + Fare
                                                difference</b><br></p>
                                    </div>
                                </div>
                            </div>
                            <p class="font14 mt-2">
                                *From the Time of Departure
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-strip">
                <b>*Important:</b> The airline fee is indicative. TravelSukhamdoes not guarantee the accuracy
                of this information. All fees mentioned are per passenger. Date change charges are
                applicable only on selecting the same airline on a new date. The difference in fares between
                the old and the new booking will also be payable by the user.
                Please refer to the Date Change Charges section above for details on the number of allowed
                free date changes, if applicable
            </div>
        </div>
    </div>
</div>