::ng-deep .owl-theme .owl-nav {
  position: absolute;
  top: -70px;
  right: 0px;
  display: flex;
}
::ng-deep .owl-carousel .owl-item img {
  max-width: 100%;
  width: auto;
}

::ng-deep .custom-slide img {
  max-width: 100%;
  width: auto;
}

::ng-deep .owl-theme .owl-nav [class*="owl-"] {
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
}


.slide-content {
  position: relative;
  text-align: center;
}

.image-info {
  margin-top: 10px;
  text-align: left;
}

.image-info h5 {
  font-size: 1.2em;
  margin: 0;
}

// .image-info p {
// margin: 5px 0 0;
//   color: #888;
//   text-transform: uppercase;
//   color: red;
//   background: #f4f4f4;
//   border-radius: 4px;
//   padding: 10px;
//   font-size: 12px;
//   width: max-content;
//   display: flex;
//   flex-wrap: wrap;
//   font-weight:500;
// }

.slide-content {
  position: relative;
  text-align: center;
}

.image-info {
  margin-top: 10px;
}

.image-info h5 {
  font-size: 1.2em;
  margin: 0;
}

.image-info p {
  margin: 5px 0 0;
  color: #888;
}

.rating {
    color: #000000;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 5px;
      margin-top: 5px;
  span{
      padding: 3px 5px;
  background: linear-gradient(93deg, #ffd599, #eca846);
      border-radius: 4px;
      color: white;
      font-size: 12px;
  }
}

.exclusive-highlight {
  color: red;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-size:12px;
  gap:5px;

  svg{
    width: 20px;
    height: 20px;
  }
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.tag{
  font-size: 12px;
}

/* Updated thumbnail slide */

a,
button,
img,
svg,
path {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.package-card {
  padding:0px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  overflow: hidden;
  text-align: left;
  border: 1px solid #ebe6de;
}

@media(min-width: 992px) and (max-width:1199px) {
  .package-card {
    padding: 15px
  }
}

@media(max-width: 576px) {
  .package-card {
    padding: 15px
  }
}

.package-card .package-card-img-wrap {
  position: relative;
  transition: all .5s ease-out
}

.package-card .package-card-img-wrap .card-img {
  position: relative;
  overflow: hidden;
  display: block;
}

.package-card .package-card-img-wrap .card-img img {
  border-radius: 10px 10px 0px 0px;
  transition: all .5s ease-out
}

.package-card .package-card-img-wrap .card-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(1deg, rgba(21, 47, 0, 0.56) 1.03%, rgba(21, 47, 0, 0) 90.67%);
  border-radius: 0px;
  z-index: 1
}

.package-card .package-card-img-wrap .card-img::after {
  position: absolute;
  width: 200%;
  height: 0%;
  left: 50%;
  top: 50%;
  background-color: rgba(255, 255, 255, .3);
  transform: translate(-50%, -50%) rotate(-45deg);
  content: "";
  z-index: 1
}
.package-card .package-card-content{
  padding:0px 1.5rem 1.5rem;
}
.package-card .package-card-content .card-content-top {
  padding: 25px 0
}

@media(max-width: 1399px) {
  .package-card .package-card-content .card-content-top {
    padding: 20px 0
  }
}

.package-card .package-card-content .card-content-top h5 {
  margin-bottom: 15px;
  transition: .5s
}

.package-card .package-card-content .card-content-top h5 a {
  color:black;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
  text-transform: capitalize;
  transition: .5s;
  text-decoration: none;
}

@media(min-width: 1200px) and (max-width:1399px) {
  .package-card .package-card-content .card-content-top h5 a {
    font-size: 18px
  }
}

@media(min-width: 992px) and (max-width:1199px) {
  .package-card .package-card-content .card-content-top h5 a {
    font-size: 17px
  }
}

@media(max-width: 991px) {
  .package-card .package-card-content .card-content-top h5 a {
    font-size: 20px
  }
  .package-card[_ngcontent-ng-c3932816521] .package-card-content[_ngcontent-ng-c3932816521]{
    padding: 0rem;
  }
}

@media(max-width: 576px) {
  .package-card .package-card-content .card-content-top h5 a {
    font-size: 18px
  }
}

.package-card .package-card-content .card-content-top h5:hover a {
  color: var(--primary-color1)
}

@media(max-width: 576px) {
  .package-card .package-card-content .card-content-top h5 {
    margin-bottom: 10px
  }
}

.package-card .package-card-content .card-content-top .location-area {
  position: relative;
  height: 18px;
  overflow: hidden
}

.package-card .package-card-content .card-content-top .location-area .location-list {
  position: absolute;
  white-space: nowrap;
  text-overflow: ellipsis;
  transform: translateX(0);
  transition: 8s;
  display: flex;
  align-items: center;
  gap: 35px;
  list-style: none;
  margin: 0;
  padding: 0
}

.package-card .package-card-content .card-content-top .location-area .location-list li {
  line-height: 1;
  position: relative;
  transition: .5s
}

.package-card .package-card-content .card-content-top .location-area .location-list li a {
  color: #888;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: .6px;
  text-transform: uppercase;
  transition: .5s;
  text-decoration: none;
}

.package-card .package-card-content .card-content-top .location-area .location-list li::before {
  content: "";
  color: #888;
  position: absolute;
  left: -25px;
  top: 55%;
  transform: translateY(-50%);
  background: url(../../assets/right-arrow.png) no-repeat left center;
width: 20px;
  height: 18px;
  background-size: 100%;
}

.package-card .package-card-content .card-content-top .location-area .location-list li:first-child::before {
  display: none
}

.package-card .package-card-content .card-content-top .location-area .location-list li:hover a {
  color: var(--primary-color1)
}

.package-card .package-card-content .card-content-top .location-area:hover .scrollTextAni {
  transform: translateX(calc(200px - 100%))
}

.package-card .package-card-content .card-content-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding-top: 15px;
  border-top: 1px solid rgba(16, 12, 8, .2)
}

.package-card .package-card-content .card-content-bottom .price-area {
  line-height: 1
}

.package-card .package-card-content .card-content-bottom .price-area h6 {
  color: #333;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: .24px;
  text-transform: capitalize;
  margin-bottom: 0
}

.package-card .package-card-content .card-content-bottom .price-area span {
  color: var(--primary-color1);
  font-size: 26px;
  font-weight: 500;
  line-height: 1;
  display: inline-block;
  text-transform: capitalize
}

@media(min-width: 1200px) and (max-width:1399px) {
  .package-card .package-card-content .card-content-bottom .price-area span {
    font-size: 22px
  }
}

@media(min-width: 992px) and (max-width:1199px) {
  .package-card .package-card-content .card-content-bottom .price-area span {
    font-size: 20px
  }
}

@media(max-width: 576px) {
  .package-card .package-card-content .card-content-bottom .price-area span {
    font-size: 22px
  }
}

.package-card .package-card-content .card-content-bottom .price-area span del {
  color: rgba(16, 12, 8, .5);
  font-size: 16px;
  font-weight: 500;
  padding-left: 5px
}

@media(min-width: 992px) and (max-width:1199px) {
  .package-card .package-card-content .card-content-bottom .price-area span del {
    font-size: 13px
  }
}

@media(max-width: 576px) {
  .package-card .package-card-content .card-content-bottom .price-area span del {
    font-size: 13px
  }
}

.package-card .package-card-content .card-content-bottom .price-area p {
  color: var(--text-color);
  font-size: 10px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: .2px;
  text-transform: capitalize;
  margin-bottom: 0
}

.package-card .batch {
  position: absolute;
  top: 0px;
  left:0px;
  z-index: 1
}

@media(min-width: 992px) and (max-width:1199px) {
  .package-card .batch {
    left: -15px
  }
}

@media(max-width: 576px) {
  .package-card .batch {
    left: -15px
  }
}

.package-card .batch .date {
  color: white; 
  font-size: 12px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: .6px;
  text-transform: uppercase;
  display: inline-flex;
  padding: 8px 10px;
  background-color:black
}

.package-card .batch .location {
  background-color: white;
  border: 0px solid rgba(99, 171, 69, .5);
  padding: 6px 10px;
  display: flex;
  align-items: center;
  gap: 7px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0px 0px 3px 0px;
}

.package-card .batch .location svg {
  fill: var(--primary-color1)
}

.package-card .batch .location .location-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  list-style: none;
  margin: 0;
  padding: 0
}

.package-card .batch .location .location-list li {
  position: relative;
  line-height: 1;
  padding-left: 14px
}

.package-card .batch .location .location-list li a {
  color: var(--title-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: .6px;
  text-transform: uppercase;
  text-decoration: none;
}

.package-card .batch .location .location-list li::before {
  content: "\f4fe";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -5px;
  color: var(--title-color);
  font-size: 17px
}

.package-card .batch .location .location-list li:first-child {
  padding-left: 0
}

.package-card .batch .location .location-list li:first-child::before {
  display: none
}

.package-card:hover .package-card-img-wrap .card-img img {
  transform: scale(1.1)
}

.package-card:hover .package-card-img-wrap .card-img::after {
  height: 250%;
  transition: all 600ms linear;
  background-color: transparent
}

.package-card.style-2 {
  padding: 5px;
  border: 1px solid rgba(16, 12, 8, .15);
  box-shadow: unset;
  border-radius: unset
}

.package-card.style-2 .package-card-img-wrap .card-img {
  border-radius: unset
}

.package-card.style-2 .package-card-img-wrap .card-img img {
  border-radius: unset
}

.package-card.style-2 .package-card-img-wrap .card-img::before {
  background: linear-gradient(1deg, rgba(16, 12, 8, 0.4) 1.03%, rgba(16, 12, 8, 0) 90.67%);
  border-radius: unset
}

.package-card.style-2 .package-card-content {
  padding: 0 15px
}

@media(min-width: 1200px) and (max-width:1399px) {
  .package-card.style-2 .package-card-content {
    padding: 0 10px
  }
}

.package-card.style-2 .package-card-content .card-content-bottom {
  padding: 15px 0
}

.package-card.style-2 .package-card-content .card-content-bottom .primary-btn1 {
  border-radius: unset;
  font-size: 14px;
  font-weight: 500;
  padding: 11px 16px
}

.package-card.style-2 .batch {
  top: 0;
  left: 0
}

.package-card-section {
  position: relative
}

.package-card-section .section-vector1 {
  position: absolute;
  bottom: 0;
  left: 0
}

.package-card-section .section-vector3 {
  position: absolute;
  top: 30%;
  right: 0
}

.primary-btn2 {
  border-radius: 5px;
  background-color:#eca846;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .48px;
  text-transform: capitalize;
  line-height: 1;
  padding: 11px 16px;
  display: inline-flex;
  align-items: center;
  gap: 7px;
  transition: .5s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  white-space: nowrap;
  color: white;
  text-decoration: none;
}

.primary-btn2 svg {
  fill:white;
  transition: .5s
}

.primary-btn2::after {
  position: absolute;
  content: "";
  display: block;
  left: 15%;
  right: -20%;
  top: -4%;
  height: 150%;
  width: 150%;
  bottom: 0;
  border-radius: 2px;
  background-color: #0a1019;
  transform: skewX(45deg) scale(0, 1);
  z-index: -1;
  transition: all .5s ease-out 0s
}

.primary-btn2:hover {
  color: white
}

.primary-btn2:hover svg {
  fill: white
}

.primary-btn2:hover::after {
  transform: skewX(45deg) scale(1, 1)
}