<app-request-callback></app-request-callback>
<div class="award-win">
    <img src="../../assets/trophy.png" alt=""> LATEST: TravelSukham won India's Best International Holiday Brand!
</div>
<app-header></app-header>
<div class="container-fluid px-0 top-70">
    <div class="container banner-fluid pt-3 pt-sm-0">
        <div class="banner-section mt-0 mt-sm-4">
            <div class="banner-content">
                <img src="../../assets/desktop_1.avif" class="banner-ng">
                <div class="d-flex flex-column align-items-center justify-content-center z-1">
                    <h1 class="text-white display-5 display-sm-2 w-75 text-center fw-medium mb-0">Let’s Explore Your Holiday Trip.</h1>
                </div>
            </div>
        </div>
        <div class="advance-search-section banner-bottom d-none d-sm-flex">
            <div class="filter-wrapper">
                <div class="nav-buttons">
                    <ul class="nav nav-pills" id="pills-tab2" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="tour-tab" data-bs-toggle="pill" data-bs-target="#tour"
                                type="button" role="tab" aria-controls="tour" aria-selected="true" fdprocessedid="3zd2">
                                <span class="material-symbols-outlined">
                                    holiday_village
                                </span>
                                Holiday Packages </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="hotel-tab" data-bs-toggle="pill" data-bs-target="#hotel"
                                type="button" role="tab" aria-controls="hotel" aria-selected="false"
                                fdprocessedid="uypipp" tabindex="-1">

                                <span class="material-symbols-outlined">
                                    meeting_room
                                </span>
                                Hotels </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="activities-tab" data-bs-toggle="pill"
                                data-bs-target="#activities" type="button" role="tab" aria-controls="activities"
                                aria-selected="false" fdprocessedid="e5m8y" tabindex="-1">
                                <span class="material-symbols-outlined">
                                    sailing
                                </span>
                                Cruises </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="transport-tab" data-bs-toggle="pill"
                                data-bs-target="#transport" type="button" role="tab" aria-controls="transport"
                                aria-selected="false" fdprocessedid="4grof" tabindex="-1">
                                <span class="material-symbols-outlined">
                                    travel
                                </span>
                                Flights </button>
                        </li>
                    </ul>
                </div>
                <div class="filter-group">
                    <div class="tab-content" id="pills-tab2Content">
                        <div class="tab-pane fade active show" id="tour" role="tabpanel" aria-labelledby="tour-tab">
                            <form method="get" action="https://triprex.egenslab.com/tour/" id="tour-query-form">
                                <div class="filter-area">
                                    <div class="row">
                                        <div class="col-xl-12 d-flex justify-content-center">
                                            <div class="search-box" (click)="redirectToCustomize()">
                                                <svg width="1em" height="1em" viewBox="0 0 24 24" font-size="18"
                                                    class="PJLV PJLV-igjAQjZ-css">
                                                    <path fill-rule="evenodd"
                                                        d="M18 10.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0zm-1.94 7.175a8.5 8.5 0 111.55-1.265l3.17 3.965a1 1 0 11-1.56 1.25l-3.16-3.95z"
                                                        clip-rule="evenodd"></path>
                                                </svg><span class="">Search countries, cities</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane fade" id="hotel" role="tabpanel" aria-labelledby="hotel-tab">

                            <!-- <app-hotel-filter></app-hotel-filter> -->
                            <form method="get" action="" id="hotel-query-form">
                                <div class="filter-area">
                                    <div class="row">

                                        <div class="col-xl-4 col-md-6 d-flex justify-content-center divider">
                                            <!-- search destination place section -->
                                            <div class="single-search-box">
                                                <div class="searchbox-input">
                                                    <div class="custom-select-dropdown">
                                                        <div class="col-sm-12 search-area">
                                                            <input type="text"
                                                                placeholder="Where - Search destination or place"
                                                                (click)="toggleSection('hotel')">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- search destination hover section-->
                                            <div class="dropdown search-destination-section where-destination-section"
                                                *ngIf="isHotelSectionVisible" (click)="onClickInside($event)">
                                                <div class="recent-searches">
                                                    <div class="col-sm-12">
                                                        <div class="row mb-3">
                                                            <div class="col-sm-12">Recent searches</div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="recent-search-bx">
                                                                    <div class="recent-icon">
                                                                        <span class="material-symbols-outlined">
                                                                            schedule
                                                                        </span>
                                                                    </div>
                                                                    <div class="text-recent-bx">
                                                                        <div class="d-flex flex-column">
                                                                            <label>Ironstone Romantic Couples
                                                                                Retreat</label>
                                                                            <div class="short-detail"><span>8-10
                                                                                    Sep</span> <span>2 Adults</span>
                                                                                <span>1
                                                                                    room</span>
                                                                            </div>
                                                                        </div>
                                                                        <span class="material-symbols-outlined close-i">
                                                                            close
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="recent-search-bx">
                                                                    <div class="recent-icon">
                                                                        <span class="material-symbols-outlined">
                                                                            schedule
                                                                        </span>
                                                                    </div>
                                                                    <div class="text-recent-bx">
                                                                        <div class="d-flex flex-column">
                                                                            <label>Ironstone Romantic Couples
                                                                                Retreat</label>
                                                                            <div class="short-detail"><span>8-10
                                                                                    Sep</span> <span>2 Adults</span>
                                                                                <span>1
                                                                                    room</span>
                                                                            </div>
                                                                        </div>
                                                                        <span class="material-symbols-outlined close-i">
                                                                            close
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-4">
                                                                <div class="recent-search-bx">
                                                                    <div class="recent-icon">
                                                                        <span class="material-symbols-outlined">
                                                                            schedule
                                                                        </span>
                                                                    </div>
                                                                    <div class="text-recent-bx">
                                                                        <div class="d-flex flex-column">
                                                                            <label>Ironstone Romantic Couples
                                                                                Retreat</label>
                                                                            <div class="short-detail"><span>8-10
                                                                                    Sep</span> <span>2 Adults</span>
                                                                                <span>1
                                                                                    room</span>
                                                                            </div>
                                                                        </div>
                                                                        <span class="material-symbols-outlined close-i">
                                                                            close
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12 mt-4">
                                                        <div class="row mb-3">
                                                            <div class="col-sm-12">Popular searches</div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <ul class="popular-search">
                                                                    <li>
                                                                        <span>
                                                                            <img src="../../assets/desktop.webp">
                                                                        </span>
                                                                        <label>Thailand</label>
                                                                    </li>
                                                                    <li>
                                                                        <span>
                                                                            <img src="../../assets/travel-5.jpeg">
                                                                        </span>
                                                                        <label>Dubai</label>
                                                                    </li>
                                                                    <li>
                                                                        <span>
                                                                            <img src="../../assets/travel-3.jpeg">
                                                                        </span>
                                                                        <label>Maldives</label>
                                                                    </li>

                                                                    <li>
                                                                        <span>
                                                                            <img src="../../assets/desktop.webp">
                                                                        </span>
                                                                        <label>Thailand</label>
                                                                    </li>
                                                                    <li>
                                                                        <span>
                                                                            <img src="../../assets/travel-5.jpeg">
                                                                        </span>
                                                                        <label>Dubai</label>
                                                                    </li>
                                                                    <li>
                                                                        <span>
                                                                            <img src="../../assets/travel-3.jpeg">
                                                                        </span>
                                                                        <label>Maldives</label>
                                                                    </li>


                                                                    <li>
                                                                        <span>
                                                                            <img src="../../assets/desktop.webp">
                                                                        </span>
                                                                        <label>Thailand</label>
                                                                    </li>
                                                                    <li>
                                                                        <span>
                                                                            <img src="../../assets/travel-5.jpeg">
                                                                        </span>
                                                                        <label>Dubai</label>
                                                                    </li>
                                                                    <li>
                                                                        <span>
                                                                            <img src="../../assets/travel-3.jpeg">
                                                                        </span>
                                                                        <label>Maldives</label>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-md-4 d-flex justify-content-center divider">
                                            <div class="row">
                                                <div
                                                    class="col-xl-6 col-md-6 px-0 d-flex justify-content-center divider">
                                                    <div class="single-search-box">
                                                        <div class="searchbox-input">
                                                            <div class="custom-select-dropdown"
                                                                (click)="toggleSection('flight')">
                                                                <div class="col-sm-12 search-area">
                                                                    <input type="text" placeholder="Check in"
                                                                        class="border-end-0">
                                                                    <div class="overlap-text">
                                                                        <label>Check in</label>
                                                                        <span>20 Sep 2024</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    class="col-xl-6 col-md-6 px-0 d-flex justify-content-center divider">
                                                    <div class="single-search-box">
                                                        <div class="searchbox-input">
                                                            <div class="custom-select-dropdown"
                                                                (click)="toggleSection('flight')">
                                                                <div class="col-sm-12 search-area">
                                                                    <input type="text" placeholder="Check Out">
                                                                    <div class="overlap-text">
                                                                        <label>Check Out</label>
                                                                        <span>20 Sep 2024</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="dropdown select-check-in-out" *ngIf="isFlightSectionVisible"
                                                (click)="onClickInside($event)">
                                                <div class="select-specific-date">
                                                    <a [class.active]="activeSection === 'specific'"
                                                        (click)="selectSection('specific'); closeHotelSection()">Specific dates</a>
                                                    <a [class.active]="activeSection === 'flexible'"
                                                        (click)="selectSection('flexible'); closeHotelSection()">Flexible dates</a>
                                                    <a [class.active]="activeSection === 'anytime'"
                                                        (click)="selectSection('anytime'); closeHotelSection()">Anytime</a>
                                                </div>

                                                <div class="specific-date" *ngIf="activeSection === 'specific'">
                                                </div>

                                                <div class="flexible-dates-wrap flexible-dates"
                                                    *ngIf="activeSection === 'flexible'">
                                                    <div class="how-long">
                                                        <h5>How Long?</h5>
                                                        <div class="choose-category">
                                                            <button href="#">
                                                                <label>Any Duration</label>
                                                                <p>i'll Decide later</p>
                                                            </button>
                                                            <button href="#">
                                                                <label>Short stay</label>
                                                                <p>1 to 3 nights</p>
                                                            </button>
                                                            <button href="#">
                                                                <label>Medium stay</label>
                                                                <p>4 to 7 nights</p>
                                                            </button>
                                                            <button href="#">
                                                                <label>Long stay</label>
                                                                <p>8+ nights</p>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="flexible-dates-wrap anytime"
                                                    *ngIf="activeSection === 'anytime'">
                                                    <div class="how-long">
                                                        <h5>When?</h5>
                                                        <div class="choose-category">
                                                            <div class="checkbox-container">
                                                                <label class="custom-button"
                                                                    *ngFor="let item of repeatCount">
                                                                    <span>
                                                                        <label>August</label>
                                                                        <p>2024</p>
                                                                    </span>
                                                                    <input type="checkbox">
                                                                    <div class="bg"></div>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-12">
                                                        <div
                                                            class="w-auto d-flex justify-content-end align-items-center gap-3">
                                                            <button class="btn btn-spec">Cancel</button>
                                                            <button class="btn btn-spec">Apply</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-xl-3 col-md-3 d-flex justify-content-center divider">
                                            <div class="single-search-box">
                                                <div class="searchbox-input">
                                                    <div class="custom-select-dropdown"
                                                        (click)="toggleSection('cruise')">
                                                        <div class="col-sm-12 search-area">
                                                            <input type="text"
                                                                placeholder="search destination or place">
                                                            <div class="overlap-text">
                                                                <label>Guests</label>
                                                                <span>2 Adults (1 Rooms)</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="dropdown choose-guest-wrap" *ngIf="isCruiseSectionVisible"
                                                (click)="onClickInside($event)">
                                                <div *ngFor="let room of rooms; let i = index"
                                                    class="select-room-with-guests">
                                                    <div class="room-label">
                                                        Room {{ i + 1 }}
                                                    </div>
                                                    <div class="choose-adult-children">
                                                        <div class="choose-adults">
                                                            <span>Adults</span>
                                                            <label>Ages 18 and Above</label>
                                                            <div class="choose-quantative">
                                                                <span>-</span>
                                                                2
                                                                <span>+</span>
                                                            </div>
                                                        </div>
                                                        <div class="children-adults">
                                                            <span>Children</span>
                                                            <label>Ages 0-17</label>
                                                            <div class="choose-quantative">
                                                                <span>-</span>
                                                                0
                                                                <span>+</span>
                                                            </div>
                                                        </div>
                                                        <button *ngIf="rooms.length > 1" class="remove-room"
                                                            (click)="removeRoom(i)"><span
                                                                class="material-symbols-outlined">
                                                                close
                                                            </span></button>
                                                    </div>
                                                </div>

                                                <button class="add-another-room mt-4" (click)="addRoom()">
                                                    <span class="material-symbols-outlined">add</span> Add Another room
                                                </button>

                                                <div class="col-sm-12">
                                                    <div
                                                        class="w-auto d-flex justify-content-end align-items-center gap-1">
                                                        4 adults (2 rooms) <button class="btn btn-spec">Search</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="common-search" routerLink="/hotel-list">Search</button>
                            </form>
                        </div>

                        <div class="tab-pane fade" id="activities" role="tabpanel" aria-labelledby="activities-tab">
                            <form method="get" action="" id="tour-query-form">
                                <div class="filter-area">
                                    <div class="row">
                                        <div class="col-xl-6 col-md-6 d-flex justify-content-center divider">
                                            <div class="search-area w-100">
                                                <input type="text" placeholder="search destination or place">
                                                <div class="overlap-text">
                                                    <label>Where</label>
                                                    <span>Search Destination or place</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-md-6 d-flex justify-content-center divider">
                                            <div class="fix--overlap w-100">
                                                <label>When?</label>
                                                <span>I'm flexible</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="common-search" routerLink="/cruises-list">Search</button>
                            </form>
                        </div>

                        <div class="tab-pane fade" id="transport" role="tabpanel" aria-labelledby="transport-tab">
                            <app-search-flight></app-search-flight>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--For Mobile-Device -->
        <div class="m-search-section banner-bottom">
            <div class="nav-buttons">
                <ul class="nav nav-pills" id="pills-tab2" role="tablist">
                    <li class="nav-item" role="presentation" (click)="redirectToCustomize()">
                        <span class="material-symbols-outlined">
                            holiday_village
                        </span>
                        Holiday Packages
                    </li>
                    <li class="nav-item border-end-0" role="presentation" routerLink="/hotel-list">
                        <span class="material-symbols-outlined">
                            meeting_room
                        </span>
                        Hotels
                    </li>
                    <li class="nav-item border-bottom-0" role="presentation" routerLink="/cruises-list">
                        <span class="material-symbols-outlined">
                            sailing
                        </span>
                        Cruises
                    </li>
                    <li class="nav-item border-bottom-0 border-end-0" role="presentation" routerLink="/flight">
                        <span class="material-symbols-outlined">
                            travel
                        </span>
                        Flights
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="top-social-rated bg-white border-bottom py-3 py-sm-5">
        <div class="container gap-3 gap-sm-5 d-flex flex-row flex-wrap justify-content-center fs-6 fs-sm-3">
            <div class="d-flex align-items-center text-black rating-img">
                <img src="../assets/social.avif">
                24K
                <span>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="PJLV PJLV-igZdLXO-css">
                        <path
                            d="M7.107 1.909a1 1 0 011.786 0l1.528 3.027 3.364.475a1 1 0 01.543 1.72l-2.413 2.26.587 3.288a1 1 0 01-1.434 1.069L8 12.204l-3.068 1.544a1 1 0 01-1.434-1.07l.587-3.288-2.413-2.258a1 1 0 01.543-1.72l3.364-.476L7.107 1.91z"
                            fill="#eca846">
                        </path>
                    </svg>
                </span>
                <span class="text-black">Rated</span>
            </div>
            <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M16.6179 8.21372C17.0521 8.55494 17.1276 9.18359 16.7864 9.61786L11.2864 16.6179C11.1216 16.8276 10.8798 16.9628 10.6148 16.9934C10.3499 17.0241 10.0836 16.9475 9.87534 16.7809L7.37534 14.7809C6.94408 14.4359 6.87416 13.8066 7.21917 13.3753C7.56418 12.9441 8.19347 12.8742 8.62473 13.2192L10.337 14.589L15.2137 8.38222C15.5549 7.94795 16.1836 7.87251 16.6179 8.21372ZM1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12Z"
                        fill="#eca846">
                    </path>
                </svg>
                <span class="text-black">100% Customised Trips</span>
            </div>
            <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M16.6179 8.21372C17.0521 8.55494 17.1276 9.18359 16.7864 9.61786L11.2864 16.6179C11.1216 16.8276 10.8798 16.9628 10.6148 16.9934C10.3499 17.0241 10.0836 16.9475 9.87534 16.7809L7.37534 14.7809C6.94408 14.4359 6.87416 13.8066 7.21917 13.3753C7.56418 12.9441 8.19347 12.8742 8.62473 13.2192L10.337 14.589L15.2137 8.38222C15.5549 7.94795 16.1836 7.87251 16.6179 8.21372ZM1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12Z"
                        fill="#eca846">
                    </path>
                </svg>
                <span class="text-black">95% Visa Success Rate</span>
            </div>
            <div class="d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M16.6179 8.21372C17.0521 8.55494 17.1276 9.18359 16.7864 9.61786L11.2864 16.6179C11.1216 16.8276 10.8798 16.9628 10.6148 16.9934C10.3499 17.0241 10.0836 16.9475 9.87534 16.7809L7.37534 14.7809C6.94408 14.4359 6.87416 13.8066 7.21917 13.3753C7.56418 12.9441 8.19347 12.8742 8.62473 13.2192L10.337 14.589L15.2137 8.38222C15.5549 7.94795 16.1836 7.87251 16.6179 8.21372ZM1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12Z"
                        fill="#eca846">
                    </path>
                </svg>
                <span class="text-black">24x7 Concierge</span>
            </div>
        </div>
    </div>

    <div class="m-budget-offer-categories mobile-view">
        <h3 class="offer-heading-row">Exclusive Travel Deals Just for You!</h3>
        <div class="tab-first">
            <ul>
                <li>
                    <a target="_blank" class="w-100 offer-me">
                        <img src="../../../assets/offer-img.avif" alt="Advertisement Image"
                            class="advertisement-image img-fluid rounded-4" />
                    </a>
                </li>
                <li>
                    <a target="_blank" class="w-100 offer-me">
                        <img src="../../../assets/offer-img1.avif" alt="Advertisement Image"
                            class="advertisement-image img-fluid rounded-4" />
                    </a>
                </li>
    
                <li>
                    <a target="_blank" class="w-100 offer-me">
                        <img src="../../../assets/offer-img.avif" alt="Advertisement Image"
                            class="advertisement-image img-fluid rounded-4" />
                    </a>
                </li>
                <li>
                    <a target="_blank" class="w-100 offer-me">
                        <img src="../../../assets/offer-img1.avif" alt="Advertisement Image"
                            class="advertisement-image img-fluid rounded-4" />
                    </a>
                </li>
    
            </ul>
        </div>
    </div>
    
    <!--For Mobile-Device -->
    <div class="mt-4  mobile-view">
        <h3 class="mb-0 ms-3">August Long-weekend getways</h3>
        <div class="weekend-gateway container mt-3 mt-sm-5">
            <div class="m-card-wrapper">
                <div class="m-card" *ngFor="let card of cards">
                    <div class="m-card-img">
                        <img [src]="card.image" [alt]="card.alt" class="img-fluid rounded-4">
                    </div>
                    <div class="m-card-content">
                        <h4>{{ card.title }}</h4>
                        <div class="m-card-review-box">
                            <span class="material-symbols-outlined"> star_half </span>
                            <p class="m-card-review-text text-small">{{ card.review }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline">
                    <span class="material-symbols-outlined">
                        arrow_circle_right
                        </span>
                        View All</button>
            </div>
        </div>
    </div>

    <div class="weekend-gateway container mt-4 mt-sm-5 desktop-view">
        <h3 class="mb-4">In season Destinations</h3>
        <app-thumbnail-slider [images]="imageSet5"></app-thumbnail-slider>
    </div>

    <!--For Mobile-Device -->
    <div class="mt-4 mobile-view">
        <h3 class="mb-0 ms-3">In season Destinations</h3>
        <div class="weekend-gateway container mt-3 mt-sm-5">
                <div class="m-card-wrapper">
                    <div class="m-card" *ngFor="let card of cards">
                        <div class="m-card-img">
                            <img [src]="card.image" [alt]="card.alt" class="img-fluid rounded-4">
                        </div>
                        <div class="m-card-content">
                            <h4>{{ card.title }}</h4>
                            <div class="m-card-review-box">
                                <span class="material-symbols-outlined"> star_half </span>
                                <p class="m-card-review-text text-small">{{ card.review }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-outline">
                        <span class="material-symbols-outlined">
                            arrow_circle_right
                            </span>
                            View All</button>
                </div>
            </div>
    </div>

    <div class="weekend-gateway container mt-4 mt-sm-5 desktop-view">
        <h3 class="mb-0">Today's top <i>exclusive</i> offers</h3>
        <!-- <app-thumbnail-slider [images]="imageSet4"></app-thumbnail-slider> -->
        <app-trip-book-slider [images]="imageSet4"></app-trip-book-slider>
    </div>

    
    <div class="mt-4 mobile-view">
        <h3 class="mb-0 ms-3">Today's top <i>exclusive</i> offers</h3>
        <div class="weekend-gateway container mt-3 mt-sm-5">
                <div class="m-card-wrapper">
                    <div class="m-card" *ngFor="let card of cards">
                        <div class="m-card-img">
                            <img [src]="card.image" [alt]="card.alt" class="img-fluid rounded-4">
                        </div>
                        <div class="m-card-content">
                            <h4>{{ card.title }}</h4>
                            <div class="m-card-review-box">
                                <span class="material-symbols-outlined"> star_half </span>
                                <p class="m-card-review-text text-small">{{ card.review }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-outline">
                        <span class="material-symbols-outlined">
                            arrow_circle_right
                            </span>
                            View All</button>
                </div>
        </div>
    </div>

    <app-travel-style></app-travel-style>

    <div class="container mt-4 mt-sm-5 mb-5 desktop-view">
        <h3 class="mb-4">Visit<i>Free</i> Destinations</h3>
        <app-explorations-slider></app-explorations-slider>    
    </div>

    <div class="container-fluid bg-light px-0">
        <div class="weekend-gateway container mt-4 mt-sm-5 py-4 py-sm-5 desktop-view">
            <h3 class="mb-4">Top<i>European</i> Breaks</h3>
            <app-thumbnail-slider [images]="imageSet3"></app-thumbnail-slider>
        </div>

        <app-offer-section></app-offer-section>

        <div class="weekend-gateway container mt-4 mt-sm-5 py-4 py-sm-5 desktop-view">
            <h3 class="mb-4">Trending<i>Domestic</i> Destinations </h3>
            <app-thumbnail-slider [images]="imageSet3"></app-thumbnail-slider>
        </div>
    </div>

    <div class="desktop-view">
        <app-budget-category></app-budget-category>
    </div>

    <div class="m-budget-offer-categories py-4 mobile-view">
        <div class="tab-first pe-0">
        <app-budget-category></app-budget-category>
        </div>
    </div>

    <div class="weekend-gateway container mt-5 desktop-view">
        <h3 class="mb-4">Expore Europe</h3>
        <app-thumbnail-slider [images]="imageSet1"></app-thumbnail-slider>
    </div>

    <div class="mt-3 mobile-view">
        <h3 class="mb-0 ms-3">Expore Europe</h3>
        <div class="weekend-gateway container mt-3 mt-sm-5">
                <div class="m-card-wrapper">
                    <div class="m-card" *ngFor="let card of cards">
                        <div class="m-card-img">
                            <img [src]="card.image" [alt]="card.alt" class="img-fluid rounded-4">
                        </div>
                        <div class="m-card-content">
                            <h4>{{ card.title }}</h4>
                            <div class="m-card-review-box">
                                <span class="material-symbols-outlined"> star_half </span>
                                <p class="m-card-review-text text-small">{{ card.review }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-outline">
                        <span class="material-symbols-outlined">
                            arrow_circle_right
                            </span>
                            View All</button>
                </div>
        </div>
    </div>

    <div class="weekend-gateway container mt-5 desktop-view">
        <h3 class="mb-4">United states</h3>
        <app-thumbnail-slider [images]="imageSet6"></app-thumbnail-slider>
    </div>

    <div class="container d-none d-sm-flex flex-row mt-5 desktop-view">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <a target="_blank" class="w-100 offer-me">
                        <img src="../../../assets/offer-img.avif" alt="Advertisement Image"
                            class="advertisement-image img-fluid rounded-4" />
                    </a>
                </div>
                <div class="col-sm-6">
                    <a target="_blank" class="w-100 offer-me">
                        <img src="../../../assets/offer-img1.avif" alt="Advertisement Image"
                            class="advertisement-image img-fluid rounded-4" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="weekend-gateway container mt-5 desktop-view">
        <h3 class="mb-4">Middle East</h3>
        <app-thumbnail-slider [images]="imageSet1"></app-thumbnail-slider>
    </div>

    <div class="weekend-gateway container mt-5 desktop-view">
        <h3 class="mb-4">Destinations Guides</h3>
        <app-thumbnail-slider [images]="imageSet3"></app-thumbnail-slider>
    </div>

    <div class="full-width my-5 desktop-view">
        <div class="container mt-5 mb-5 py-5">
            <h3 class="mb-4">EXPLORATIONS<i>FAR</i> AWAY</h3>
            <app-explorations-slider></app-explorations-slider>
        </div>
    </div>

    <div class="my-3 my-sm-5">
        <div class="container mt-3 mb-3 py-3">
            <h4 class="mb-4 mb-sm-5 text-center">What the press says</h4>
            <app-press-word></app-press-word>
        </div>
    </div>
    <app-explore-package></app-explore-package>

    <div class="w-100 bg-black py-5 mt-3 mt-sm-5">
        <app-trusted-partner></app-trusted-partner>
    </div>

    <div class="w-100 ts-footer-wrapper">
        <app-footer></app-footer>
    </div>
</div>