<div class="col-sm-12 justify-content-start align-items-center mt-3">
    <h1>While we’d love to stay in touch,<br> your privacy matters to us more:)</h1>
</div>


<div class="pref-table mt-5">
    <section class="heading-row hidden-xs">
        <div class="left-col">Communication Type</div>
        <ul class="right-col">
            <li>SMS</li>
            <li>WhatsApp</li>
            <li>email</li>
        </ul>
    </section>
    <section class="data-row">
        <div class="left-col"><i class="visible-xs">Communication Type</i>
            <p><strong>Product Updates</strong><span>Did you love using our platform? Stay tuned in to receive
                    periodical product updates :)</span></p>
        </div>
        <ul class="right-col">
            <li class="hidden-xs"></li>
            <li><span>WhatsApp</span><label class="custom-options"><input type="checkbox"></label>
            </li>
            <li><span>email</span><label class="custom-options"><input type="checkbox"></label></li>
        </ul>
    </section>
    <section class="data-row">
        <div class="left-col"><i class="visible-xs">Communication Type</i>
            <p><strong>Newsletters</strong><span>Our fortnightly newsletter ‘The Voyagers’ will ensure your wanderlust
                    has options.</span></p>
        </div>
        <ul class="right-col">
            <li class="hidden-xs"></li>
            <li class="hidden-xs"></li>
            <li><span>email</span><label class="custom-options"><input type="checkbox"></label></li>
        </ul>
    </section>
    <section class="data-row">
        <div class="left-col"><i class="visible-xs">Communication Type</i>
            <p><strong>Deals and Offers</strong><span>Don’t miss out on the latest in deals and offers on TravelSukham.
                    Travel easy with us :)</span></p>
        </div>
        <ul class="right-col">
            <li><span>SMS</span><label class="custom-options"><input type="checkbox"></label></li>
            <li><span>WhatsApp</span><label class="custom-options"><input type="checkbox"></label>
            </li>
            <li><span>email</span><label class="custom-options"><input type="checkbox"></label></li>
        </ul>
    </section>
    <section class="data-row">
        <div class="left-col"><i class="visible-xs">Communication Type</i>
            <p><strong>Recommendations</strong><span>Receive incredible travel recommendations on or off trip. We’re
                    always here to help.</span></p>
        </div>
        <ul class="right-col">
            <li><span>SMS</span><label class="custom-options"><input type="checkbox"></label></li>
            <li><span>WhatsApp</span><label class="custom-options"><input type="checkbox"></label>
            </li>
            <li><span>email</span><label class="custom-options"><input type="checkbox"></label></li>
        </ul>
    </section>
    <section class="btn-row mt-5"><span><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                class="text-primary">Opt me out of
                all communications</a></span>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog feedback-form">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Did we cross the Line?</h5>
                <p class="text-black-50">While we never intended on being pushy, we acknowledge
                    you didn’t feel the same. We’d like to know your thoughts on
                    how we could improve our communication</p>

                <ul>
                    <li><input type="checkbox">Send fewer email/text/whatsapp</li>
                    <li><input type="checkbox">Write more relevant content</li>
                    <li><input type="checkbox">I’ve had a sub-par experience with TravelSukham</li>
                    <li><input type="checkbox">Not Interested in international travel</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="trevlo-btn"><span>Submit Feedback</span></button>
            </div>
        </div>
    </div>
</div>