<div *ngFor="let package of packages" class="package-card">
    <div class="package-card-img-wrap">
      <a href="#" class="card-img">
        <img
          loading="lazy"
          decoding="async"
          [src]="package.imgSrc"
          width="100%"
          height="270"
          class="attachment-card-thumb size-card-thumb wp-post-image"
          alt=""
        />
      </a>
      <div class="batch">
        <div class="location">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
            <path
              d="M8.99939 0C5.40484 0 2.48047 2.92437 2.48047 6.51888C2.48047 10.9798 8.31426 17.5287 8.56264 17.8053C8.79594 18.0651 9.20326 18.0646 9.43613 17.8053C9.68451 17.5287 15.5183 10.9798 15.5183 6.51888C15.5182 2.92437 12.5939 0 8.99939 0ZM8.99939 9.79871C7.19088 9.79871 5.71959 8.32739 5.71959 6.51888C5.71959 4.71037 7.19091 3.23909 8.99939 3.23909C10.8079 3.23909 12.2791 4.71041 12.2791 6.51892C12.2791 8.32743 10.8079 9.79871 8.99939 9.79871Z"
            >
            </path>
          </svg>
          <ul class="location-list">
            <li><a href="#">{{ package.location }}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="package-card-content">
      <div class="card-content-top">
        <h5><a href="#">{{ package.title }}</a></h5>
          <div class="visit-like">
              <div>
                <span class="material-symbols-outlined">
                thumb_up
                </span>{{21}}
              </div>
              <div>
                <span class="material-symbols-outlined">
                thumb_down
                </span>{{11}}
              </div>              
          </div>
      </div>
      <div class="card-content-bottom">
        <div class="price-area">
          <h6>Starting From:</h6>
          <span>{{ package.currency }}{{ package.price }}</span>
          <p>TAXES INCL/PERS</p>
        </div>
        <a href="#" class="primary-btn2">Choose</a>
      </div>
    </div>
  </div>
  