<div class="container-fluid login-wrapper">
    <div class="fs-login-logo" routerLink="/">
        <img src="../../assets/ts-logo.png" alt="">
    </div>
    <div class="container">
        <div class="ts-login-section d-flex flex-column">
            <div class="col-sm-12 d-flex flex-row justify-content-between">
                <div class="fs-2 header-text">Enter mobile number to personalise your trip</div>
                <!-- <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" class="PJLV PJLV-ijVaIQf-css">
                        <path fill-rule="evenodd"
                            d="M5.707 4.293a1 1 0 00-1.414 1.414L10.586 12l-6.293 6.293a1 1 0 101.414 1.414L12 13.414l6.293 6.293a1 1 0 001.414-1.414L13.414 12l6.293-6.293a1 1 0 00-1.414-1.414L12 10.586 5.707 4.293z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div> -->
            </div>
            <div class="col-sm-12 d-flex flex-row gap-3">
                <div class="country-id">
                    <input type="text" value="+91" />
                </div>
                <div class="text-number">
                    <input type="text" class="w-100" placeholder="Enter the mobile number">
                </div>
            </div>
            <div class="col-sm-12">
                <button class="get-otp w-100" routerLink="/">Get OTP</button>
            </div>
        </div>
    </div>
</div>