<app-header></app-header>

<div class="container mt-3 py-3 py-sm-0 top-70">
    <div class="ts-back-home" routerLink="/">
        <span class="material-symbols-outlined">
          arrow_back
          </span> Hotels List
    </div>
    <div class="col-sm-12">
        <div class="row">
            <div class="view-gly-section">
                <div class="left">
                    <figure>
                        <img src="../../assets/img1.webp">
                    </figure>
                </div>
                <div class="right">
                    <div class="top">
                        <figure>
                            <img src="../../assets/img2.webp">
                        </figure>
                    </div>
                    <div class="bottom">
                        <figure>
                            <img src="../../assets/img3.webp">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-100 py-0 py-sm-4 package-detail">
    <div class="container">
        <div class="row">
            <div class="custom-trip">
                <div class="left">
                    <div class="container px-0 custom-detail" id="overview">
                        <label class="start-place-label"><span class="material-symbols-outlined">
                                where_to_vote
                            </span> Starts and ends in <b>Istanbul</b></label>
                        <h4>Turkiye Highlights with Hot Springs Visit & Bosphorus Cruise</h4>
                        <div class="rating-start">
                            <span>8.0</span> Very good <a href="#">1 review </a>
                        </div>
                        <p>
                            Ancient cities, towering Turkish minarets and mesmerising natural landscapes await on this
                            unforgettable small-group
                            tour, uncovering layers of Turkiye’s history and culture. See where sultans used to live at
                            the decorated Topkapi
                            Palace, and marvel at the grandeur of the Hagia Sophia in Istanbul. Float between two
                            continents on an unforgettable
                            cruise upon the Bosphorus Strait. Tunnel through towns of ‘fairy chimneys’ in Cappadocia –
                            and optionally seize the
                            opportunity to soar above the stone formations on a breathtaking hot air balloon ride as the
                            sun rises (at an additional
                            cost). Journey to Pamukkale, where terraces of white mineral-rich waters cascade down the
                            hillside and discover the
                            ancient city of Ephesus, a testament to the marvels of Roman engineering.
                        </p>
                        <p>
                            Travel comfortably with spacious private coach transport, airport transfers and internal
                            flights across Turkiye. From
                            the grandeur of Istanbul, to the surreal landscapes of Cappadocia, the ancient wonders of
                            Ephesus and the coastal allure
                            of Izmir, take yourself on the journey of a lifetime steeped in history, enjoying local
                            dining and unique experiences
                            along the way.
                        </p>
                    </div>
                </div>
                <div class="right gap-3 d-flex flex-column">
                    <div class="book-trip-">
                        <div class="top-col">
                            <div class="show-amount border-top-0 pt-0 mt-0">
                                <label>From</label>
                                <span class="approx-price">₹18,561<label>/ room</label></span>
                                <span class="room-capacity">Includes taxes & fees</span>
                                <p class="mb-0 mt-1 fs-6">Add flights to the hotel package. Select from all major
                                    airlines at the next step.</p>
                            </div>
                            <button class="boot-trip-btn" routerLink="/checkout">View options</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="date-pricing-wrap" id="dates">
    <div class="container">
        <div class="col-sm-12">
            <div class="d-flex flex-row justify-content-between align-items-center w-100">
                <div class="col-sm-12 d-flex flex-column flex-sm-row  gap-3 w-100">
                    <button class="offer-capacity-box" data-bs-toggle="modal" data-bs-target="#roomGuestsModal">
                        <svg viewBox="0 0 24 24" fill="none" class="SvgIcon__StyledSvgIcon-sc-ks6tpc-0 eIuNbC">
                            <path fill="currentColor"
                                d="M15.71 12.71a5.9998 5.9998 0 0 0-7.19-9.6031 6 6 0 0 0-.23 9.6031 10.0001 10.0001 0 0 0-6.22 8.18A1.0063 1.0063 0 0 0 2.96 22a1.006 1.006 0 0 0 1.11-.89 7.9999 7.9999 0 0 1 15.9 0 .9998.9998 0 0 0 1 .89h.11a1.0006 1.0006 0 0 0 .6666-.3687A1.0003 1.0003 0 0 0 21.96 20.9a9.9994 9.9994 0 0 0-6.25-8.19ZM12 12a4.0002 4.0002 0 0 1-3.9231-4.7804A4 4 0 1 1 12 12Z">
                            </path>
                        </svg>
                        <div class="offer-filter-bx">
                            <div>Guests</div>
                            <div><strong>3 Adults</strong> (2 Rooms)</div>
                        </div>
                        <div class="ms-auto">
                            <svg viewBox="0 0 24 24"
                                class="SvgIcon__StyledSvgIcon-sc-ks6tpc-0 eIuNbC DropdownChevron__RotatingChevron-sc-1sedomk-0 kwkPVD"
                                fill="none">
                                <path fill="currentColor"
                                    d="m14.8299 11.2899-4.24-4.24a.9988.9988 0 0 0-.71-.2957 1 1 0 0 0-.71.2957 1 1 0 0 0 0 1.41L12.71 12l-3.54 3.54a1.0002 1.0002 0 0 0 0 1.41.9988.9988 0 0 0 .71.29.9984.9984 0 0 0 .71-.29l4.24-4.24a.999.999 0 0 0 .2189-1.0945.9981.9981 0 0 0-.2189-.3255Z">
                                </path>
                            </svg>
                        </div>
                    </button>
                    <button class="offer-capacity-box">
                        <svg viewBox="0 0 24 24" fill="none" class="SvgIcon__StyledSvgIcon-sc-ks6tpc-0 eIuNbC">
                            <path fill="currentColor"
                                d="M19 4h-2V3a1.0002 1.0002 0 0 0-1.7071-.7071A1.0002 1.0002 0 0 0 15 3v1H9V3a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3Zm1 15a1.0001 1.0001 0 0 1-1 1H5a1.0002 1.0002 0 0 1-1-1v-7h16v7Zm0-9H4V7a1 1 0 0 1 1-1h2v1a1 1 0 0 0 2 0V6h6v1a1.0002 1.0002 0 0 0 1.7071.7071A1.0002 1.0002 0 0 0 17 7V6h2a1 1 0 0 1 1 1v3Z">
                            </path>
                        </svg>
                        <div class="offer-filter-bx">
                            <div>When</div>
                            <div><strong>22 Mar - 23 Mar</strong> (1 night)</div>
                        </div>
                        <div class="ms-auto">
                            <svg viewBox="0 0 24 24"
                                class="SvgIcon__StyledSvgIcon-sc-ks6tpc-0 eIuNbC DropdownChevron__RotatingChevron-sc-1sedomk-0 kwkPVD"
                                fill="none">
                                <path fill="currentColor"
                                    d="m14.8299 11.2899-4.24-4.24a.9988.9988 0 0 0-.71-.2957 1 1 0 0 0-.71.2957 1 1 0 0 0 0 1.41L12.71 12l-3.54 3.54a1.0002 1.0002 0 0 0 0 1.41.9988.9988 0 0 0 .71.29.9984.9984 0 0 0 .71-.29l4.24-4.24a.999.999 0 0 0 .2189-1.0945.9981.9981 0 0 0-.2189-.3255Z">
                                </path>
                            </svg>
                        </div>
                    </button>
                    <button class="offer-capacity-box" data-bs-toggle="modal" data-bs-target="#whereToModal">
                        <svg viewBox="0 0 24 24" fill="none" class="SvgIcon__StyledSvgIcon-sc-ks6tpc-0 eIuNbC">
                            <path fill="currentColor"
                                d="M19 4h-2V3a1.0002 1.0002 0 0 0-1.7071-.7071A1.0002 1.0002 0 0 0 15 3v1H9V3a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3Zm1 15a1.0001 1.0001 0 0 1-1 1H5a1.0002 1.0002 0 0 1-1-1v-7h16v7Zm0-9H4V7a1 1 0 0 1 1-1h2v1a1 1 0 0 0 2 0V6h6v1a1.0002 1.0002 0 0 0 1.7071.7071A1.0002 1.0002 0 0 0 17 7V6h2a1 1 0 0 1 1 1v3Z">
                            </path>
                        </svg>
                        <div class="offer-filter-bx">
                            <div>Diparture airport (optional)</div>
                            <div><strong>Indira gandhi (DEL)</strong></div>
                        </div>
                        <div class="ms-auto">
                            <svg viewBox="0 0 24 24"
                                class="SvgIcon__StyledSvgIcon-sc-ks6tpc-0 eIuNbC DropdownChevron__RotatingChevron-sc-1sedomk-0 kwkPVD"
                                fill="none">
                                <path fill="currentColor"
                                    d="m14.8299 11.2899-4.24-4.24a.9988.9988 0 0 0-.71-.2957 1 1 0 0 0-.71.2957 1 1 0 0 0 0 1.41L12.71 12l-3.54 3.54a1.0002 1.0002 0 0 0 0 1.41.9988.9988 0 0 0 .71.29.9984.9984 0 0 0 .71-.29l4.24-4.24a.999.999 0 0 0 .2189-1.0945.9981.9981 0 0 0-.2189-.3255Z">
                                </path>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
        </div>

        <div class="container px-0 choose-date-slider">
            <div class="col-sm-12 mt-5">
                <h5 class="mb-3 text-center">Select Duration</h5>
                <app-date-slider [images]="imageSet1"></app-date-slider>
            </div>

            <div class="col-sm-12 mt-3 mt-sm-5">
                <div class="room-container">
                    <div class="room-info">
                        <div class="room-image">
                            <div class="d-none d-sm-block">
                                <app-slider [images]="imageSet3"></app-slider>
                            </div>
                            <div class="d-block d-sm-none">
                                <app-only-img-slider [images]="imageSet3"></app-only-img-slider>
                            </div>
                        </div>
                        <div class="room-details">
                            <h1>Jacuzzi Studio</h1>
                            <p>Serene, spacious studio with a romantic double jacuzzi overlooking tranquil lush jungle,
                                and a king bedroom that opens onto a private furnished balcony</p>
                            <p class="room-size">56m²</p>
                            <div class="room-actions">
                                <button class="view-amenities" data-bs-toggle="modal"
                                    data-bs-target="#viewAmenities">View amenities & policies</button>
                                <button class="check-availability">Check availability</button>
                            </div>
                        </div>
                    </div>

                    <div class="rate-options">
                        <div class="rate-option">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between gap-3">
                                        <div class="rate-header">
                                            <h6>Option 1</h6>
                                            <h3>Non-Refundable Rate</h3>
                                            <p>Non-refundable</p>
                                        </div>
                                        <div class="rate-inclusions">
                                            <div class="inclusions-title">Extra inclusions for 5-night stays</div>
                                            <ul>
                                                <li>One time 60-minute massage for two persons</li>
                                                <li>One set Koh Yao traditional Thai lunch or dinner for two</li>
                                                <li>Extra one time 60-minute massage for two persons</li>
                                                <li>Koh Pak Bia trip for two</li>
                                            </ul>
                                            <a href="#">View more inclusions</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="d-flex flex-sm-row gap-3">
                                        <div class="rate-price">
                                            <span>Hotel</span>
                                            <p>5 nights from <br><strong>₹7,984</strong><span
                                                    class="centered-text">/night</span></p>
                                            <small>Includes taxes & fees<br>Valued up to ₹68,071</small>
                                            <a href="#">Price details</a>
                                        </div>
                                        <div class="flight-hotels"><span>Hotel + flights</span>
                                            <p>Add flights to the hotel package. Select from all major airlines at the
                                                next step.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rate-option available-hotel">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="d-flex flex-column flex-sm-row justify-content-between gap-3">
                                        <div class="rate-header">
                                            <h6>Option 2</h6>
                                            <h3>Family Room Overindulgence Upgrade</h3>
                                            <p><a href="#">Free cancellation</a> available (hotel only)</p>
                                        </div>
                                        <div class="rate-inclusions">
                                            <ul>
                                                <li><span class="material-symbols-outlined">
                                                        restaurant
                                                    </span> Inclusions valid for two adults and two children</li>
                                                <li><span class="material-symbols-outlined">
                                                        directions_car
                                                    </span> Daily breakfast at The Floating Market</li>
                                                <li><span class="material-symbols-outlined">
                                                        liquor
                                                    </span> One three-course set-menu lunch or dinner per person</li>
                                                <li><span class="material-symbols-outlined">
                                                        check
                                                    </span> The Sands Luxury Club access with daily free-flow drinks
                                                    hour</li>
                                                <li><span class="material-symbols-outlined">
                                                        local_cafe
                                                    </span> One 60-minute massage per adult at Beachfront Sala Thai
                                                    Massages</li>
                                                <li><span class="material-symbols-outlined">
                                                        flight
                                                    </span>One-way private airport transfer on arrival</li>
                                            </ul>
                                            <a href="#">View more inclusions</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5 d-flex flex-row flex-sm-row gap-3">
                                    <div class="rate-price">
                                        <div class="d-flex flex-column gap-3">
                                            <div class="d-flex flex-column">
                                                <span>Hotel</span>
                                                <p>5 nights from <br><strong>₹7,984</strong><span
                                                        class="centered-text">/night</span></p>
                                                <small>Includes taxes & fees<br>Valued up to ₹68,071</small>
                                                <a href="#">Price details</a>
                                            </div>
                                            <button class="check-available">Check Availability</button>
                                        </div>
                                        <div class="gift-offer">
                                            <button><span class="material-symbols-outlined">
                                                    event
                                                </span> Buy now, choose dates later</button>
                                            <button><span class="material-symbols-outlined">
                                                    featured_seasonal_and_gifts
                                                </span> Give as gift</button>
                                        </div>
                                    </div>
                                    <div class="flight-hotels">
                                        <div>
                                            <span>Hotel + flights</span>
                                            <p>Add flights to the hotel package. Select from all major airlines at the
                                                next step.</p>
                                        </div>
                                        <button class="check-available">Check Availability</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="mt-2 price-notes">*Price is indicative and based on sample return fares (inclusive of booking
                    fees on Low Cost Carriers). To view live pricing, conduct a full search. Luxury Escapes full Terms
                    and Conditions apply.</p>
            </div>
        </div>
    </div>
</div>
<div class="hotel-depth-detail">
    <div class="container">
        <div class="col-sm-12 position-sticky top-0">
            <ul class="list-categories bg-white">
                <li [class.active]="activeSection === 'location'"><a (click)="scrollToSection('location')">Location</a>
                </li>
                <li [class.active]="activeSection === 'facilities'"><a
                        (click)="scrollToSection('facilities')">Facilities</a></li>
                <li [class.active]="activeSection === 'finepart'"><a (click)="scrollToSection('finepart')">Fine
                        Print</a></li>
                <li [class.active]="activeSection === 'Reviews'"><a (click)="scrollToSection('Reviews')">Reviews</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-12" id="location">
            <div class="location-contain">
                <h4 class="mb-3">Location</h4>
                <span class="w-100 d-flex">Paradise Koh Yao</span>
                <label class="fw-medium mb-3">24, Ko Yao District, Phang-nga 82160, Thailand</label>
                <div class="map-location">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d234762.13697710482!2d72.45391782812501!3d23.164418549755148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2a6b9e5d1a3d%3A0xb7a20f7df55d223b!2sSwaminarayan%20Dham%20International%20School!5e0!3m2!1sen!2sin!4v1726088157314!5m2!1sen!2sin"
                        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="mt-3">
                    <p>Paradise Koh Yao is located on the dreamy island of Koh Yao Noi, an untouched paradise easily
                        reachable with a scenic speedboat ride from Phuket through the famous limestone karsts of Phang
                        Nga Bay. The resort is located a 15-minute drive and a 50-minute speed boat transfer from Phuket
                        Airport (HKT). Nestled within national reserve tropical rainforest, in its own secluded bay
                        overlooking Phang Nga, this five-star retreat is famous for snorkelling, kayaking, hiking and
                        island hopping.
                    </p>
                    <p>Scheduled return airport transfers from Phuket International Airport with speedboat connection
                        from Yacht Haven Marina are included for 7+ night stays only, see Fine Print for details.
                    </p>
                    <p>Need flights? Our dedicated flights concierge can assist with all your flight requirements.
                        Contact sales&#64;tavelshukam.com.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 border-top py-4 mt-4 pb-0" id="facilities">
            <div class="facilities-wrap">
                <h4 class="mb-3">Facilities</h4>
                <ul>
                    <li>24-hour front desk</li>
                    <li>Concierge service</li>
                    <li>Swimming pool</li>
                    <li>Day spa</li>
                    <li>Steam room</li>
                    <li>Yoga classes</li>
                    <li>Private beach area</li>
                    <li>Restaurants</li>
                    <li>Bar</li>
                    <li>Check-in: 2pm / Checkout: 12pm</li>
                    <li>24-hour front desk</li>
                    <li>Concierge service</li>
                    <li>Swimming pool</li>
                    <li>Day spa</li>
                    <li>Steam room</li>
                    <li>Yoga classes</li>
                    <li>Private beach area</li>
                    <li>Restaurants</li>
                    <li>Bar</li>
                    <li>Check-in: 2pm / Checkout: 12pm</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 border-top py-4 mt-4 pb-0" id="finepart">
            <div class="facilities-wrap">
                <h4 class="mb-3">Fine Print</h4>
                <strong>Cancellation Policy</strong>
                <span class="w-100 d-flex my-3">Refundable Cancellation Policy</span>
                <p>Accommodation bookings can be cancelled with a full refund provided the cancellation is made no less
                    than 14 days prior to check-in. That is cancel by 11:59 pm (local time of property) 14 full days
                    prior to the day of check-in. Excludes flights.</p>
                <span class="w-100 d-flex my-3">Non-Refundable Cancellation Policy</span>
                <p>Please note that ‘Non-Refundable’ packages are guaranteed at the time of booking and not eligible for
                    a refund or date change. Accordingly, please select your package carefully and take note of any
                    cancellation policy applicable to your purchase.</p>

                <div class="MarkdownRender__Root-sc-1ir0l27-0 epJhIf compact body-font-large">
                    <p><strong>Update [27 June 2022, 4.20pm AEST]</strong> Maximum room capacities have been updated.
                        See Packages for information.</p>
                    <p><strong>Update 31 January 2022, AEST</strong> <strong>10.45am:</strong> Please note compulsory
                        gala dinner surcharges apply as below.</p>
                    <p>See full <a target="_blank" rel="noopener noreferrer" href="#">booking terms and conditions</a>.
                    </p>
                    <p><strong>Compulsory Gala Dinner:</strong> For stays on 24 December, an additional surcharge
                        applies for a Christmas Eve Dinner. For stays on 31 December, an additional surcharge applies
                        for the compulsory New Year’s Gala dinner. Children under four eat free. Payable directly to the
                        resort.</p>
                    <p>Package Inclusions: Inclusions are correct at the time of purchase. Refer to your booking
                        confirmation for details. Please note package inclusions for extra guests vary depending on the
                        rate selected, please choose your package carefully.</p>
                    <p>Dining inclusions do not include beverages (unless otherwise stated). Menus are subject to change
                        without notice.</p>
                    <p><strong>Please Note:</strong> The following applies to select packages only.</p>
                    <p><strong>Return land and sea transfers (7+ nights only)</strong>:</p>
                    <ul class="d-flex flex-column single-lint">
                        <li>Paradise KohYao can pick you up straight from the airport or any hotel in Phuket or Krabi
                            and transport you directly to the resort.</li>
                        <li>The transfer will deliver you to Yacht Haven Marina in Phuket or Thalen Pier in Krabi, where
                            you will be transferred to Paradise KohYao’s pier by speedboat.</li>
                    </ul>
                    <p><strong>Boats operate on the following schedule:</strong></p>
                    <ul class="d-flex flex-column single-lint">
                        <li>9.30am: Paradise KohYao Marina to Yacht Haven Marina</li>
                        <li>11am: Yacht Haven Marina to Paradise KohYao Marina (Phuket)</li>
                        <li>1pm: Paradise KohYao Yacht Haven Marina</li>
                        <li>1.30pm: Paradise KohYao Marina to Thalen Pier (Krabi)</li>
                        <li>2pm: Thalen Pier to Paradise KohYao Marina</li>
                        <li>2pm: Yacht Haven Marina to Paradise KohYao Marina</li>
                        <li>3pm: Paradise KohYao to Yacht Haven Marina</li>
                        <li>4.30pm: Yacht Haven Marina to Paradise KohYao Marina</li>
                    </ul>
                    <p><strong>Transfers are available for all other lengths of stay for a surcharge:</strong></p>
                    <p><strong>Land transfers</strong>: THB500 per way, per adult or THB250 per way, per child.</p>
                    <p><strong>Boat transfers</strong>: THB1,000 per way, per adult or THB500 per way, per child.</p>
                    <p><strong>Half-day island hopping tour (5+ nights only)</strong>:</p>
                    <ul class="d-flex flex-column single-lint">
                        <li>Valid for two guests.</li>
                        <li>Goes to Koh Pak Bia.</li>
                        <li>Please reserve your spot with the reception on arrival.</li>
                        <li>A national park entrance fee applies. Payable directly to the resort.</li>
                    </ul>
                    <p><strong>Test &amp; Go:</strong> Covers all Thailand destinations. If travelling outside of
                        Sandbox area, then apply for Thailand Pass under Test &amp; Go program. You must quarantine the
                        first night to wait for your negative RT-PCR test, then you are free to go anywhere in Thailand.
                        Find out more <a target="_blank" rel="noopener noreferrer"
                            href="https://luxuryescapes.com/thailand.p1">here</a>.</p>
                    <p><strong>Important:</strong> The hotel, transportation and/or destination you are travelling to
                        may have health, insurance and vaccination requirements in place. Please ensure you stay up to
                        date with any requirements prior to your departure.</p>
                    <p>The property, facilities and dining are subject to government regulations and restrictions.
                        Please check the property website for the most up-to-date information as some of the services
                        may be impacted.</p>
                    <p>Luxury Escapes reserves the right to modify prices for marketing and commercial reasons. Please
                        note that full <a target="_blank" rel="noopener noreferrer"
                            href="https://luxuryescapes.com/terms-and-conditions">terms and conditions apply</a>.</p>
                    <p><strong>LuxPlus+ Terms &amp; Conditions:</strong></p>
                    <ul class="d-flex flex-column single-lint">
                        <li>LuxPlus+ pricing and bonus inclusions apply to LuxPlus+ members only. Please ensure you are
                            signed into the account associated with your LuxPlus+ membership while booking. </li>
                        <li>Bonus inclusions will be automatically applied during checkout when you make a booking with
                            a participating hotel using the account associated with your LuxPlus+ membership. </li>
                        <li><strong>Please note:</strong> Bonus inclusions vary depending on the participating hotel.
                            Please refer to your package inclusions upon checkout/purchase to confirm the bonus
                            inclusions associated with your booking. </li>
                        <li>Bonus inclusions are only available when the LuxPlus+ member is the primary traveller on the
                            booking. </li>
                        <li>LuxPlus+ bonus inclusions are not available for bookings made back-to-back (separate
                            bookings for consecutive nights’ stay) at the same hotel. In the instance of back-to-back
                            bookings at the same hotel being made, you will only receive the included benefits once.
                        </li>
                    </ul>
                    <p>LuxPlus+ benefits will not be awarded in relation to any purchases, transactions or
                        non-transactional actions that are reversed, cancelled and/or refunded. </p>
                    <p>LuxPlus+ member discounts and bonus inclusions cannot be converted or exchanged for cash. </p>
                    <p>Luxury Escapes reserves the right to review all bookings and bonus inclusions to ensure
                        compliance with LuxPlus+ terms and conditions. </p>
                    <p>LuxPlus+ member pricing cannot be combined with any other promotions, offers or discount codes
                        unless explicitly stated by Luxury Escapes. </p>
                    <p>To receive member-only pricing, discounts, early access and bonus inclusions, sign up to
                        LuxPlus+. Learn more <a target="_blank" rel="noopener noreferrer"
                            href="https://luxuryescapes.com/lux-plus">here</a>. </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 border-top py-4 mt-4 pb-0" id="Reviews">
            <h4 class="mb-3">Review</h4>
            <div class="review-section">
                <div class="rating-summary">
                    <div class="rating-score">
                        <span class="score">9.2</span>
                        <div class="d-flex flex-column">
                            <span class="label">Exceptional</span>
                            <span class="review-count">45 reviews</span>
                        </div>
                    </div>
                    <div class="summary">
                        <h2>Summary</h2>
                        <p>Paradise Koh Yao is a serene and beautiful resort with friendly staff, delicious dining
                            options, and a peaceful atmosphere. Guests praise the relaxing ambiance, stunning views, and
                            top-notch service. Some mention minor issues but overall highly recommend the resort for a
                            tranquil getaway.</p>
                    </div>
                </div>
                <div class="review">
                    <div class="user-info">
                        <h3>Alberto B.</h3>
                        <p>Italy</p>
                        <span class="details">2 escapes • 1 review</span>
                        <span class="review-date">Reviewed 09 Sep 2024</span>
                        <span class="stay-details">Family • Superior Studio • 14 nights • Aug 2024</span>
                    </div>
                    <div class="review-content">
                        <p>Siamo stati 14 giorni 3 persone in una camera con Jacuzzi dopo aver ricevuto un upgrade.
                            Posto molto bello, staff e personale efficiente e sempre sorridente. Spiaggia fantastica...
                        </p>
                    </div>
                    <div class="review-score">
                        <span class="r-score">10</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-0 mt-sm-5 similar-hotel">
    <h4 class="mb-0 pt-3 pt-sm-0 mb-sm-5 d-flex align-items-center justify-content-center">You may also like</h4>
    <div class="d-none d-sm-block">
        <app-thumbnail-slider [images]="imageSet3"></app-thumbnail-slider>
    </div>

    <div class="d-block d-sm-none ts-list-of-hotel-row">
        <div class="ts-hotel-list">
            <div class="ts-hotel-list-item" *ngFor="let hotel of hotels" routerLink="/hotel-detail">
                <div class="ts-hotel-list-img">
                    <img [src]="hotel.imgSrc" alt="">
                </div>
                <div class="ts-hotel-list-detail">
                    <h5 class="mb-0">{{ hotel.name }}</h5>
                    <p>{{ hotel.location }}</p>
                    <div class="ts-hotel-rating">
                        <span class="count-rating">{{ hotel.rating }}</span>
                        <span class="title">Very good</span>
                        <a href="#" class="total-review">({{ hotel.reviewCount }} reviews)</a>
                    </div>
                    <div class="ts-hotel-price">
                        <span class="price">₹ {{ hotel.price }}</span>
                        <span class="per-head">+ ₹{{ hotel.taxesAndFees }} taxes & fees / night</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>


<!-- Modals -->
<div class="modal fade" id="roomGuestsModal" tabindex="-1" aria-labelledby="roomGuestsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="roomGuestsModalLabel"><span class="material-symbols-outlined"
                        data-bs-dismiss="modal" aria-label="Close">
                        arrow_back
                    </span> Room & guests</h5>
            </div>
            <div class="modal-body">

                <div *ngFor="let room of rooms; let i = index" class="select-room-with-guests">
                    <div class="room-label">
                        <span>Room {{ i + 1 }} </span>
                        <button *ngIf="rooms.length > 1" class="remove-room" (click)="removeRoom(i)"><span
                                class="material-symbols-outlined">
                                close
                            </span></button>
                    </div>
                    <div class="choose-adult-children">
                        <div class="choose-adults">
                            <div class="d-flex flex-column">
                                <span>Adults</span>
                                <label>12+ Years</label>
                            </div>
                            <div class="choose-quantative">
                                <span>-</span>
                                2
                                <span>+</span>
                            </div>
                        </div>
                        <div class="children-adults">
                            <div class="d-flex flex-column">
                                <span>Children</span>
                                <label>0-11 Years</label>
                            </div>
                            <div class="choose-quantative">
                                <span>-</span>
                                0
                                <span>+</span>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="add-another-room mt-4" (click)="addRoom()">
                    <span class="material-symbols-outlined">add</span> Add Another room
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="whereToModal" tabindex="-1" aria-labelledby="whereToModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="whereToModalLabel">
                    <span class="material-symbols-outlined" data-bs-dismiss="modal" aria-label="Close">
                        arrow_back
                    </span> Where to?
                </h5>
            </div>
            <div class="modal-body">
                <!-- Sticky search input -->
                <div class="sticky-top bg-white ">
                    <input type="text" class="form-control" placeholder="Search for a airport..."
                        [(ngModel)]="searchQuery">
                </div>
                <!-- List of cities -->
                <div class="list-group">
                    <a *ngFor="let city of filteredCities()" href="#"
                        class="list-group-item list-group-item-action d-flex align-items-center">
                        <img [src]="city.image" alt="{{ city.name }}" class="me-3 rounded-circle"
                            style="width:40px; height:40px;">
                        <span class="city-name">
                            {{ city.name }} <br />
                            <label>{{ city.country }}</label>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="viewAmenities" tabindex="-1" aria-labelledby="viewAmenitiesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewAmenitiesModalLabel">
                    <span class="material-symbols-outlined" data-bs-dismiss="modal" aria-label="Close">
                        arrow_back
                    </span>Room Amenities & Policies
                </h5>
            </div>
            <div class="modal-body">
                <div class="room-details-container">
                    <!-- Room Details Section -->
                    <div class="section">
                        <h6 class="mb-0">Room Amenities & Policies</h6>
                        <label class="mb-3 text-gray">Pull Villa</label>
                        <h6 class="section-heading">Room Details</h6>
                        <div class="room-size">
                            <span class="icon">
                                <svg viewBox="0 0 24 24" fill="none">
                                    <path fill="currentColor"
                                        d="M20.9199 6.62a.9992.9992 0 0 0-.21-.33l-3-3a1.0037 1.0037 0 0 0-.71-.2942 1.0041 1.0041 0 0 0-.71 1.7141l1.3 1.29h-8.59a3 3 0 0 0-3 3v8.59l-1.29-1.3a1.0041 1.0041 0 1 0-1.42 1.42l3 3a.9992.9992 0 0 0 .33.21.9402.9402 0 0 0 .76 0 .9991.9991 0 0 0 .33-.21l3-3a1.0041 1.0041 0 0 0-1.42-1.42l-1.29 1.3v-8.59a1 1 0 0 1 1-1h8.59l-1.3 1.29a1.001 1.001 0 0 0-.2958.71 1.0008 1.0008 0 0 0 .2958.71.9989.9989 0 0 0 1.0946.2189.9966.9966 0 0 0 .3254-.2189l3-3a.9991.9991 0 0 0 .21-.33.9992.9992 0 0 0 0-.76Z">
                                    </path>
                                </svg>
                            </span>
                            <span class="room-size-text">91m²</span>
                        </div>
                    </div>
                    <!-- Room Amenities Section -->
                    <div class="section">
                        <h6 class="section-heading">Room Amenities</h6>
                        <ul class="amenities-list">
                            <li>Air conditioning</li>
                            <li>Bathtub</li>
                            <li>Bottled water</li>
                            <li>Direct beachfront access</li>
                            <li>Ensuite bathroom</li>
                            <li>King bed</li>
                            <li>Minibar (charges apply)</li>
                            <li>Ocean views</li>
                            <li>Open-air sala with private bar</li>
                            <li>Outdoor shower</li>
                            <li>Private double jacuzzi</li>
                            <li>Private pool</li>
                            <li>Robes and slippers</li>
                            <li>TV</li>
                            <li>Tea and coffee-making facilities</li>
                            <li>Wi-Fi</li>
                        </ul>
                    </div>
                    <div class="section">
                        <h6>Room Policies</h6>
                        <p>Inclusions valid for two guests.</p>
                        <p><strong>Maximum Room Capacity:</strong> Three guests</p>
                        <ul>
                            <li>Maximum adults (12+): 3</li>
                            <li>Maximum children (2–11): 1</li>
                            <li>Maximum infants (under 2): 1</li>
                        </ul>
                        <p><strong>Surcharges may apply for additional guests, payable directly to the hotel. Inclusions
                                are not valid for additional guests (unless specified). Please see below:</strong></p>
                        <ul>
                            <li>Adults: THB2,000 per person, per night</li>
                            <li>Children: Free of charge</li>
                            <li>Infants: Free of charge</li>
                        </ul>
                        <p><strong>Bedding:</strong> Standard bedding includes a <strong>king bed</strong>. A
                            <strong>daybed</strong> is available, for all additional adults and children. For infants, a
                            cot can be provided on request, subject to availability.</p>
                        <p>Please note, connecting villas are not available.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>