    :root,
    .tsukham-web-t {
        --tsukham-web-fonts-sans: -apple-system, BlinkMacSystemFont, "Outfit", sans-serif;
        --tsukham-web-fontSizes-1: 12px;
        --tsukham-web-fontSizes-2: 13px;
        --tsukham-web-fontSizes-3: 15px;
        --tsukham-web-fontSizes-4: 17px;
        --tsukham-web-fontSizes-5: 19px;
        --tsukham-web-fontSizes-6: 21px;
        --tsukham-web-fontSizes-7: 27px;
        --tsukham-web-fontSizes-8: 35px;
        --tsukham-web-fontSizes-9: 59px;
        --tsukham-web-fontWeights-hairline: 100;
        --tsukham-web-fontWeights-thin: 200;
        --tsukham-web-fontWeights-light: 300;
        --tsukham-web-fontWeights-normal: 400;
        --tsukham-web-fontWeights-medium: 500;
        --tsukham-web-fontWeights-semibold: 600;
        --tsukham-web-fontWeights-bold: 700;
        --tsukham-web-fontWeights-extrabold: 800;
        --tsukham-web-fontWeights-black: 900;
        --tsukham-web-letterSpacings-tighter: -0.05em;
        --tsukham-web-letterSpacings-tight: -0.025em;
        --tsukham-web-letterSpacings-normal: 0;
        --tsukham-web-letterSpacings-wide: 0.025em;
        --tsukham-web-letterSpacings-wider: 0.05em;
        --tsukham-web-letterSpacings-widest: 0.1em;
        --tsukham-web-space-1: 5px;
        --tsukham-web-space-2: 10px;
        --tsukham-web-space-3: 15px;
        --tsukham-web-space-4: 20px;
        --tsukham-web-space-5: 25px;
        --tsukham-web-space-6: 35px;
        --tsukham-web-space-7: 45px;
        --tsukham-web-space-8: 55px;
        --tsukham-web-space-9: 65px;
        --tsukham-web-sizes-1: 5px;
        --tsukham-web-sizes-2: 10px;
        --tsukham-web-sizes-3: 15px;
        --tsukham-web-sizes-4: 20px;
        --tsukham-web-sizes-5: 25px;
        --tsukham-web-sizes-6: 35px;
        --tsukham-web-sizes-7: 45px;
        --tsukham-web-sizes-8: 55px;
        --tsukham-web-sizes-9: 65px;
        --tsukham-web-radii-1: 4px;
        --tsukham-web-radii-2: 6px;
        --tsukham-web-radii-3: 8px;
        --tsukham-web-radii-4: 12px;
        --tsukham-web-radii-round: 50%;
        --tsukham-web-radii-pill: 9999px;
        --tsukham-web-zIndices-1: 100;
        --tsukham-web-zIndices-2: 200;
        --tsukham-web-zIndices-3: 300;
        --tsukham-web-zIndices-4: 400;
        --tsukham-web-zIndices-5: 500;
        --tsukham-web-zIndices-10: 1000;
        --tsukham-web-zIndices-max: 9999;
        --tsukham-web-borderWeights-light: 1px;
        --tsukham-web-borderWeights-normal: 2px;
        --tsukham-web-borderWeights-bold: 3px;
        --tsukham-web-borderWeights-extrabold: 4px;
        --tsukham-web-borderWeights-black: 5px;
        --tsukham-web-transitions-default: all 250ms ease;
        --tsukham-web-transitions-button: background 0.25s ease 0s, color 0.25s ease 0s, border-color 0.25s ease 0s, box-shadow 0.25s ease 0s, transform 0.25s ease 0s, opacity 0.25s ease 0s;
        --tsukham-web-transitions-avatar: box-shadow 0.25s ease 0s, opacity 0.25s ease 0s;
        --tsukham-web-transitions-link: opacity 0.25s ease 0s, background 0.25s ease 0s;
        --tsukham-web-transitions-card: transform 0.25s ease 0s, filter 0.25s ease 0s, box-shadow 0.25s ease 0s;
        --tsukham-web-transitions-dropdownItem: background 0.25s ease, transform 0.25s ease, color 0.15s ease, box-shadow 0.25s ease 0s;
        --tsukham-web-breakpoints-sm: 576px;
        --tsukham-web-breakpoints-md: 768px;
        --tsukham-web-breakpoints-lg: 992px;
        --tsukham-web-breakpoints-xl: 1200px;
        --tsukham-web-breakpoints-xxl: 1400px;
        --tsukham-web-colors-white: #FFFFFF;
        --tsukham-web-colors-black: #000000;
        --tsukham-web-colors-green00: #E5F9F3;
        --tsukham-web-colors-green01: #B2EEDA;
        --tsukham-web-colors-green02: #80E3C2;
        --tsukham-web-colors-green03: #4CD7A9;
        --tsukham-web-colors-green04: #26CF96;
        --tsukham-web-colors-green05: #00C684;
        --tsukham-web-colors-green06: #00B277;
        --tsukham-web-colors-green07: #009E6A;
        --tsukham-web-colors-green08: #008B5C;
        --tsukham-web-colors-green09: #00774F;
        --tsukham-web-colors-green10: #006342;
        --tsukham-web-colors-grey00: #F7F7F7;
        --tsukham-web-colors-grey01: #E5E5E5;
        --tsukham-web-colors-grey02: #D4D4D4;
        --tsukham-web-colors-grey03: #C3C3C3;
        --tsukham-web-colors-grey04: #B7B7B7;
        --tsukham-web-colors-grey05: #AAAAAA;
        --tsukham-web-colors-grey06: #999999;
        --tsukham-web-colors-grey07: #888888;
        --tsukham-web-colors-grey08: #777777;
        --tsukham-web-colors-grey09: #666666;
        --tsukham-web-colors-grey10: #555555;
        --tsukham-web-colors-grey11: #444444;
        --tsukham-web-colors-grey12: #333333;
        --tsukham-web-colors-purple00: #ECE4F6;
        --tsukham-web-colors-purple01: #E1D5F1;
        --tsukham-web-colors-purple02: #C5AFE4;
        --tsukham-web-colors-purple03: #A989D7;
        --tsukham-web-colors-purple04: #8D63CA;
        --tsukham-web-colors-purple05: #7E4FC3;
        --tsukham-web-colors-purple06: #7140BA;
        --tsukham-web-colors-purple07: #6639A7;
        --tsukham-web-colors-purple08: #5A3394;
        --tsukham-web-colors-purple09: #4F2C81;
        --tsukham-web-colors-purple10: #44266E;
        --tsukham-web-colors-red00: #FDECEF;
        --tsukham-web-colors-red01: #FAC7CE;
        --tsukham-web-colors-red02: #F7A1AE;
        --tsukham-web-colors-red03: #F47B8E;
        --tsukham-web-colors-red04: #F15F75;
        --tsukham-web-colors-red05: #EF435D;
        --tsukham-web-colors-red06: #D73C54;
        --tsukham-web-colors-red07: #BF364A;
        --tsukham-web-colors-red08: #A72F41;
        --tsukham-web-colors-red09: #8F2838;
        --tsukham-web-colors-red10: #78212E;
        --tsukham-web-colors-white: #FFFFFF;
        --tsukham-web-colors-yellow00: #FFFAEB;
        --tsukham-web-colors-yellow01: #FFEFC2;
        --tsukham-web-colors-yellow02: #FFE499;
        --tsukham-web-colors-yellow03: #FFD970;
        --tsukham-web-colors-yellow04: #FFD152;
        --tsukham-web-colors-yellow05: #FFC933;
        --tsukham-web-colors-yellow06: #E5B52E;
        --tsukham-web-colors-yellow07: #CCA129;
        --tsukham-web-colors-yellow08: #B38D24;
        --tsukham-web-colors-yellow09: #99791F;
        --tsukham-web-colors-yellow10: #99791F;
        --tsukham-web-colors-background: var(--tsukham-web-colors-white);
        --tsukham-web-colors-foreground: var(--tsukham-web-colors-black);
        --tsukham-web-colors-backgroundContrast: var(--tsukham-web-colors-white);
        --tsukham-web-colors-text: var(--tsukham-web-colors-gray09);
        --tsukham-web-colors-link: var(--tsukham-web-colors-purple06);
        --tsukham-web-colors-codeLight: var(--tsukham-web-colors-red01);
        --tsukham-web-colors-code: var(--tsukham-web-colors-red06);
        --tsukham-web-colors-selection: var(--tsukham-web-colors-purple06);
        --tsukham-web-shadows-xs: 0 2px 8px 1px rgb(104 112 118 / 0.07), 0 1px 1px -1px rgb(104 112 118 / 0.04);
        --tsukham-web-shadows-sm: 0 2px 8px 2px rgb(104 112 118 / 0.07), 0 2px 4px -1px rgb(104 112 118 / 0.04);
        --tsukham-web-shadows-md: 0 12px 20px 6px rgb(104 112 118 / 0.08);
        --tsukham-web-shadows-lg: 0 12px 34px 6px rgb(104 112 118 / 0.18);
        --tsukham-web-shadows-xl: 0 25px 65px 0px rgb(104 112 118 / 0.35);
        --tsukham-web-dropShadows-xs: drop-shadow(0 2px 4px rgb(104 112 118 / 0.07)) drop-shadow(0 1px 1px rgb(104 112 118 / 0.04));
        --tsukham-web-dropShadows-sm: drop-shadow(0 2px 8px rgb(104 112 118 / 0.07)) drop-shadow(0 2px 4px rgb(104 112 118 / 0.04));
        --tsukham-web-dropShadows-md: drop-shadow(0 4px 12px rgb(104 112 118 / 0.08)) drop-shadow(0 20px 8px rgb(104 112 118 / 0.04));
        --tsukham-web-dropShadows-lg: drop-shadow(0 12px 24px rgb(104 112 118 / 0.15)) drop-shadow(0 12px 14px rgb(104 112 118 / 0.1));
        --tsukham-web-dropShadows-xl: drop-shadow(0 25px 34px rgb(104 112 118 / 0.35));

        --tsukham-web-colors-custom00: #CFE7E0;
            --tsukham-web-colors-custom01: #F0F0F0;
            --tsukham-web-colors-custom02: #292929;
            --tsukham-web-colors-custom03: #ffffffcc;
            --tsukham-web-colors-custom04: #F6F7F8;
            --tsukham-web-colors-custom05: #01c684;
            --tsukham-web-colors-custom06: #2b2f41;
            --tsukham-web-colors-custom07: #fafafa;
            --tsukham-web-colors-custom08: #F6F6F6;
            --tsukham-web-colors-custom09: #00c584;
            --tsukham-web-colors-custom10: #F1F3F8;
            --tsukham-web-colors-custom11: #333;
            --tsukham-web-colors-custom13: #F5F5F5;
            --tsukham-web-colors-custom14: #1895b3;
            --tsukham-web-colors-custom15: #65656b;
            --tsukham-web-colors-custom16: #148099;
            --tsukham-web-colors-custom17: #777;
            --tsukham-web-colors-custom18: #CCCCCC;
            --tsukham-web-colors-custom19: #00B087;
            --tsukham-web-colors-custom20: #53576d;
            --tsukham-web-colors-custom21: #fffbe9;
            --tsukham-web-colors-custom22: #2677F0;
            --tsukham-web-colors-custom23: #222222;
            --tsukham-web-colors-custom24: #656565;
            --tsukham-web-colors-custom25: #757575;
            --tsukham-web-colors-custom26: #BDF2FF;
            --tsukham-web-colors-custom27: #F2F2F2;
            --tsukham-web-colors-custom28: #e9e9e9;
            --tsukham-web-colors-custom29: #878787;
            --tsukham-web-colors-custom30: #373737;
            --tsukham-web-colors-custom31: #3B4EB2;
            --tsukham-web-colors-custom32: #09B367;
            --tsukham-web-colors-custom33: #F9F9F9;
            --tsukham-web-colors-custom34: #D8D8D8;
            --tsukham-web-colors-custom35: #535353;
            --tsukham-web-colors-custom36: #008046;
            --tsukham-web-colors-custom37: #20FF9B;
            --tsukham-web-colors-custom38: #545454;
            --tsukham-web-colors-custom39: #F3F3F3;
            --tsukham-web-colors-custom40: #07A55E;
            --tsukham-web-colors-custom41: #84D9B3;
            --tsukham-web-colors-custom42: #ED5F74;
            --tsukham-web-colors-custom43: #5B5B5B;
            --tsukham-web-colors-custom44: #F57386;
            --tsukham-web-colors-custom45: #DADEF1;
            --tsukham-web-colors-primary00: #E5F9F3;
                --tsukham-web-colors-primary01: #B2EEDA;
                --tsukham-web-colors-primary02: #80E3C2;
                --tsukham-web-colors-primary03: #4CD7A9;
                --tsukham-web-colors-primary04: #26CF96;
                --tsukham-web-colors-primary05: #00C684;
                --tsukham-web-colors-primary06: #ECA846;
                --tsukham-web-colors-primary07: #009E6A;
                --tsukham-web-colors-primary08: #008B5C;
                --tsukham-web-colors-primary09: #00774F;
                --tsukham-web-colors-primary10: #006342;
                --tsukham-web-colors-primary11: #e4fbef;
                --tsukham-web-colors-primary12: #008046;
                --tsukham-web-colors-primary13: #E6F7E8;
                --tsukham-web-colors-s_custom46: #333848;
                --tsukham-web-colors-s_custom47: #038C55;
                --tsukham-web-colors-s_custom48: #F3F4FB;
                --tsukham-web-colors-s_custom49: #576489;
                --tsukham-web-colors-s_custom50: #8C94D9;
                --tsukham-web-colors-s_custom51: #CDD1EF;
                --tsukham-web-colors-s_custom52: #E8EAF8;
                --tsukham-web-colors-btn-disabled: var(--tsukham-web-colors-white);
                --tsukham-web-colors-btn-disabled-bg: var(--tsukham-web-colors-custom41);
                --tsukham-web-colors-btn-disabled-shadow: var(--tsukham-web-colors-custom41);
                --tsukham-web-colors-btn-primary: var(--tsukham-web-colors-white);
                --tsukham-web-colors-btn-primary-bg: var(--tsukham-web-colors-primary06);
                --tsukham-web-colors-btn-primary-shadow: var(--tsukham-web-colors-primary04);
                --tsukham-web-colors-btn-primary-hover-shadow: var(--tsukham-web-colors-primary06);
                --tsukham-web-colors-btn-primary-gradient: var(--tsukham-web-colors-white);
                --tsukham-web-colors-btn-primary-gradient-bg: linear-gradient(94.77deg, #009E6A 0.56%, #00C684 100%);
                --tsukham-web-colors-btn-primary-active: inherit;
                --tsukham-web-colors-btn-primary-active-bg: none;
                --tsukham-web-colors-btn-primary-active-shadow: var(--tsukham-web-colors-primary06);
                --tsukham-web-colors-btn-primary-focus-shadow: var(--tsukham-web-colors-primary06);
                --tsukham-web-colors-btn-secondary: var(--tsukham-web-colors-white);
                --tsukham-web-colors-btn-secondary-bg: var(--tsukham-web-colors-grey06);
                --tsukham-web-colors-btn-secondary-shadow: var(--tsukham-web-colors-grey07);
                --tsukham-web-colors-btn-secondary-hover-shadow: var(--tsukham-web-colors-grey09);
                --tsukham-web-colors-btn-secondary-active: var(--tsukham-web-colors-grey09);
                --tsukham-web-colors-btn-secondary-active-bg: var(--tsukham-web-colors-grey02);
                --tsukham-web-colors-btn-secondary-active-shadow: var(--tsukham-web-colors-grey07);
                --tsukham-web-colors-btn-secondary-focus-shadow: var(--tsukham-web-colors-grey09);
                --tsukham-web-colors-btn-danger: var(--tsukham-web-colors-white);
                --tsukham-web-colors-btn-danger-bg: var(--tsukham-web-colors-red06);
                --tsukham-web-colors-btn-danger-shadow: var(--tsukham-web-colors-red07);
                --tsukham-web-colors-btn-danger-hover-shadow: var(--tsukham-web-colors-red09);
                --tsukham-web-colors-btn-danger-active: var(--tsukham-web-colors-red09);
                --tsukham-web-colors-btn-danger-active-bg: var(--tsukham-web-colors-red02);
                --tsukham-web-colors-btn-danger-active-shadow: var(--tsukham-web-colors-red07);
                --tsukham-web-colors-btn-danger-focus-shadow: var(--tsukham-web-colors-red09);
                --tsukham-web-colors-btn-outlined: var(--tsukham-web-colors-black);
                --tsukham-web-colors-btn-outlined-primary: var(--tsukham-web-colors-primary09);
                --tsukham-web-colors-btn-outlined-secondary: var(--tsukham-web-colors-grey09);
                --tsukham-web-colors-btn-outlined-danger: var(--tsukham-web-colors-red07);
                --tsukham-web-colors-btn-outlined-bg: transparent;
                --tsukham-web-colors-btn-outlined-shadow: var(--tsukham-web-colors-black);
                --tsukham-web-colors-btn-outlined-hover-shadow: var(--tsukham-web-colors-black);
                --tsukham-web-colors-btn-outlined-active: var(--tsukham-web-colors-black);
                --tsukham-web-colors-btn-outlined-active-bg: var(--tsukham-web-colors-transparent);
                --tsukham-web-colors-btn-outlined-active-shadow: var(--tsukham-web-colors-grey09);
                --tsukham-web-colors-btn-outlined-focus-shadow: var(--tsukham-web-colors-grey09);
                --tsukham-web-colors-icon-btn: var(--tsukham-web-colors-grey12);
                --tsukham-web-colors-icon-btn-bg: var(--tsukham-web-colors-white);
                --tsukham-web-colors-icon-btn-border: var(--tsukham-web-colors-grey4);
                --tsukham-web-colors-icon-btn-hover-border: var(--tsukham-web-colors-grey6);
                --tsukham-web-colors-icon-btn-active-bg: var(--tsukham-web-colors-grey3);
                --tsukham-web-colors-icon-btn-focus-border: var(--tsukham-web-colors-grey7);
                --tsukham-web-colors-icon-btn-focus-shadow: var(--tsukham-web-colors-grey7);
                --tsukham-web-colors-icon-btn-disabled: var(--tsukham-web-colors-grey5);
                --tsukham-web-colors-icon-btn-ghost-hover-bg: hsl(210 98.8% 14.4% / 0.055);
                --tsukham-web-colors-icon-btn-ghost-focus-shadow: hsl(205 96.5% 10.0% / 0.244);
                --tsukham-web-colors-icon-btn-ghost-active-bg: hsl(210 94.1% 11.1% / 0.075);
                --tsukham-web-colors-icon-btn-raised-focus-border: var(--tsukham-web-colors-grey7);
                --tsukham-web-colors-icon-btn-raised-focus-shadow: var(--tsukham-web-colors-grey7);
                --tsukham-web-colors-icon-btn-raised-active-bg: var(--tsukham-web-colors-grey3);
                --tsukham-web-colors-icon-btn-waiting-bg: var(--tsukham-web-colors-grey3);
                --tsukham-web-colors-input: var(--tsukham-web-colors-black);
                --tsukham-web-colors-input-bg: var(--tsukham-web-colors-custom03);
                --tsukham-web-colors-input-shadow: var(--tsukham-web-colors-grey07);
                --tsukham-web-colors-input-placeholder: var(--tsukham-web-colors-grey09);
                --tsukham-web-colors-input-focus-shadow: var(--tsukham-web-colors-primary07);
                --tsukham-web-colors-animated-select-ul-bg: var(--tsukham-web-colors-white);
                --tsukham-web-colors-animated-input-label: var(--tsukham-web-colors-grey08);
                --tsukham-web-colors-input-disabled: var(--tsukham-web-colors-grey10);
                --tsukham-web-colors-input-disabled-bg: var(--tsukham-web-colors-custom00);
                --tsukham-web-colors-input-disabled-placeholder: var(--tsukham-web-colors-grey12);
                --tsukham-web-colors-input-read-only-bg: var(--tsukham-web-colors-custom27);
                --tsukham-web-colors-input-read-only-shadow: var(--tsukham-web-colors-custom27);
                --tsukham-web-colors-input-ghost-focus-bg: var(--tsukham-web-colors-white);
                --tsukham-web-colors-input-ghost-focus-shadow: var(--tsukham-web-colors-purple08);
                --tsukham-web-colors-input-invalid-shadow: var(--tsukham-web-colors-red07);
                --tsukham-web-colors-input-invalid-focus-shadow: var(--tsukham-web-colors-red08);
                --tsukham-web-colors-input-valid-shadow: var(--tsukham-web-colors-primary07);
                --tsukham-web-colors-input-valid-focus-shadow: var(--tsukham-web-colors-primary08);
                --tsukham-web-colors-textarea: var(--tsukham-web-colors-black);
                --tsukham-web-colors-textarea-bg: var(--tsukham-web-colors-white);
                --tsukham-web-colors-textarea-shadow: var(--tsukham-web-colors-grey07);
                --tsukham-web-colors-textarea-focus-shadow: var(--tsukham-web-colors-purple08);
                --tsukham-web-colors-textarea-placeholder: var(--tsukham-web-colors-grey09);
                --tsukham-web-colors-textarea-disabled: var(--tsukham-web-colors-grey08);
                --tsukham-web-colors-textarea-disabled-bg: var(--tsukham-web-colors-grey02);
                --tsukham-web-colors-textarea-disabled-placeholder: var(--tsukham-web-colors-grey07);
                --tsukham-web-colors-textarea-read-only-bg: var(--tsukham-web-colors-grey02);
                --tsukham-web-colors-textarea-read-only-foucs-shadow: var(--tsukham-web-colors-grey07);
                --tsukham-web-colors-textarea-invalid-shadow: var(--tsukham-web-colors-red07);
                --tsukham-web-colors-textarea-invalid-focus-shadow: var(--tsukham-web-colors-red08);
                --tsukham-web-colors-textarea-valid-shadow: var(--tsukham-web-colors-primary07);
                --tsukham-web-colors-textarea-valid-focus-shadow: var(--tsukham-web-colors-primary08);
                --tsukham-web-colors-checkbox: var(--tsukham-web-colors-red04);
                --tsukham-web-colors-checkbox-shadow: var(--tsukham-web-colors-red04);
                --tsukham-web-colors-checkbox-hover-shadow: var(--tsukham-web-colors-red04);
                --tsukham-web-colors-checkbox-focus-border: var(--tsukham-web-colors-red04);
                --tsukham-web-colors-checkbox-focus-shadow: var(--tsukham-web-colors-red04);
                --tsukham-web-colors-divider-bg: var(--tsukham-web-colors-grey06);
                --tsukham-web-colors-dialog-panel-bg: var(--tsukham-web-colors-white);
                --tsukham-web-colors-dialog-panel-shadow-light: hsl(206 22% 7% / 35%);
                --tsukham-web-colors-dialog-panel-shadow-dark: hsl(206 22% 7% / 20%);
                --tsukham-web-colors-dialog-close-icon: var(--tsukham-web-colors-black);
                --tsukham-web-colors-radio: var(--tsukham-web-colors-black);
                --tsukham-web-colors-radio-indicator-bg: var(--tsukham-web-colors-purple10);
                --tsukham-web-colors-radio-shadow: var(--tsukham-web-colors-grey08);
                --tsukham-web-colors-radio-hover-shadow: var(--tsukham-web-colors-grey08);
                --tsukham-web-colors-radio-focus-border: var(--tsukham-web-colors-red08);
                --tsukham-web-colors-radio-focus-shadow: var(--tsukham-web-colors-purple09);
                --tsukham-web-colors-skeleton-bg: var(--tsukham-web-colors-grey02);
                --tsukham-web-colors-skeleton-after-bg: var(--tsukham-web-colors-grey03);
                --tsukham-web-colors-select-bg: var(--tsukham-web-colors-white);
                --tsukham-web-colors-select-shadow: var(--tsukham-web-colors-grey08);
                --tsukham-web-colors-select: var(--tsukham-web-colors-black);
                --tsukham-web-colors-select-focus-shadow: var(--tsukham-web-colors-purple09);
                --tsukham-web-colors-accordion-item-border: var(--tsukham-web-colors-custom02);
                --tsukham-web-colors-accordion-tigger: var(--tsukham-web-colors-white);
                --tsukham-web-colors-accordion-tigger-hover-bg: var(--tsukham-web-colors-black);
                --tsukham-web-colors-accordion-tigger-focus-shadow: var(--tsukham-web-colors-grey08);
                --tsukham-web-colors-accordion-tigger-icon: var(--tsukham-web-colors-grey09);
                --tsukham-web-colors-modal-panel-bg: var(--tsukham-web-colors-white);
                --tsukham-web-colors-modal-panel-shadow-light: hsl(206 22% 7% / 35%);
                --tsukham-web-colors-modal-panel-shadow-dark: hsl(206 22% 7% / 20%);
                --tsukham-web-colors-nav-link: #333;
                --tsukham-web-colors-nav-link-hover: #00774F;
                --tsukham-web-colors-collapsible-icon-button: hsl(250, 43.0%, 48.0%);
                --tsukham-web-colors-collapsible-shadow: hsla(0, 0%, 0%, 0.141);
                --tsukham-web-colors-collapsible-link: #333;
                --tsukham-web-colors-collapsible-link-hover: #00774F;
                --tsukham-web-colors-drawer-overlay: hsla(0, 0%, 0%, 0.439);
                --tsukham-web-shadows-xs: 0 2px 8px 1px rgb(104 112 118 / 0.07), 0 1px 1px -1px rgb(104 112 118 / 0.04);
                --tsukham-web-shadows-sm: 0 2px 8px 2px rgb(104 112 118 / 0.07), 0 2px 4px -1px rgb(104 112 118 / 0.04);
                --tsukham-web-shadows-md: 0 12px 20px 6px rgb(104 112 118 / 0.08);
                --tsukham-web-shadows-lg: 0 12px 34px 6px rgb(104 112 118 / 0.18);
                --tsukham-web-shadows-xl: 0 25px 65px 0px rgb(104 112 118 / 0.35);
                --tsukham-web-dropShadows-xs: drop-shadow(0 2px 4px rgb(104 112 118 / 0.07)) drop-shadow(0 1px 1px rgb(104 112 118 / 0.04));
                --tsukham-web-dropShadows-sm: drop-shadow(0 2px 8px rgb(104 112 118 / 0.07)) drop-shadow(0 2px 4px rgb(104 112 118 / 0.04));
                --tsukham-web-dropShadows-md: drop-shadow(0 4px 12px rgb(104 112 118 / 0.08)) drop-shadow(0 20px 8px rgb(104 112 118 / 0.04));
                --tsukham-web-dropShadows-lg: drop-shadow(0 12px 24px rgb(104 112 118 / 0.15)) drop-shadow(0 12px 14px rgb(104 112 118 / 0.1));
                --tsukham-web-dropShadows-xl: drop-shadow(0 25px 34px rgb(104 112 118 / 0.35));
                --tsukham-web-space-1: 4px;
                --tsukham-web-space-2: 8px;
                --tsukham-web-space-3: 12px;
                --tsukham-web-space-4: 16px;
                --tsukham-web-space-5: 20px;
                --tsukham-web-space-6: 24px;
                --tsukham-web-space-7: 32px;
                --tsukham-web-space-8: 40px;
                --tsukham-web-space-9: 48px;
                --tsukham-web-sizes-1: 4px;
                --tsukham-web-sizes-2: 8px;
                --tsukham-web-sizes-3: 16px;
                --tsukham-web-sizes-4: 20px;
                --tsukham-web-sizes-5: 24px;
                --tsukham-web-sizes-6: 40px;
                --tsukham-web-sizes-7: 48px;
                --tsukham-web-sizes-8: 64px;
                --tsukham-web-sizes-9: 80px;
                --tsukham-web-radii-1: 4px;
                --tsukham-web-radii-2: 6px;
                --tsukham-web-radii-3: 8px;
                --tsukham-web-radii-4: 12px;
                --tsukham-web-radii-5: 16px;
                --tsukham-web-radii-round: 50%;
                --tsukham-web-radii-pill: 9999px;
                --tsukham-web-zIndices-1: 100;
                --tsukham-web-zIndices-2: 200;
                --tsukham-web-zIndices-3: 300;
                --tsukham-web-zIndices-4: 400;
                --tsukham-web-zIndices-max: 999;
                --tsukham-web-fontSizes-0: 10px;
                --tsukham-web-fontSizes-1: 12px;
                --tsukham-web-fontSizes-2: 14px;
                --tsukham-web-fontSizes-3: 16px;
                --tsukham-web-fontSizes-4: 18px;
                --tsukham-web-fontSizes-5: 20px;
                --tsukham-web-fontSizes-6: 24px;
                --tsukham-web-fontSizes-7: 28px;
                --tsukham-web-fontSizes-8: 36px;
                --tsukham-web-fontSizes-9: 60px;
                --tsukham-web-lineHeights-1: 18px;
                --tsukham-web-lineHeights-2: 20px;
                --tsukham-web-lineHeights-3: 24px;
                --tsukham-web-lineHeights-4: 28px;
                --tsukham-web-lineHeights-5: 36px;
                --tsukham-web-lineHeights-6: 44px;
                --tsukham-web-lineHeights-7: 56px;
                --tsukham-web-lineHeights-8: 60px;
                --tsukham-web-lineHeights-9: 80px;
                --tsukham-web-fonts-system: system-ui;
                --tsukham-web-fonts-input: var(--tsukham-web-fonts-sans);
                --tsukham-web-fonts-text: var(--tsukham-web-fonts-sans);
                --tsukham-web-fonts-select: var(--tsukham-web-fonts-sans);
                --tsukham-web-fontWeights-normal: 400;
                --tsukham-web-fontWeights-bold: 600;
                --tsukham-web-fontWeights-bolder: 700;
    }
    
        .trevlo-btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            vertical-align: middle;
            -webkit-appearance: none;
            border: none;
            outline: none !important;
            background-color: var(--trevlo-base, #eca846);
            color: var(--trevlo-white, #ffffff);
            font-size: var(--trevlo-size-2xl, 16px);
            font-weight: 700;
            padding: 20px 40px;
            line-height: 1;
            transition: 500ms;
            text-transform: capitalize;
            border-radius: 6px;
            position: relative;
            overflow: hidden;
            text-align: center;
            z-index: 1;
            text-decoration: none;
        }
    
        .trevlo-btn svg {
            width: 1em;
            height: 1em;
            fill: currentColor;
        }
    
        .trevlo-btn span {
            position: relative;
            color: inherit;
            z-index: 2;
            transition: 0s;
        }
    
        .trevlo-btn i {
            position: relative;
            z-index: 2;
            font-size: 11px;
            color: inherit;
            transition: all 200ms ease;
        }
    
        .trevlo-btn:hover i {
            transform: rotate(45deg);
        }
    
        .trevlo-btn::before {
            content: "";
            position: absolute;
            top: -50%;
            left: 50%;
            transform: translateX(-50%);
            width: 150%;
            height: 150%;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            background-color: var(--trevlo-primary, #2D2330);
            transition: 700ms cubic-bezier(0.52, 1.64, 0.37, 0.66);
        }
    
        .trevlo-btn::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 150%;
            height: 150%;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            background-color: var(--trevlo-base, #eca846);
            transition-duration: 700ms;
            transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        }
    
        .trevlo-btn:hover {
            color: var(--trevlo-white, #ffffff);
        }
    
        .trevlo-btn:hover::before {
            top: 100%;
        }
    
        .trevlo-btn:hover::after {
            bottom: -50%;
        }