<app-header></app-header>
<div class="container-fuild top-70">
    <div class="container mt-5 mb-0 mb-sm-5">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-8">
                    <div class="col-sm-12 d-flex flex-column flex-sm-row justify-content-between mt-4 mt-sm-0">
                        <h4>Your Vacations</h4>
                        <span><input type="text" placeholder="Search here"
                                class="py-2 px-3 fs-6 border rounded-1 w-100 w-sm-auto"></span>
                    </div>
                    <div class="col-sm-12">
                        <div class="list-of-recently">
                            <h5 class="row text-black-50 mb-3 fw-normal">Recently saved</h5>
                            <section class="row saved-card">
                                <a target="_blank" href="#">
                                    <div class="col-xs-12 col-sm-12 col-md-9 d-flex gap-2">
                                        <figure
                                            style="background-image: url(&quot;//pyt-images.imgix.net/images/cityImages/531/glasgow-2.jpg?w=180&amp;dpr=2&amp;auto=format,compress,enhance&amp;q=20&quot;);">
                                        </figure>
                                        <aside>
                                            <h6 class="small-heading semi-bold">Sarvopari Creations's Vacation to United
                                                Kingdom</h6>
                                            <p class="meta-text color-grey mb-0 text-black-50">5 day itinerary to
                                                Glasgow</p><span
                                                class="caps-text-tiny color-grey-medium semi-bold">Recently CREATED 2
                                                DAYS AGO</span>
                                        </aside>
                                    </div>
                                    <div class="col-md-3 text-right"><span class="caps-text-small">View
                                            Itinerary</span>
                                    </div>
                                </a>
                            </section>
                            <section class="row saved-card">
                                <a target="_blank" href="#">
                                    <div class="col-xs-12 col-sm-12 col-md-9 d-flex gap-2">
                                        <figure
                                            style="background-image: url(&quot;//pyt-images.imgix.net/images/cityImages/531/glasgow-2.jpg?w=180&amp;dpr=2&amp;auto=format,compress,enhance&amp;q=20&quot;);">
                                        </figure>
                                        <aside>
                                            <h6 class="small-heading semi-bold">Sarvopari Creations's Vacation to United
                                                Kingdom</h6>
                                            <p class="meta-text color-grey mb-0 text-black-50">5 day itinerary to
                                                Glasgow</p><span
                                                class="caps-text-tiny color-grey-medium semi-bold">Recently CREATED 2
                                                DAYS AGO</span>
                                        </aside>
                                    </div>
                                    <div class="col-md-3 text-right"><span class="caps-text-small">View
                                            Itinerary</span>
                                    </div>
                                </a>
                            </section>
                            <section class="row saved-card">
                                <a target="_blank" href="#">
                                    <div class="col-xs-12 col-sm-12 col-md-9 d-flex gap-2">
                                        <figure
                                            style="background-image: url(&quot;//pyt-images.imgix.net/images/cityImages/531/glasgow-2.jpg?w=180&amp;dpr=2&amp;auto=format,compress,enhance&amp;q=20&quot;);">
                                        </figure>
                                        <aside>
                                            <h6 class="small-heading semi-bold">Sarvopari Creations's Vacation to United
                                                Kingdom</h6>
                                            <p class="meta-text color-grey mb-0 text-black-50">5 day itinerary to
                                                Glasgow</p><span
                                                class="caps-text-tiny color-grey-medium semi-bold">Recently CREATED 2
                                                DAYS AGO</span>
                                        </aside>
                                    </div>
                                    <div class="col-md-3 text-right"><span class="caps-text-small">View
                                            Itinerary</span>
                                    </div>
                                </a>
                            </section>

                            <div class="d-flex m-auto ms-auto justify-content-center mt-2 mt-sm-4 mb-3 mb-sm-0">
                                <a href="#" class="trevlo-btn"><span>All View Saved itineraries</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 mt-4">
                        <h4>Similar itineraries by others</h4>
                        <div class="col-sm-12 mt-3">
                            <div class="row gap-3 gap-sm-0">
                                <div class="col-sm-6">
                                    <div class="tour-listing__card">
                                        <a href="#" class="tour-listing__card-image-box">
                                            <img src="../../assets/bg.webp" class="ts-thumbnail-img" decoding="async"
                                                width="370" height="200">
                                            <div class="tour-listing__card-image-overlay"></div>
                                        </a>
                                        <div class="wishlist-icon">
                                            <a href="javascript:void(0)" data-post_id="872"
                                                class="tour-listing__card-wishlist trevlo-ajax-wishlist add-wishlist">
                                                <span class="material-symbols-outlined">
                                                    favorite
                                                </span>
                                            </a>
                                        </div>
                                        <div class="tour-listing__card-content">
                                            <h3 class="tour-listing__card-title">
                                                <a href="#">title</a>
                                            </h3>
                                            <p class="tour-listing__card-text text-small">There are many variations of
                                                passages of Lorem Ipsum agtilable
                                            </p>
                                            <div class="tour-listing__card-inner-content">
                                                <div>31 May</div>
                                                <div class="tour-listing__card-divider"></div>
                                                <div class="tour-listing__card-bottom">
                                                    <div class="tour-listing__card-bottom-left">
                                                        Quoted
                                                    </div>
                                                    <div class="tour-listing__card-bottom-right">
                                                        <h4 class="tour-listing__card-price">
                                                            <span class="currency_amount" data-amount="38">
                                                                <span class="currency_symbol">$</span>38.00</span>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="tour-listing__card">
                                        <a href="#" class="tour-listing__card-image-box">
                                            <img src="../../assets/bg.webp" class="ts-thumbnail-img" decoding="async"
                                                width="370" height="200">
                                            <div class="tour-listing__card-image-overlay"></div>
                                        </a>
                                        <div class="wishlist-icon">
                                            <a href="javascript:void(0)" data-post_id="872"
                                                class="tour-listing__card-wishlist trevlo-ajax-wishlist add-wishlist">
                                                <span class="material-symbols-outlined">
                                                    favorite
                                                </span>
                                            </a>
                                        </div>
                                        <div class="tour-listing__card-content">
                                            <h3 class="tour-listing__card-title">
                                                <a href="#">title</a>
                                            </h3>
                                            <p class="tour-listing__card-text text-small">There are many variations of
                                                passages of Lorem Ipsum agtilable
                                            </p>
                                            <div class="tour-listing__card-inner-content">
                                                <div>31 May</div>
                                                <div class="tour-listing__card-divider"></div>
                                                <div class="tour-listing__card-bottom">
                                                    <div class="tour-listing__card-bottom-left">
                                                        Quoted
                                                    </div>
                                                    <div class="tour-listing__card-bottom-right">
                                                        <h4 class="tour-listing__card-price">
                                                            <span class="currency_amount" data-amount="38">
                                                                <span class="currency_symbol">$</span>38.00</span>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mt-5 mt-sm-0">
                    <div class="deal-of-the-day">
                        <h4 class="text-center">Deal of the day</h4>
                        <div class="deal-of-box">
                            <a href="#">
                                <img src="../../assets/banner-bg.jpg" height="100" width="100%">
                            </a>
                            <div class="deal-box">
                                <h6>England, United Kingdom, Scotland</h6>
                                <p class="fine-text color-grey fs-6 text-black-50">12 nights itinerary to London, Bath,
                                    Birmingham,
                                    Glasgow
                                    &amp; Edinburgh from Hyderabad
                                </p>
                                <div class="d-flex fle-row justify-content-between">
                                    <label class="offer-label">Rate Fine</label>
                                    <label class="price-label">₹ 3,36,528</label>
                                </div>
                            </div>
                        </div>

                        <div class="deal-of-box">
                            <a href="#">
                                <img src="../../assets/blog-img.jpg" height="100" width="100%">
                            </a>
                            <div class="deal-box">
                                <h6>England, United Kingdom, Scotland</h6>
                                <p class="fine-text color-grey fs-6 text-black-50">12 nights itinerary to London, Bath,
                                    Birmingham,
                                    Glasgow
                                    &amp; Edinburgh from Hyderabad
                                </p>
                                <div class="d-flex fle-row justify-content-between">
                                    <label class="offer-label orange-label">Attractions</label>
                                    <label class="price-label">₹ 3,36,528</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>