<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="custom-slide">
            <img src="../../assets/slider/img.png" alt="My Image">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="custom-slide">
            <img src="../../assets/slider/img.png" alt="My Image">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="custom-slide">
            <img src="../../assets/slider/img1.png" alt="My Image">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="custom-slide">
            <img src="../../assets/slider/img2.png" alt="My Image">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="custom-slide">
            <img src="../../assets/slider/img3.png" alt="My Image">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="custom-slide">
            <img src="../../assets/slider/img4.png" alt="My Image">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="custom-slide">
            <img src="../../assets/slider/img5.png" alt="My Image">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="custom-slide">
            <img src="../../assets/slider/img1.png" alt="My Image">
        </div>
    </ng-template>
</owl-carousel-o>