<div class="finding-location-bar">
    <div class="search-bar w-100 gap-2">
        <div class="search-b">
            <input type="text" class="w-100 py-3 px-3 rounded-3" placeholder="Find a city">
            <span class="position-absolute"><svg width="1em" height="1em" viewBox="0 0 16 16"
                    class="PJLV PJLV-ijvuWzD-css">
                    <g clip-path="url(#prefix__clip0_327_16)">
                        <path fill-rule="evenodd"
                            d="M12 7A5 5 0 112 7a5 5 0 0110 0zm-2.197 5.306a6 6 0 11.846-.543l2.741 3.425a.5.5 0 01-.78.624l-2.807-3.506z"
                            clip-rule="evenodd"></path>
                    </g>
                    <defs>
                        <clipPath id="prefix__clip0_327_16">
                            <path d="M0 0h16v16H0z"></path>
                        </clipPath>
                    </defs>
                </svg></span>
        </div>
    </div>
    <h5 class="text-left my-2 w-100">Or, start with these popular choices
    </h5>
    <div class="col-sm-12">
        <div class="row gap-3 gap-sm-0 mb-3 mb-sm-0">
            <div class="col-sm-4">
                <div class="slide-content" routerLink="/customize-view">
                    <img src="../../../assets/slider/pexels-2.jpeg" class="ts-thumbnail-img img-fluid">
                    <div class="image-info">
                        <h5>Ubud, Indonesia</h5>
                        <div class="exclusive-highlight">Budget
                        </div>
                        <p>The biggest picture frame on the planet</p>
                        <ul class="related-cate">
                            <li>Theme Parks</li>
                            <li>Must see</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="slide-content" routerLink="/customize-view">
                    <img src="../../../assets/slider/pexels-2.jpeg" class="ts-thumbnail-img img-fluid">
                    <div class="image-info">
                        <h5>Ubud, Indonesia</h5>
                        <div class="exclusive-highlight">Affordable
                        </div>
                        <p>The biggest picture frame on the planet</p>
                        <ul class="related-cate">
                            <li>Theme Parks</li>
                            <li>Must see</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="slide-content" routerLink="/customize-view">
                    <img src="../../../assets/slider/pexels-2.jpeg" class="ts-thumbnail-img img-fluid">
                    <div class="image-info">
                        <h5>Ubud, Indonesia</h5>
                        <div class="exclusive-highlight">Budget
                        </div>
                        <p>The biggest picture frame on the planet</p>
                        <ul class="related-cate">
                            <li>Theme Parks</li>
                            <li>Must see</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>