<app-header></app-header>
<div class="banner-section top-70">
    <div class="d-flex d-sm-none z-1 position-relative">
        <div class="d-flex justify-content-between w-100 p-3 pb-0 align-items-center">
            <div class="d-flex">
                <h5 class="fs-6 mb-0 text-white fw-normal d-flex align-items-center"> <span class="material-symbols-outlined">
                    arrow_left_alt
                    </span> Back to Home</h5>
            </div>
            <div>
                <!-- Filter Button for Mobile Devices -->
                <div class="d-flex d-sm-none filter-button ms-auto">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#filterModal">
                        <span class="material-symbols-outlined">
                            tune
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>    
    <div class="d-flex h-100">
        <figure class="h-100 bg-set-banner">
            <img src="../../assets/bg.webp" class="img-fluid h-100 card-img">
        </figure>
        <div class="container">
            <div class="over-detail">
                <div>
                    <h5>Vietnam Holiday Tour Packages</h5>
                    <label>Take in the incredible landscapes, culture and intriguing history.
                    </label>
                    <div class="d-flex d-row gap-3 my-4">
                        <div class="duration d-flex flex-row align-items-center gap-2">
                            <span class="material-symbols-outlined">
                                timer
                            </span>
                            <div class="d-flex flex-column">
                                <label>IDEAL DURATION</label>
                                <p>3-4 Nights</p>
                            </div>
                        </div>
                        <div class="starting-price d-flex flex-row align-items-center gap-2">
                            <span class="material-symbols-outlined">
                                payments
                            </span>
                            <div class="d-flex flex-column">
                                <label>STARTING PRICE</label>
                                <p>₹30,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="our-expertise d-flex flex-column justify-content-center align-items-center">
                        <label class="fw-medium mb-1">OUR EXPERTISE</label>
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <div>
                                <span class="material-symbols-outlined">
                                    star_half
                                </span>
                                <span class="material-symbols-outlined">
                                    star
                                </span>
                                <span class="material-symbols-outlined">
                                    star
                                </span>
                                <span class="material-symbols-outlined">
                                    star
                                </span>
                                <span class="material-symbols-outlined">
                                    star
                                </span>
                            </div>
                            <p>4.7 <b class="fw-light">from</b> <b class="fw-light"> 2.6k</b> travellers</p>
                        </div>
                    </div>
                    <div class="">
                        <button class="request-call-back"><span class="material-symbols-outlined">
                                phone_callback
                            </span> Request call back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container py-4">
    <div class="row">
        <div class="col-sm-3 d-none d-sm-flex">
            <div class="filter-bar">
                <form>
                    <h6 class="my-3">Budget</h6>
                    <ul>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Below ₹ 50 k
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                <label class="form-check-label" for="defaultCheck2">
                                    ₹ 50k - ₹ 75k
                                </label>
                            </div>
                        </li>

                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                <label class="form-check-label" for="defaultCheck3">
                                    ₹ 75k - ₹ 1 L
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                <label class="form-check-label" for="defaultCheck3">
                                    ₹ 1 L - ₹ 1.5L
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                <label class="form-check-label" for="defaultCheck3">
                                    Above ₹ 2L
                                </label>
                            </div>
                        </li>
                    </ul>

                    <h6 class="my-3">No of days</h6>
                    <ul>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    3-5 days
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                <label class="form-check-label" for="defaultCheck2">
                                    4-8 days
                                </label>
                            </div>
                        </li>

                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                <label class="form-check-label" for="defaultCheck3">
                                    9-12 days
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                <label class="form-check-label" for="defaultCheck3">
                                    13-16 days
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                <label class="form-check-label" for="defaultCheck3">
                                    Above 16 days
                                </label>
                            </div>
                        </li>
                    </ul>

                    <h6 class="my-3">Hotel ratings</h6>
                    <ul>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    5 star
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                <label class="form-check-label" for="defaultCheck2">
                                    4 star
                                </label>
                            </div>
                        </li>

                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                <label class="form-check-label" for="defaultCheck3">
                                    3 star
                                </label>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="col-sm-9">
            <h5 class="mb-4">Showing 65 offers</h5>
            <div class="list-of-package">
                <div class="img-slide">
                    <app-thumbnail-slider [images]="imageSet3" [className]="class"></app-thumbnail-slider>
                </div>
                <div class="place-detail">
                    <h4>Hanoi Highlife: 3 Nights Vietnam Package</h4>
                    <label class="durations-">3 nights: <b>Hanoi (3N)</b></label>
                    <div class="voucher-gap">
                        <a><span class="material-symbols-outlined check">
                                check
                            </span>hotels</a>
                        <a><span class="material-symbols-outlined check">
                                check
                            </span>3 Activities</a>
                        <a><span class="material-symbols-outlined check">
                                check
                            </span>Travel tools</a>
                        <a><span class="material-symbols-outlined check">
                                check
                            </span>Shared transfer</a>
                        <a><span class="material-symbols-outlined check">
                                check
                            </span>24x7 concierge</a>
                    </div>
                    <div class="x-amount-view">
                        <div class="price">
                            <b>₹30,000</b>
                            <label>per person</label>
                        </div>
                        <button class="view-detail-btn" routerLink="/customize-view">View Details</button>
                    </div>
                    <div class="note-inclusion">
                        <h6>Your handpicked inclusions:</h6>
                        <p>Hanoi Water Puppet Show and Transfer Round Trip With Private Transfers</p>
                        <a href="#">+ 5 more inclusions</a>
                    </div>
                </div>
            </div>

            <div class="list-of-package">
                <div class="img-slide">
                    <app-thumbnail-slider [images]="imageSet3" [className]="class"></app-thumbnail-slider>
                </div>
                <div class="place-detail">
                    <h4>Exciting 7 Nights Vietnam Packages With Flights</h4>
                    <label class="durations-">3 nights: <b>Hanoi (3N)</b></label>
                    <div class="voucher-gap">
                        <a><span class="material-symbols-outlined check">
                                check
                            </span>hotels</a>
                        <a><span class="material-symbols-outlined check">
                                check
                            </span>3 Activities</a>
                        <a><span class="material-symbols-outlined check">
                                check
                            </span>Travel tools</a>
                        <a><span class="material-symbols-outlined check">
                                check
                            </span>Shared transfer</a>
                        <a><span class="material-symbols-outlined check">
                                check
                            </span>24x7 concierge</a>
                    </div>
                    <div class="x-amount-view">
                        <div class="price">
                            <b>₹30,000</b>
                            <label>per person</label>
                        </div>
                        <button class="view-detail-btn" routerLink="/customize-view">View Details</button>
                    </div>
                    <div class="note-inclusion">
                        <h6>Your handpicked inclusions:</h6>
                        <p>Hanoi Water Puppet Show and Transfer Round Trip With Private Transfers</p>
                        <a href="#">+ 5 more inclusions</a>
                    </div>
                </div>
            </div>

            <div class="list-of-package">
                <div class="img-slide">
                    <app-thumbnail-slider [images]="imageSet3" [className]="class"></app-thumbnail-slider>
                </div>
                <div class="place-detail">
                    <h4>Hanoi Highlife: 3 Nights Vietnam Package</h4>
                    <label class="durations-">3 nights: <b>Hanoi (3N)</b></label>
                    <div class="voucher-gap">
                        <a><span class="material-symbols-outlined check">
                                check
                            </span>hotels</a>
                        <a><span class="material-symbols-outlined check">
                                check
                            </span>3 Activities</a>
                        <a><span class="material-symbols-outlined check">
                                check
                            </span>Travel tools</a>
                        <a><span class="material-symbols-outlined check">
                                check
                            </span>Shared transfer</a>
                        <a><span class="material-symbols-outlined check">
                                check
                            </span>24x7 concierge</a>
                    </div>
                    <div class="x-amount-view">
                        <div class="price">
                            <b>₹30,000</b>
                            <label>per person</label>
                        </div>
                        <button class="view-detail-btn" routerLink="/customize-view">View Details</button>
                    </div>
                    <div class="note-inclusion">
                        <h6>Your handpicked inclusions:</h6>
                        <p>Hanoi Water Puppet Show and Transfer Round Trip With Private Transfers</p>
                        <a href="#">+ 5 more inclusions</a>
                    </div>
                </div>
            </div>

            <div class="related-package">
                <h5>Vietnam City Packages</h5>
                <app-thumbnail-slider [images]="imageSet6"></app-thumbnail-slider>
            </div>
        </div>
    </div>
</div>

<div class="w-100 ts-footer-wrapper">
    <app-footer></app-footer>
</div>


<!-- Modal Structure -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="filterModalLabel">Filter Options</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-filter [filterData]="flightFilterData"></app-filter>
        </div>
      </div>
    </div>
  </div>