<div class="side-panel-controller">
    <button class="close-icon" (click)="closeCityModal()">
        <span class="material-symbols-outlined">
            close
        </span>
    </button>
    <div class="side-panel-wrapper">
        <div class="side-panel-top-section">
            <div class="transfer-listing-header mb-3">
                <h5>Change / Add City</h5>
            </div>

            <div class="start-from">
                <div class="f-col">
                    <div class="static">
                        <span class="material-symbols-outlined">
                            flight_land
                        </span> Arrival at DPS
                    </div>
                    <a href="#" class="add-city">
                        <span class="material-symbols-outlined">
                            add
                        </span> Add City
                    </a>
                </div>
                <div class="transfer-by-ferry">
                    <span class="material-symbols-outlined delete-i">
                        delete
                    </span>
                    <span class="location-name">Nusa Penida</span>
                    <div class="d-flex flex-row justify-content-between align-items-center gap-2 ms-auto count-">
                        <button><span class="material-symbols-outlined">
                                remove
                            </span></button>
                        <label class="count-label">1</label>
                        <button><span class="material-symbols-outlined">
                                add
                            </span></button>
                    </div>
                    <div>
                        <a href="#" class="replace">
                            <span class="material-symbols-outlined">
                                published_with_changes
                            </span> Replace
                        </a>
                    </div>
                </div>
                <div class="f-col">
                    <div class="static">
                        Transfer to Canggu
                    </div>
                    <a href="#" class="add-city">
                        <span class="material-symbols-outlined">
                            add
                        </span> Add City
                    </a>
                </div>
                <div class="transfer-by-ferry">
                    <span class="material-symbols-outlined delete-i">
                        delete
                    </span>
                    <span class="location-name">Canggu</span>
                    <div class="d-flex flex-row justify-content-between align-items-center gap-2 ms-auto count-">
                        <button><span class="material-symbols-outlined">
                                remove
                            </span></button>
                        <label class="count-label">1</label>
                        <button><span class="material-symbols-outlined">
                                add
                            </span></button>
                    </div>
                    <div>
                        <a href="#" class="replace">
                            <span class="material-symbols-outlined">
                                published_with_changes
                            </span> Replace
                        </a>
                    </div>
                </div>
                <div class="f-col">
                    <div class="static">
                        <span class="material-symbols-outlined">
                            directions_boat
                        </span> Transfer to ferry
                    </div>
                    <a href="#" class="add-city">
                        <span class="material-symbols-outlined">
                            add
                        </span> Add City
                    </a>
                </div>
                <div class="transfer-by-ferry">
                    <span class="material-symbols-outlined delete-i">
                        delete
                    </span>
                    <span class="location-name">Kuta</span>
                    <div class="d-flex flex-row justify-content-between align-items-center gap-2 ms-auto count-">
                        <button><span class="material-symbols-outlined">
                                remove
                            </span></button>
                        <label class="count-label">1</label>
                        <button><span class="material-symbols-outlined">
                                add
                            </span></button>
                    </div>
                    <div>
                        <a href="#" class="replace">
                            <span class="material-symbols-outlined">
                                published_with_changes
                            </span> Replace
                        </a>
                    </div>
                </div>
                <div class="f-col">
                    <div class="static">
                        <span class="material-symbols-outlined">
                            directions_car
                        </span> Transfer to car
                    </div>
                    <a href="#" class="add-city">
                        <span class="material-symbols-outlined">
                            add
                        </span> Add City
                    </a>
                </div>
            </div>
        </div>
        <div class="modal-footer d-flex flex-row align-items-center justify-content-between px-3">
            <div class="w-50 d-flex fs-14">
                Changes will be applied after updating
            </div>
            <div class="w-auto d-flex flex-row flex-nowrap align-items-center gap-3">
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save">Save changes</button>
            </div>
        </div>
    </div>
</div>