<div class="modal fade" id="commonModal" tabindex="-1" aria-labelledby="commonModalLabel" aria-hidden="true" centered>
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <div class="col-sm-12 d-flex">
                    <div class="col-sm-5">
                        <img src="../../../assets/web-min.avif" class="img-fluid">
                    </div>
                    <div class="col-sm-7 px-4">
                        <div class="col-sm-12 mb-4">
                            <div class="modal-header">
                                <h5 class="modal-title" id="commonModalLabel">Have a question? Enter your
                                    details
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                        </div>
                        <div class="request-box">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput">Given Number</label>
                            </div>
                            <div class="w-100 d-flex gap-3">
                                <div class="w-25">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="floatingInput"
                                            placeholder="name@example.com">
                                        <label for="floatingInput">ISD</label>
                                    </div>
                                </div>
                                <div class="w-75">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="floatingInput"
                                            placeholder="name@example.com">
                                        <label for="floatingInput">Enter your mobile number</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput">Email Address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingPassword"
                                    placeholder="Preferred region">
                                <label for="floatingPassword">Preferred region</label>
                            </div>
                            <div class="col-sm-12">
                                <button
                                    class="w-100 px-3 py-3 rounded-3 request-callback-btn border-0 fw-medium">Request
                                    callback</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>