<app-header></app-header>
<div class="w-100 breadcrumb-section top-70">
    <div class="banner-content">
        <h1 class="text-white">
            blog </h1>
        <ul id="breadcrumb-list" class="breadcrumb-list">
            <li class="breadcrumb-item"><a href="https://triprex.egenslab.com"> Home </a></li>
            <li class="active"><a href="https://triprex.egenslab.com/blog-standard/">Blog Standard</a></li>
            <li class="active">Luxury Retreat</li>
        </ul>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-xl-4 col-lg-5 order-first">
            <div class="sidebar">
                <div class="search-bar">
                    <input type="text" placeholder="Search here"><button class="search-btn"><span
                            class="material-symbols-outlined">
                            search
                        </span></button>
                </div>
                <div class="category-list">
                    <div class="title">
                        <h2>Categories</h2>
                    </div>
                    <ul class="wp-block-categories-list wp-block-categories">
                        <li class="cat-item"><a href="#">Destinations &amp;
                                Finance</a> (1)
                        </li>
                        <li class="cat-item"><a href="#">Honeymoon Destinations</a> (4)
                        </li>
                        <li class="cat-item"><a href="#">Visa</a> (3)
                        </li>
                        <li class="cat-item"><a href="#">Guest Post</a> (3)
                        </li>
                        <li class="cat-item"><a href="#">Travel news</a> (1)
                        </li>
                    </ul>
                </div>

                <div class="ts-block-tag">
                    <div class="title w-100">
                        <h2>Tag</h2>
                    </div>
                    <div class="tag-list">
                        <a href="#" class="tag-cloud-link">Hannymoon</a>
                        <a href="#" class="tag-cloud-link">Budget</a>
                        <a href="#" class="tag-cloud-link">In season</a>
                        <a href="#" class="tag-cloud-link">Tranding</a>
                        <a href="#" class="tag-cloud-link">Popular</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-7">
            <div class="blog-post-card mb-4">
                <article class="blog-bx">
                    <div class="blog-list-card">
                        <div class="blog-thumbnail">
                            <a href="#" class="blog-img">
                                <img height="450" width="100%" src="../../assets/blog-img.jpg" class="" alt=""
                                    decoding="async">
                                <div class="blog__card-date">
                                    <p class="blog__card-date-month">November 23, 2023</p>
                                </div>
                            </a>
                            <div class="blog-card-content">
                                <ul class="blog__card-meta">
                                    <li>
                                        <a class="" href=""><span class="material-symbols-outlined">
                                                share
                                            </span> Share</a>
                                    </li>
                                    <li>
                                        <a class="" href=""><span class="material-symbols-outlined">
                                                favorite
                                            </span> Like</a>
                                    </li>
                                </ul>
                                <h3 class="blog__card-title">
                                    <a href="#">Sakura
                                        Dreams and Samurai Tales</a>
                                </h3>
                                <p class="blog__card-text">There are many variations of passages of Lorem Ipsum
                                    available, but the majority have
                                    suffered alteradution in some form by injected humour, or randomised words which
                                    don't look even slightly
                                    believable. If you are going</p>
                                <a href="#" class="trevlo-btn trevlo-btn--white-two"><span>Read
                                        More</span></a>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="blog-bx">
                    <div class="blog-list-card">
                        <div class="blog-thumbnail">
                            <a href="#" class="blog-img">
                                <img height="450" width="100%" src="../../assets/banner-bg.jpg" class="" alt=""
                                    decoding="async">
                                <div class="blog__card-date">
                                    <p class="blog__card-date-month">November 26, 2023</p>
                                </div>
                            </a>
                            <div class="blog-card-content">
                                <ul class="blog__card-meta">
                                    <li>
                                        <a class="" href=""><span class="material-symbols-outlined">
                                                share
                                            </span> Share</a>
                                    </li>
                                    <li>
                                        <a class="" href=""><span class="material-symbols-outlined">
                                                favorite
                                            </span> Like</a>
                                    </li>
                                </ul>
                                <h3 class="blog__card-title">
                                    <a href="#">Sakura
                                        Dreams and Samurai Tales</a>
                                </h3>
                                <p class="blog__card-text">There are many variations of passages of Lorem Ipsum
                                    available, but the majority have
                                    suffered alteradution in some form by injected humour, or randomised words which
                                    don't look even slightly
                                    believable. If you are going</p>
                                <a href="#" class="trevlo-btn trevlo-btn--white-two"><span>Read
                                        More</span></a>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="blog-bx">
                    <div class="blog-list-card">
                        <div class="blog-thumbnail">
                            <a href="#" class="blog-img">
                                <img height="450" width="100%" src="../../assets/blog-img.jpg" class="" alt=""
                                    decoding="async">
                                <div class="blog__card-date">
                                    <p class="blog__card-date-month">November 29, 2023</p>
                                </div>
                            </a>
                            <div class="blog-card-content">
                                <ul class="blog__card-meta">
                                    <li>
                                        <a class="" href=""><span class="material-symbols-outlined">
                                                share
                                            </span> Share</a>
                                    </li>
                                    <li>
                                        <a class="" href=""><span class="material-symbols-outlined">
                                                favorite
                                            </span> Like</a>
                                    </li>
                                </ul>
                                <h3 class="blog__card-title">
                                    <a href="#">Sakura
                                        Dreams and Samurai Tales</a>
                                </h3>
                                <p class="blog__card-text">There are many variations of passages of Lorem Ipsum
                                    available, but the majority have
                                    suffered alteradution in some form by injected humour, or randomised words which
                                    don't look even slightly
                                    believable. If you are going</p>
                                <a href="#" class="trevlo-btn trevlo-btn--white-two"><span>Read
                                        More</span></a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>