<app-header></app-header>
<div class="container top-70">
    <div class="trip-confimation-wrap my-5">
        <div class="trip-confimation-detail"> 
            <div class="welcome-msg">
                <h5>Dear RAVI NITINKUMAR MODI</h5>
                <p class="gray5 mb-0">Thanks for booking your trip with Travel Shukam. We wish you a pleasant journey.</p>
            </div>
            <div class="guest-detail">                
                <h5>Guest Details</h5>
                <div class="list-of-passenger">
                    <div class="d-flex flex-column gap-2">
                        <div class="">Mr. RAVI NITINKUMAR MODI</div>
                        <div class="">Ms. RIDDHI BHARATBHAI DANIDHAR</div>
                    </div>
                    <div class="guest-contact-detail">
                        <div class="d-flex flex-row gap-2">
                            <span class="material-symbols-outlined">
                                mail
                            </span>
                            <div>ravimodi4444&#64;gmail.com</div>
                        </div>
                        <div class="d-flex flex-row gap-2">
                            <span class="material-symbols-outlined">
                                call
                                </span>
                            <div>9426892584</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="trip-plan-showcase mt-3">
                <h5>Trip Plan</h5>
                <div class="arrave-from-here">
                  <div class="from-jurney-name">Flight from Ahmedabad → Phuket</div>
                  <div class="flight-row-body">
                    <div class="flight-row-airline-details"><img class="flight-row-airline-logo"
                        src="https://imgak.mmtcdn.com/flights/assets/media/mobile/common/hdpi/AI.png?v7" alt="Airline">
                      <p class="flight-row-airline-name">AI-825</p>
                    </div>
                    <div class="flight-row-right-details">
                      <div class="flight-row-basic-details">
                        <div class="flight-row-right-details-timing">
                          <div class="flight-row-timing">
                            <p>Mon, 06 Jan</p>
                            <p>Mon, 06 Jan</p>
                          </div>
                          <div class="flight-dates">
                            <div class="flight-date-text">10:30 AM
                            </div>
                            <div class="flight-row-airline-path">
                              <span class="flight-layover-time">2h 30m</span>
                              <div class="flight-air">
                                <span class="material-symbols-outlined">
                                  flight_takeoff
                                </span>
                              </div>
                              <!-- <span>2h 30m</span> -->
                            </div>
                            <div class="flight-date-text">12:30 PM
                            </div>
                          </div>
                          <div class="flight-row-airports">
                            <p>New Delhi</p>
                            <p>Srinagar</p>
                          </div>
                        </div>
                      </div>
                      <div class="flight-price-row">
                        <div class="d-flex flex-column gap-2">
                          <div class="font12">Airline PNR</div>
                          <div class="font14"><b>MBSDSA</b></div>
                        </div>
                        <div class="d-flex flex-column gap-2">
                          <div class="font14">Baggage 20 KG</div>
                          <div class="font14">Meals At Extra Cost</div>
                        </div>
                      </div>
                    </div>
                  </div>
                
                  <div class="connectivity-line">
                    <div class="ferry-center"><span _ngcontent-ng-c530973504="" class="material-symbols-outlined"> flight_takeoff
                      </span> 2h 25m layover in Bangalore </div>
                    <div class="dot-connection"></div>
                  </div>
                  <div class="flight-row-body">
                    <div class="flight-row-airline-details"><img class="flight-row-airline-logo"
                        src="https://imgak.mmtcdn.com/flights/assets/media/mobile/common/hdpi/AI.png?v7" alt="Airline">
                      <p class="flight-row-airline-name">AI-825</p>
                    </div>
                    <div class="flight-row-right-details">
                      <div class="flight-row-basic-details">
                        <div class="flight-row-right-details-timing">
                          <div class="flight-row-timing">
                            <p>Mon, 06 Jan</p>
                            <p>Mon, 06 Jan</p>
                          </div>
                          <div class="flight-dates">
                            <div class="flight-date-text">10:30 AM
                            </div>
                            <div class="flight-row-airline-path">
                              <span class="flight-layover-time">2h 30m</span>
                              <div class="flight-air">
                                <span class="material-symbols-outlined">
                                  flight_takeoff
                                </span>
                              </div>
                              <!-- <span>2h 30m</span> -->
                            </div>
                            <div class="flight-date-text">12:30 PM
                            </div>
                          </div>
                          <div class="flight-row-airports">
                            <p>New Delhi</p>
                            <p>Srinagar</p>
                          </div>
                        </div>
                      </div>
                      <div class="flight-price-row">
                        <div class="d-flex flex-column gap-2">
                          <div class="font12">Airline PNR</div>
                          <div class="font14"><b>MBSDSA</b></div>
                        </div>
                        <div class="d-flex flex-column gap-2">
                          <div class="font14">Baggage 20 KG</div>
                          <div class="font14">Meals At Extra Cost</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="arrave-from-here mt-3">
                  <div class="from-jurney-name">Flight from Phuket → Ahmedabad</div>
                  <div class="flight-row-body">
                    <div class="flight-row-airline-details"><img class="flight-row-airline-logo"
                        src="https://imgak.mmtcdn.com/flights/assets/media/mobile/common/hdpi/AI.png?v7" alt="Airline">
                      <p class="flight-row-airline-name">AI-825</p>
                    </div>
                    <div class="flight-row-right-details">
                      <div class="flight-row-basic-details">
                        <div class="flight-row-right-details-timing">
                          <div class="flight-row-timing">
                            <p>Mon, 06 Jan</p>
                            <p>Mon, 06 Jan</p>
                          </div>
                          <div class="flight-dates">
                            <div class="flight-date-text">10:30 AM
                            </div>
                            <div class="flight-row-airline-path">
                              <span class="flight-layover-time">2h 30m</span>
                              <div class="flight-air">
                                <span class="material-symbols-outlined">
                                  flight_takeoff
                                </span>
                              </div>
                              <!-- <span>2h 30m</span> -->
                            </div>
                            <div class="flight-date-text">12:30 PM
                            </div>
                          </div>
                          <div class="flight-row-airports">
                            <p>New Delhi</p>
                            <p>Srinagar</p>
                          </div>
                        </div>
                      </div>
                      <div class="flight-price-row">
                        <div class="d-flex flex-column gap-2">
                          <div class="font12">Airline PNR</div>
                          <div class="font14"><b>MBSDSA</b></div>
                        </div>
                        <div class="d-flex flex-column gap-2">
                          <div class="font14">Baggage 20 KG</div>
                          <div class="font14">Meals At Extra Cost</div>
                        </div>
                      </div>
                    </div>
                  </div>
                
                  <div class="connectivity-line">
                    <div class="ferry-center"><span _ngcontent-ng-c530973504="" class="material-symbols-outlined"> flight_takeoff
                      </span>3h 45m layover in Delhi</div>
                    <div class="dot-connection"></div>
                  </div>
                  <div class="flight-row-body">
                    <div class="flight-row-airline-details"><img class="flight-row-airline-logo"
                        src="https://imgak.mmtcdn.com/flights/assets/media/mobile/common/hdpi/AI.png?v7" alt="Airline">
                      <p class="flight-row-airline-name">AI-825</p>
                    </div>
                    <div class="flight-row-right-details">
                      <div class="flight-row-basic-details">
                        <div class="flight-row-right-details-timing">
                          <div class="flight-row-timing">
                            <p>Mon, 06 Jan</p>
                            <p>Mon, 06 Jan</p>
                          </div>
                          <div class="flight-dates">
                            <div class="flight-date-text">10:30 AM
                            </div>
                            <div class="flight-row-airline-path">
                              <span class="flight-layover-time">2h 30m</span>
                              <div class="flight-air">
                                <span class="material-symbols-outlined">
                                  flight_takeoff
                                </span>
                              </div>
                              <!-- <span>2h 30m</span> -->
                            </div>
                            <div class="flight-date-text">12:30 PM
                            </div>
                          </div>
                          <div class="flight-row-airports">
                            <p>New Delhi</p>
                            <p>Srinagar</p>
                          </div>
                        </div>
                      </div>
                      <div class="flight-price-row">
                        <div class="d-flex flex-column gap-2">
                          <div class="font12">Airline PNR</div>
                          <div class="font14"><b>MBSDSA</b></div>
                        </div>
                        <div class="d-flex flex-column gap-2">
                          <div class="font14">Baggage 20 KG</div>
                          <div class="font14">Meals At Extra Cost</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>                
          

            <div class="trip-confirm-hotel mt-3">
              <div class="from-jurney-name">2 Nights in Krabi</div>
              <div class="hotel-row-body">
                <div class="d-flex flex-column flex-sm-row gap-3">
                  <div class="confirm-hotel-img rounded-2">
                    <img _ngcontent-ng-c1257212942="" width="243" height="144" src="https://r2imghtlak.mmtcdn.com/r2-mmt-htl-image/htl-imgs/202310201429051876-b31162a1-94b0-4bce-b816-18209cb3e3cd.jpg?&amp;downsize=900:675&amp;output-format=jpg" class="borderRadius4 vrtTop active rounded-2">               
                  </div> 
                  <div class="confirm-hotel-detail">
                    <div class="lft-sec">
                      <h5>Aonang Phu Petra Resort Krabi</h5>
                      <p class="mb-2 font14">521 Moo 2 Soi 11 Tumbol Aonang Ampu, Phone: +66 75 626 666</p>
                      <div class="d-flex flex-row gap-2 font14"><label class="gray6">Room:</label>Gloriyo Hillside Villa (Breakfast)</div>                  

                      <div class="trip-check-in gap-5 mt-2">
                        <div class="check-in-time gap-1 align-items-end d-flex">
                          <label class="font12 gray6">Check-in</label>
                          <span class="font14">Feb 27</span>
                          <label class="font11 gray5 text-end">Check-in time 02:00 PM</label>
                        </div>
                        <div class="stay-time  align-items-center">
                          <span class="material-symbols-outlined font14">
                            arrow_right_alt
                            </span>
                            <label class="font12 gray6 text-center">2 nights</label>
                        </div>
                        <div class="check-in-time gap-1 align-items-start">
                          <label class="font12 gray6">Check-in</label>
                          <span class="font14">Feb 29</span>
                          <label class="font11 gray5">Check-in time 02:00 PM</label>
                        </div>
                      </div>
                  </div>
                  <div class="hotel-confirmation-no">   
                    <label>Confimation No.</label>
                    00356
                  </div>
                  </div>
                </div>
                <div class="trip-hotel-includes">                
                  <h6>Includes:</h6>
                  <ul>
                      <li><span class="material-symbols-outlined font14">
                        arrow_right_alt
                        </span>2 nights in Krabi</li>
                      <li>                      <span class="material-symbols-outlined font14">
                        arrow_right_alt
                        </span>Stay at Aonang Phu Petra Resort Krabi (4 star)</li>
                      <li>                      <span class="material-symbols-outlined font14">
                        arrow_right_alt
                        </span>Gloriyo Hillside Villa (Breakfast)</li>
                      <li>                      <span class="material-symbols-outlined font14">
                        arrow_right_alt
                        </span>Room Included - Gloriyo Hillside Villa (Breakfast)</li>
                      <li><span class="material-symbols-outlined font14">
                        arrow_right_alt
                        </span>Phuket Airport to Krabi - Private Transfers by Road</li>
                      <li><span class="material-symbols-outlined font14">
                        arrow_right_alt
                        </span>Full Day Krabi Four Island Tour - Long Tail Boat - Seat in Coach</li>
                      <li><span class="material-symbols-outlined font14">
                        arrow_right_alt
                        </span>Krabi to Phuket - Ferry + Transfers (Seat in Coach)</li>                    
                  </ul>
                </div>
              </div>
            </div>

            <div class="trip-confirm-hotel mt-3">
              <div class="from-jurney-name">3 Nights in Phuket</div>
              <div class="hotel-row-body">
                <div class="d-flex flex-column flex-sm-row gap-3">
                  <div class="confirm-hotel-img rounded-2">
                    <img _ngcontent-ng-c1257212942="" width="243" height="144" src="https://r2imghtlak.mmtcdn.com/r2-mmt-htl-image/htl-imgs/202310201429051876-b31162a1-94b0-4bce-b816-18209cb3e3cd.jpg?&amp;downsize=900:675&amp;output-format=jpg" class="borderRadius4 vrtTop active rounded-2">               
                  </div> 
                  <div class="confirm-hotel-detail">
                    <div class="lft-sec">
                      <h5>Aonang Phu Petra Resort Phuket</h5>
                      <p class="mb-2 font14">521 Moo 2 Soi 11 Tumbol Aonang Ampu, Phone: +66 75 626 666</p>
                      <div class="d-flex flex-row gap-2 font14"><label class="gray6">Room:</label>Gloriyo Hillside Villa (Breakfast)</div>                  

                      <div class="trip-check-in gap-5 mt-2">
                        <div class="check-in-time gap-1 align-items-end d-flex">
                          <label class="font12 gray6">Check-in</label>
                          <span class="font14">Feb 27</span>
                          <label class="font11 gray5 text-end">Check-in time 02:00 PM</label>
                        </div>
                        <div class="stay-time  align-items-center">
                          <span class="material-symbols-outlined font14">
                            arrow_right_alt
                            </span>
                            <label class="font12 gray6 text-center">3 nights</label>
                        </div>
                        <div class="check-in-time gap-1 align-items-start">
                          <label class="font12 gray6">Check-in</label>
                          <span class="font14">Feb 29</span>
                          <label class="font11 gray5">Check-in time 02:00 PM</label>
                        </div>
                      </div>
                  </div>
                  <div class="hotel-confirmation-no">   
                    <label>Confimation No.</label>
                    00357
                  </div>
                  </div>
                </div>
                <div class="trip-hotel-includes">                
                  <h6>Includes:</h6>
                  <ul>
                      <li><span class="material-symbols-outlined font14">
                        arrow_right_alt
                        </span>3 nights in Phuket</li>
                      <li>                      <span class="material-symbols-outlined font14">
                        arrow_right_alt
                        </span>Stay at Aonang Phu Petra Resort Phuket (4 star)</li>
                      <li>                      <span class="material-symbols-outlined font14">
                        arrow_right_alt
                        </span>Gloriyo Hillside Villa (Breakfast)</li>
                      <li>                      <span class="material-symbols-outlined font14">
                        arrow_right_alt
                        </span>Room Included - Gloriyo Hillside Villa (Breakfast)</li>
                      <li><span class="material-symbols-outlined font14">
                        arrow_right_alt
                        </span>Phuket Airport to Phuket - Private Transfers by Road</li>
                      <li><span class="material-symbols-outlined font14">
                        arrow_right_alt
                        </span>Full Day Phuket Four Island Tour - Long Tail Boat - Seat in Coach</li>
                      <li><span class="material-symbols-outlined font14">
                        arrow_right_alt
                        </span>Phuket to Phuket - Ferry + Transfers (Seat in Coach)</li>                    
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="addon-activity-facility mt-0 mt-sm-4">
            <h5 class="mb-3">Addon Facilities</h5>
            <div class="addon-card">
              <div class="addon-add-hotel hotel-img">
                <h4>Hotel</h4>
                <span class="material-symbols-outlined">
                  hotel
                </span>
                <button (click)="openHotelModal()">Add Hotel</button>
              </div>
              <div class="addon-add-hotel cruise-img">
                <h4>Flight</h4>
                <span class="material-symbols-outlined">
                  travel
                  </span>
                <button (click)="openFlightModal()">Add Flight</button>
              </div>
              <div class="addon-add-hotel transport-img">
                <h4>Transport</h4>
                <span class="material-symbols-outlined">
                  directions_bus
                  </span>
                <button (click)="openModal1()">Add Transport</button>
              </div>              
            </div>
          </div>
        </div>

        <div class="trip-confitmation-payment">
            <div class="d-flex flex-column trip-payment-amount">
              <label class="font14">Total Price:</label>
              <span class="fw-bold">₹ 94,983</span>
            </div>

            <div class="tour-policy-bx mt-3">
              <a href="#"> <span class="material-symbols-outlined">
                  mail
                </span> Add Email</a>
              <a href="#"><span class="material-symbols-outlined">
                  policy
                </span> Cancellation Policy</a>
              <a href="#"><span class="material-symbols-outlined">
                  download
                </span> Download PDF</a>
              <a href="#"><span class="material-symbols-outlined">
                  download
                </span> Print Itinerary PDF</a>
            </div>
        </div>
    </div>    
</div>


<app-change-transfer-modal *ngIf="isModalOpen" (close)="closeModal()"></app-change-transfer-modal>
<app-change-hotel-modal *ngIf="isHModalOpen" (close)="closeHotelModal()"></app-change-hotel-modal>
<app-change-flight-modal *ngIf="isFModalOpen" (close)="closeFlightModal()"></app-change-flight-modal>