<div class="side-panel-controller">
    <div class="side-panel-wrapper">
        <div class="side-panel-top-section">
            <h5 class="mb-0">View benefits 
                <button class="close-icon" (click)="closeViewBModal()">
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </button>
            </h5>
        </div>           
            <div class="insurance-benefits">
                <div class="overlay-benefits-list mb-3" title="">                    
                    <div class="flex">
                        <p class="font14 mb-2">
                            <span class="fw-semibold text-black"> Baggage Assistance</span>
                            <span class="green-text">
                                <b class="fw-semibold"> 24x7 </b>support
                            </span>
                        </p>
                        <p class="font13 gray6 d-flex lh-sm">Get assistance in case your checked-in baggage is delayed/lost
                        </p>
                    </div>
                </div>
                <div class="overlay-benefits-list mb-3" title="">
                    <div class="flex">
                        <p class="font14 mb-2">
                            <span class="fw-semibold text-black"> <b class="fw-semibold">Personal Accident</b></span>
                            <span class="green-text"> Flat<b class="fw-semibold"> ₹ 50,000 </b></span>
                        </p>
                        <p class="font13 gray6 d-flex lh-sm">Provides coverage up to the sum insured for cases of death or
                            permanent disability to the insured person resulting from an accident during the trip.</p>
                    </div>
                </div>
                <div class="overlay-benefits-list mb-3" title="">
                    <div class="flex">
                        <p class="font14 mb-2">
                            <span class="fw-semibold text-black"> <b class="fw-semibold">Loss of Checked-ln Baggage</b></span>
                            <span class="green-text"> Flat<b class="fw-semibold"> ₹ 1,800 </b></span>
                        </p>
                        <p class="font13 gray6 d-flex lh-sm">For the total loss of checked-in baggage by the airline. The
                            cover is limited to the travel destinations specified in the Proposal Form. All halts and via
                            destinations included in this air travel ticket will be covered under this benefit.</p>
                    </div>
                </div>
                <div class="overlay-benefits-list mb-3" title="Delay of checked in baggage">
                    <div class="flex">
                        <p class="font14 mb-2">
                            <span class="fw-semibold text-black"> <b class="fw-semibold">Delay of Checked-in Baggage</b></span>
                            <span class="green-text"> Flat<b class="fw-semibold"> ₹ 1,800 </b></span>
                        </p>
                        <p class="font13 gray6 d-flex lh-sm">If your checked-in baggage is delayed by more than 4 hours
                            from the expected time of delivery, by the airline.</p>
                    </div>
                </div>
                <div class="overlay-benefits-list mb-3" title="">
                    <div class="flex">
                        <p class="font14 mb-2">
                            <span class="fw-semibold text-black"> <b class="fw-semibold">Missed Flight</b></span>
                            <span class="green-text"> Flat<b class="fw-semibold"> ₹ 2,000 </b></span>
                        </p>
                        <p class="font13 gray6 d-flex lh-sm">If a connecting flight has been missed due to cancellation or
                            delay of the prior flight purchased along with this insurance.</p>
                    </div>
                </div>
                <div class="overlay-benefits-list mb-3" title="">                    
                    <div class="flex">
                        <p class="font14 mb-2">
                            <span class="fw-semibold text-black"> <b class="fw-semibold">Common Carrier Cancellation</b></span>
                            <span class="green-text"> upto<b class="fw-semibold"> ₹ 2,800 </b></span>
                        </p>
                        <p class="font13 gray6 d-flex lh-sm">Covers if the trip is cancelled before the trip start date by
                            the airlines.</p>
                    </div>
                </div>
                <div class="overlay-benefits-list mb-3" title="">
                    <div class="flex">
                        <p class="font14 mb-2">
                            <span class="fw-semibold text-black"> <b class="fw-semibold">Diverted Flight</b></span>
                            <span class="green-text"> Flat<b class="fw-semibold"> ₹ 2,000 </b></span>
                        </p>
                        <p class="font13 gray6 d-flex lh-sm">When the flight is diverted due to emergency situations.</p>
                    </div>
                </div>
                <div class="overlay-benefits-list mb-3" title="">
                    <div class="flex">
                        <p class="font14 mb-2">
                            <span class="fw-semibold text-black"> <b class="fw-semibold">Common Carrier Delay</b></span>
                            <span class="green-text"> Flat<b class="fw-semibold"> ₹ 1,000 </b></span>
                        </p>
                        <p class="font13 gray6 d-flex lh-sm">In case the flight is delayed by 120 minutes or more</p>
                    </div>
                </div>
                <div class="overlay-benefits-list mb-3" title="">
                    <span class="bg-properties icon-24"></span>
                    <div class="flex">
                        <p class="font14">
                            <span class="fw-semibold text-black"> Emergency Assistance</span>
                            <span class="green-text"> <b class="fw-semibold"> 24x7 </b>support</span>
                        </p>
                    </div>
                </div>
                <!-- Repeat for other benefits -->
            </div>
    </div>
</div>