<app-header></app-header>
<div class="container-fluid px-0 top-70">
    <div class="guides-wrap">
        <div class="container align-items-center justify-content-center d-flex flex-column px-3">
            <h1>New Zealand <br>
                TRAVEL GUIDES</h1>
            <img src="../../assets/flag-new-zealand.avif" class="c-flag mb-3">
            <ul id="breadcrumb-list" class="breadcrumb-list">
                <li class="breadcrumb-item"><a href="#"> Home </a></li>
                <li class="breadcrumb-item"><a href="#"> Guides </a></li>
                <li class="active">New Zealand</li>
            </ul>
            <input type="text" placeholder="enter guide">
        </div>
    </div>
    <div class="featured-footer">
        <div class="container">
        </div>
    </div>

    <div>
        <div class="container px-0">
            <div class="col-sm-12">
                <div class="planning-section">
                    <div class="section-navigation container px-0"><a class="section-nav-item overview"><img
                                src="//pickyourtrail-guides-images.imgix.net/images/icons/binocular.svg?dpr=2&amp;auto=format,compress,enhance&amp;q=20">
                            <h5>Overview</h5>
                        </a><a class="section-nav-item planning"><img
                                src="//pickyourtrail-guides-images.imgix.net/images/icons/planning.svg?dpr=2&amp;auto=format,compress,enhance&amp;q=20">
                            <h5>Planning</h5>
                        </a><a class="section-nav-item destinations"><img
                                src="//pickyourtrail-guides-images.imgix.net/images/icons/destination.svg?dpr=2&amp;auto=format,compress,enhance&amp;q=20">
                            <h5>Destinations</h5>
                        </a><a class="section-nav-item see-n-do"><img
                                src="//pickyourtrail-guides-images.imgix.net/images/icons/see-and-do.svg?dpr=2&amp;auto=format,compress,enhance&amp;q=20">
                            <h5>See &amp; Do</h5>
                        </a><a class="section-nav-item around"><img
                                src="//pickyourtrail-guides-images.imgix.net/images/icons/around.svg?dpr=2&amp;auto=format,compress,enhance&amp;q=20">
                            <h5>Around</h5>
                        </a><a class="section-nav-item expenses"><img
                                src="//pickyourtrail-guides-images.imgix.net/images/icons/expenses.svg?dpr=2&amp;auto=format,compress,enhance&amp;q=20">
                            <h5>Expenses</h5>
                        </a><a class="section-nav-item wisdom"><img
                                src="//pickyourtrail-guides-images.imgix.net/images/icons/wisdom.svg?dpr=2&amp;auto=format,compress,enhance&amp;q=20">
                            <h5>Wisdom</h5>
                        </a><a class="section-nav-item eat-n-drink"><img
                                src="//pickyourtrail-guides-images.imgix.net/images/icons/eat-and-drink.svg?dpr=2&amp;auto=format,compress,enhance&amp;q=20">
                            <h5>Eat &amp; drink</h5>
                        </a><a class="section-nav-item survival"><img
                                src="//pickyourtrail-guides-images.imgix.net/images/icons/survival.svg?dpr=2&amp;auto=format,compress,enhance&amp;q=20">
                            <h5>Survival</h5>
                        </a></div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-sm-12">
                <div class="overview-section">
                    <p>New Zealand is an island nation that lies in the southwestern Pacific Ocean Extended. The country
                        has two main islands,
                        namely the North island and the South, both of which you should visit during your New Zealand
                        trip. Between the two
                        islands the landscapes are dramatically different. While the North island has the iconic Mt.
                        Victoria, South Island's
                        Fiordland and lakes is where the the Lord of the Rings movie series were shot. Culture, food and
                        beauty, New Zealand has
                        it all. New Zealand travel plans have become increasingly popular over the last decade with
                        families, honeymooners,
                        adventurists and beach lovers all bringing themselves to this beautiful destination for an
                        experience of a lifetime. We
                        generally suggest a New Zealand travel itinerary for around 2 weeks to cover the North and South
                        Island of this
                        beautiful country. You can plan your tailor-made New Zealand trip after speaking with our travel
                        experts who will help
                        you make the most of your vacation.</p>

                    <div class="info-item">
                        <div class="download">
                            <span class="material-symbols-outlined">
                                timelapse
                            </span>
                            <div>
                                <span>IDEL Duration</span>
                                <label>13-15 nights</label>
                            </div>
                        </div>
                        <div class="download">
                            <span class="material-symbols-outlined">
                                sunny_snowing
                            </span>
                            <div>
                                <span>Best time to go</span>
                                <label>Oct-Mar</label>
                            </div>
                        </div>
                        <div class="download">
                            <span class="material-symbols-outlined">
                                currency_rupee_circle
                            </span>
                            <div>
                                <span>AVG. ROUND TRIP COST
                                </span>
                                <label>62500 from Chennai
                                </label>
                            </div>
                        </div>
                        <div class="download">
                            <span class="material-symbols-outlined">
                                timelapse
                            </span>
                            <div>
                                <span>VISA PROCESSING
                                </span>
                                <label>Min 15 working days
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 mt-3 mt-sm-5 bg-black">
            <div class="d-flex flex-column flex-sm-row">
                <div class="col-sm-6">
                    <img src="../../assets/blog-img.jpg" class="img-fluid">
                </div>
                <div class="col-sm-6 py-4 px-4 text-white">
                    <h4 class="mt-4 mb-3">Planning your trip to New Zealand</h4>
                    <p class="text-secondary">Flights operate from most Indian International airports to Auckland.
                        Auckland International
                        Airport, Christchurch
                        International Airport are the most popular choices for arrival among travellers. Popular
                        operators in this route are
                        Singapore Airlines, China southern, Air Asia and Malaysian Airlines.</p>
                    <p class="text-secondary">Best rates for this route is usually available when you book 6-7 months
                        prior.
                    </p>

                    <div class="col-sm-12">
                        <div class="row gap-3 gap-sm-0">
                            <div class="col-sm-6">
                                <div
                                    class="desk-box rounded-2 d-flex flex-column align-items-center justify-content-around py-4">
                                    <label>Cost of visa</label>
                                    <span>11500 INR</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div
                                    class=" desk-box rounded-2 d-flex flex-column align-items-center justify-content-around py-4">
                                    <label>Processing time
                                    </label>
                                    <span>Min 15 working days
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h3 class="my-4">Popular destinations in New Zealand</h3>
    <app-thumbnail-slider [images]="imageSet5"></app-thumbnail-slider>
</div>


<div class="container my-4 my-sm-5">
    <div class="col-sm-12 d-flex align-items-center justify-content-start">
        <h4 class="mb-0 mb-sm-3">Survival guide</h4>
    </div>
    <div class="col-sm-12 explore-tab mt-2 mt-sm-4">
        <ul>
            <li (click)="onTabClick1('Electricity')" [class.active]="activeTab1 === 'Electricity'">Electricity</li>
            <li (click)="onTabClick1('destinations')" [class.active]="activeTab1 === 'destinations'">Sim & Data
                roaming</li>
            <li (click)="onTabClick1('thingsToDo')" [class.active]="activeTab1 === 'thingsToDo'">Cash & cards</li>
            <li (click)="onTabClick1('placesToVisit')" [class.active]="activeTab1 === 'placesToVisit'">Health &
                Insurance
            </li>
        </ul>
        <div class="tab-section-preview">
            <div *ngIf="activeTab1 === 'Electricity'" class="tab-first">
                <p>The power sockets in New Zealand are of Type I.</p>
                <p>The voltage here is 220 volts at 50 Hz and it is the same as that we have in India
                </p>
                <p>Your appliances used in India will require a power plug adapter for these socket types
                </p>
                <p>You can get your universal adapters in any electrical appliances shop or can order it on online
                </p>
            </div>
            <div *ngIf="activeTab1 === 'destinations'" class="tab-first">
                <p>The power sockets in New Zealand are of Type I.</p>
                <p>The voltage here is 220 volts at 50 Hz and it is the same as that we have in India
                </p>
                <p>Your appliances used in India will require a power plug adapter for these socket types
                </p>
                <p>You can get your universal adapters in any electrical appliances shop or can order it on online
                </p>
            </div>
            <div *ngIf="activeTab1 === 'thingsToDo'" class="tab-first">
                <p>The power sockets in New Zealand are of Type I.</p>
                <p>The voltage here is 220 volts at 50 Hz and it is the same as that we have in India
                </p>
                <p>Your appliances used in India will require a power plug adapter for these socket types
                </p>
                <p>You can get your universal adapters in any electrical appliances shop or can order it on online
                </p>
            </div>
            <div *ngIf="activeTab1 === 'placesToVisit'" class="tab-first">
                <p>The power sockets in New Zealand are of Type I.</p>
                <p>The voltage here is 220 volts at 50 Hz and it is the same as that we have in India
                </p>
                <p>Your appliances used in India will require a power plug adapter for these socket types
                </p>
                <p>You can get your universal adapters in any electrical appliances shop or can order it on online
                </p>
            </div>
        </div>
    </div>
</div>

<div class="w-100 py-5 pb-3 pb-sm-5" style="background-color: rgb(252, 243, 233);">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 mb-4 text-center">
                <h3>Getting around New Zealand</h3>
            </div>
            <div class="col-sm-3">
                <div class="card-b">
                    <div>
                        <span class="material-symbols-outlined">
                            train
                        </span>
                        <h5>Public Transport</h5>
                    </div>
                    <p>Buses are the most common mode of public transportation in New Zealand. They are cheap and are an
                        environmentally
                        friendly option in New Zealand especially between major towns. If you are planning a New Zealand
                        trip on a budget, then
                        you should definitely make use of the excellent bus connectivity. Buses are closely followed by
                        trains which are quite
                        frequently used in Auckland and Wellington. Furthermore, Ferries are also used in few of the
                        cities
                        in New Zealand which
                        include Auckland. Trams are no longer used in the country.</p>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card-b">
                    <div>
                        <span class="material-symbols-outlined">
                            car_rental
                        </span>
                        <h5>Driving & Car rental
                        </h5>
                    </div>
                    <p>Frequent shuttles and taxis are available at the airport. Some of the popular service providers
                        that you can make use of
                        include Skybus, Supershuttle, Green Cabs, Alert Taxis, Blue Star Taxis, and Capital Taxis.</p>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card-b">
                    <div>
                        <span class="material-symbols-outlined">
                            airport_shuttle
                        </span>
                        <h5>Taxi & Airport transfer
                        </h5>
                    </div>
                    <p>Transport passes are a great way to get around New Zealand at a cheaper price. Intercity and
                        Nakedbus networks offer hop
                        on and hop off transport passes. They can be bought online and the price varies depending on the
                        route and the season of
                        travel.</p>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card-b">
                    <div>
                        <span class="material-symbols-outlined">
                            confirmation_number
                        </span>
                        <h5>Transport & city passes
                        </h5>
                    </div>
                    <p class="">Self-driving is a very popular mode of commute in New Zealand. It is highly recommended
                        if you
                        are looking to explore
                        some of the remote and gorgeous parts of New Zealand at your own pace, as these may not fall
                        within the bus/train
                        routes. There are several car rental companies and the process is also fairly straightforward.
                        Make sure to abide by the
                        road rules and other safety measures applicable to New Zealand.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container my-5">
    <div class="col-sm-12 d-flex align-items-center justify-content-start">
        <h4>Travel Wisdom
        </h4>
    </div>
    <div class="col-sm-12 explore-tab mt-0 mt-sm-4">
        <ul>
            <li (click)="onTabClick('basic')" [class.active]="activeTab === 'basic'">Basic</li>
            <li (click)="onTabClick('know-your')" [class.active]="activeTab === 'know-your'">Know your mori</li>
            <li (click)="onTabClick('custom')" [class.active]="activeTab === 'custom'">Customs and immigration
            </li>
        </ul>
        <div class="tab-section-preview">
            <div *ngIf="activeTab === 'basic'" class="tab-first">
                <h5>Culture & Etiquette</h5>
                <p>Most New Zealanders trace their roots back to the British and so the language spoken is English.
                    Polynesian influence
                    has brought the Maori culture too, who are highly respected for their culture. Greet a New Zealander
                    with the term 'Kia
                    Ora'. You will find them refreshingly simple people to mingle with. Maori customs such as 'Hongi'
                    have
                    people rubbing
                    noses as a greeting. New Zealanders are very social and love picnics, barbeques and a everything
                    outdoor.</p>

                <h5>Major events & Public holidays</h5>
                <p>Most New Zealanders trace their roots back to the British and so the language spoken is English.
                    Polynesian influence
                    has brought the Maori culture too, who are highly respected for their culture. Greet a New Zealander
                    with the term 'Kia
                    Ora'. You will find them refreshingly simple people to mingle with. Maori customs such as 'Hongi'
                    have
                    people rubbing
                    noses as a greeting. New Zealanders are very social and love picnics, barbeques and a everything
                    outdoor.</p>

                <h5>Road rules and driving license</h5>
                <p>Most New Zealanders trace their roots back to the British and so the language spoken is English.
                    Polynesian influence
                    has brought the Maori culture too, who are highly respected for their culture. Greet a New Zealander
                    with the term 'Kia
                    Ora'. You will find them refreshingly simple people to mingle with. Maori customs such as 'Hongi'
                    have
                    people rubbing
                    noses as a greeting. New Zealanders are very social and love picnics, barbeques and a everything
                    outdoor.</p>
            </div>
            <div *ngIf="activeTab === 'know-your'" class="tab-first">
                <h5>Major events & Public holidays</h5>
                <p>Most New Zealanders trace their roots back to the British and so the language spoken is English.
                    Polynesian influence
                    has brought the Maori culture too, who are highly respected for their culture. Greet a New Zealander
                    with the term 'Kia
                    Ora'. You will find them refreshingly simple people to mingle with. Maori customs such as 'Hongi'
                    have
                    people rubbing
                    noses as a greeting. New Zealanders are very social and love picnics, barbeques and a everything
                    outdoor.</p>

                <h5>Road rules and driving license</h5>
                <p>Most New Zealanders trace their roots back to the British and so the language spoken is English.
                    Polynesian influence
                    has brought the Maori culture too, who are highly respected for their culture. Greet a New Zealander
                    with the term 'Kia
                    Ora'. You will find them refreshingly simple people to mingle with. Maori customs such as 'Hongi'
                    have
                    people rubbing
                    noses as a greeting. New Zealanders are very social and love picnics, barbeques and a everything
                    outdoor.</p>
            </div>
            <div *ngIf="activeTab === 'custom'" class="tab-first">
                <h5>Culture & Etiquette</h5>
                <p>Most New Zealanders trace their roots back to the British and so the language spoken is English.
                    Polynesian influence
                    has brought the Maori culture too, who are highly respected for their culture. Greet a New Zealander
                    with the term 'Kia
                    Ora'. You will find them refreshingly simple people to mingle with. Maori customs such as 'Hongi'
                    have
                    people rubbing
                    noses as a greeting. New Zealanders are very social and love picnics, barbeques and a everything
                    outdoor.</p>

                <h5>Major events & Public holidays</h5>
                <p>Most New Zealanders trace their roots back to the British and so the language spoken is English.
                    Polynesian influence
                    has brought the Maori culture too, who are highly respected for their culture. Greet a New Zealander
                    with the term 'Kia
                    Ora'. You will find them refreshingly simple people to mingle with. Maori customs such as 'Hongi'
                    have
                    people rubbing
                    noses as a greeting. New Zealanders are very social and love picnics, barbeques and a everything
                    outdoor.</p>

                <h5>Road rules and driving license</h5>
                <p>Most New Zealanders trace their roots back to the British and so the language spoken is English.
                    Polynesian influence
                    has brought the Maori culture too, who are highly respected for their culture. Greet a New Zealander
                    with the term 'Kia
                    Ora'. You will find them refreshingly simple people to mingle with. Maori customs such as 'Hongi'
                    have
                    people rubbing
                    noses as a greeting. New Zealanders are very social and love picnics, barbeques and a everything
                    outdoor.</p>
            </div>
        </div>
    </div>
</div>